+font('r', 'Roboto')
+font('rm', 'Robotomedium')
+font('rb', 'Robotobold')

+font('ex', 'exo2')
+font('exm', 'exo2medium')
+font('exb', 'exo2bold')
+font('exs', 'exo2semibold')

=ex
  font-family: 'ex', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font
=exm
  font-family: 'exm', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font
=exsem
  font-family: 'exs', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font
=exb
  font-family: 'exb', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=rd
  font-family: 'r', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=rm
  font-family: 'rm', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=rb
  font-family: 'rb', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font


.t-grey
  color: $grey !important
.t-dark
  color: $black !important
.t-red
  color: $red !important
.t-dark
  color: $black !important

.t-exo
  font-family: 'exm', sans-serif !important
  font-weight: 400
  font-display: auto
  +smooth-font

.t-medium
  font-family: 'rm', sans-serif !important
  font-weight: 400
  font-display: auto
  +smooth-font

.t-s-medium
  font-size: 20px

.alpha-06
  opacity: 0.6

.t-crossed
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 1px
    left: 0
    top: 50%
    background: $red

.t-small
  font-size: 13px !important

.t-center
  text-align: center !important

