
.is-mobile
	+rmin(960)
		display: none

.is-desktop
	+r(959)
		display: none !important
	
.no-fill
	fill: rgba(0,0,0,0)
	stroke: #fff

.darknes
	position: fixed
	left: 0
	top: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0,0)
	transition: all .15s ease-out
	z-index: 5
	display: none
	&.is-active
		display: block
		background: rgba(0,0,0,.5)


.grey-wrapper
	background: #F3F4F5
	padding-top: 13px
.head-banner
	width: 100%
	height: 17.71vw
	+r(480)
		height: 33.6vw
	+ .uk-container
		.section-block__header
			margin-top: 40px
			+r(480)
				margin-top: 20px
	img
		object-fit: cover
		width: 100%
		height: 100%

.uk-container
	+ .seo-text
		margin-top: 90px
		+r(480)
			margin-top: 14.93333333vw

.is-hide
	display: none !important

.is-hidden
	visibility: hidden !important

.uk-dropdown
	display: none