---
title: Catalog page,
hoverCard: true,
cardSlider: [

{
  img: './img/cat-drop/1.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    }
  ]
}
,{
  img: './img/cat-drop/2.jpg',
  title: 'Набір свердел по металу Р6М5 пласт бокс 1,5-6,5',
  rating: 4,
  reviews: 2,
  price: '19 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ],
  disabled: true
}
,{
  img: './img/cat-drop/3.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  priceSale: '19 490',
  priceOld: '35 256',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'акция',
      stickerColor: 'card-item__stickers-red'
    },
    {
      sticker: '-15%',
      stickerColor: 'card-item__stickers-red'
    }
  ]
},
{
  img: './img/cat-drop/1.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 0,
  reviews: 0,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ]
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
  {% include "partials/_header.html" %}

  <nav aria-label="breadcrumb">
    <div class="uk-container ">
        <ol class="breadcrumb uk-flex uk-flex-start">
            <li class="breadcrumb-item"><a href="#">Головна</a></li>
            <li class="breadcrumb-item"><a href="#">Ручний інструмент</a></li>
            <li class="breadcrumb-item active" aria-current="page">Отвертки</li>

            
        </ol>
    </div>
  </nav>

  <div class="head-banner">
    <img src="./img/catHead1.png" alt="">
  </div>

  <div class="uk-container">
    <div class="section-block__header">
      <div class="section-block__title">
        Отвертки
      </div>
      <select name="" id="">
        <option value="1">Популярные</option>
        <option value="6">Акционные</option>
        <option value="2">От дешевых к дорогим</option>
        <option value="3">От дорогих к дешевым</option>
        <option value="4">Новинки</option>
        <option value="5">Хиты продаж</option>
      </select>

    </div>
    <div class="section-block__body uk-grid-ex-small uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>

      {% for i in range(0, 3) %}
      {% for item in cardSlider %}
        <div class="max-width-1-2">
          {% include "components/_card-item.html" %}
        </div>
       
      {% endfor %}
      {% endfor %}

    </div>
    {% include "partials/_pagination.html" %}
  </div>
  
  
  {% include "partials/_seo-text.html" %}

	{% include "partials/_footer.html" %}

	

	

{% endblock %}
