---
title: Category page,
category: [
  {
    img: '1',
    title: 'Рулетки'
  }
  ,{
    img: '2',
    title: 'Набір насадок'
  }
  ,{
    img: '3',
    title: 'Воротки'
  }
  ,{
    img: '4',
    title: 'Крюки S-образные'
  }
  ,{
    img: '5',
    title: 'Ключи-трещоточные'
  }
  ,{
    img: '6',
    title: 'Отвертки'
  }
  ,{
    img: '7',
    title: 'Режуще-сверлильное'
  }
  ,{
    img: '8',
    title: 'Пистолеты для стяжек'
  }
  ,{
    img: '1',
    title: 'Рулетки'
  }
  ,{
    img: '2',
    title: 'Набір насадок'
  }
  ,{
    img: '3',
    title: 'Воротки'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
  {% include "partials/_header.html" %}

  <nav aria-label="breadcrumb">
    <div class="uk-container ">
        <ol class="breadcrumb uk-flex uk-flex-start">
            <li class="breadcrumb-item"><a href="#">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ручний інструмент</li>

            
        </ol>
    </div>
  </nav>

  <div class="head-banner">
    <img src="./img/catHead.png" alt="">
  </div>

  <div class="uk-container">
    <div class="section-block__header">
      <div class="section-block__title">
        Ручний інструмент
      </div>
      
    </div>
    <div class="section-block__body uk-grid-ex-small uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>

      {% for item in category %}
        <div class="max-width-1-2">
          {% include "components/_category-item.html" %}
        </div>
       
      {% endfor %}

    </div>
  </div>
  
  
  {% include "partials/_seo-text.html" %}

	{% include "partials/_footer.html" %}

	

	

{% endblock %}
