---
title: Checkout Final

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
  {% include "partials/_header-2.html" %}

  <div class="uk-container">

    <div class="checkout-final uk-grid uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
      <div class="">
        <div class="checkout-final__info">
          <div class="checkout-final__info-icon">
            <img src="./img/icons/check.svg" alt="">
          </div>
          <div class="modal-default__title modal-default__title-gap t-center">Спасибо ваш заказ успешно оформлен</div>
          <div class="modal-default__subtitle t-center ">В ближайшее время мы свяжемся с Вами для подтверждения заказа. </div>
          
          <div class="default-form__row-button default-form__row-button__type-2">
            <a href="page.html" class="btn btn__green" ><span>На главную</span></a>
            
          </div>
        </div>
      </div>
      <div class="">
        <div class="checkout-final__table">
          <div class="checkout-final__table-title">Информация о заказе:</div>
          <table>
            <tr>
                <td>Номер Вашего заказа:</td>
                <td>22471</td>
            </tr>
            <tr>
                <td>Количество товаров:</td>
                <td>1 шт.</td>
            </tr>
            <tr>
                <td>Сумма заказа:</td>
                <td>1 237.68 грн</td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>г. Харьков</td>
            </tr>
            <tr>
                <td>Дата самовывоза:</td>
                <td>27.01.2020</td>
            </tr>
            <tr>
                <td>Способ доставки:</td>
                <td>Самовывоз</td>
            </tr>
            <tr>
                <td>Способ оплаты:</td>
                <td>Наличный расчет</td>
            </tr>
        </table>
        </div>
       
      </div>
    </div>

  </div>
  <!-- begin grey-wrapper -->
<div class="grey-wrapper">

  <!-- begin social-wrapper -->
  <div class="section-block social-wrapper">

    <div class="uk-container">

      <div class="section-block__header">
        <div class="section-block__title">Следите за нами в соц мережах</div>
      </div>

      <div class="section-block__body uk-grid-ex-small" uk-grid>

        <div class="uk-width-2-3@m uk-child-width-1-1@s">

          <div class="social-item">
            <div class="social-item__top uk-grid-ex-small uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid>

              <div class=""><img src="./img/soc/1.png" alt=""></div>
              <div class="">              <img src="./img/soc/2.png" alt="">
              </div>
              <div class="social-item__hmob">              <img src="./img/soc/3.png" alt="">
              </div>
              

            </div>
            <a href="" class="social-item__bot"><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.9536 5.3174C16.9137 4.41412 16.7677 3.79312 16.5584 3.25502C16.3426 2.68384 16.0105 2.17246 15.5754 1.74735C15.1502 1.31563 14.6355 0.980157 14.0709 0.767667C13.5297 0.55842 12.912 0.412349 12.0087 0.372523C11.0987 0.329325 10.8098 0.319336 8.50169 0.319336C6.19361 0.319336 5.90471 0.329325 4.99806 0.369151C4.09478 0.408976 3.47379 0.555177 2.93582 0.764294C2.36451 0.980157 1.85313 1.31225 1.42802 1.74735C0.996291 2.17246 0.660951 2.68721 0.448331 3.25178C0.239084 3.79312 0.0930131 4.41075 0.0531874 5.31402C0.00998885 6.22405 0 6.51295 0 8.82102C0 11.1291 0.00998885 11.418 0.0498146 12.3246C0.0896403 13.2279 0.235841 13.8489 0.445088 14.387C0.660951 14.9582 0.996291 15.4696 1.42802 15.8947C1.85313 16.3264 2.36788 16.6619 2.93244 16.8744C3.47379 17.0836 4.09141 17.2297 4.99482 17.2695C5.90134 17.3095 6.19037 17.3193 8.49844 17.3193C10.8065 17.3193 11.0954 17.3095 12.0021 17.2695C12.9053 17.2297 13.5263 17.0836 14.0643 16.8744C15.2068 16.4327 16.1101 15.5294 16.5518 14.387C16.7609 13.8457 16.9071 13.2279 16.9469 12.3246C16.9868 11.418 16.9968 11.1291 16.9968 8.82102C16.9968 6.51295 16.9934 6.22405 16.9536 5.3174ZM15.4227 12.2582C15.3861 13.0885 15.2466 13.5368 15.1304 13.8357C14.8447 14.5763 14.257 15.1641 13.5164 15.4497C13.2175 15.566 12.7659 15.7054 11.9389 15.7419C11.0422 15.7818 10.7733 15.7917 8.50506 15.7917C6.23681 15.7917 5.96452 15.7818 5.0711 15.7419C4.24085 15.7054 3.79252 15.566 3.49364 15.4497C3.12509 15.3135 2.78962 15.0977 2.51732 14.8154C2.23504 14.5397 2.01918 14.2076 1.88296 13.8391C1.76673 13.5402 1.62728 13.0885 1.59082 12.2616C1.55087 11.3649 1.54101 11.0959 1.54101 8.82764C1.54101 6.55939 1.55087 6.2871 1.59082 5.39381C1.62728 4.56356 1.76673 4.11523 1.88296 3.81634C2.01918 3.44766 2.23504 3.11232 2.52069 2.8399C2.79623 2.55762 3.12833 2.34176 3.49701 2.20567C3.7959 2.08944 4.2476 1.94998 5.07447 1.9134C5.97113 1.87358 6.24018 1.86359 8.5083 1.86359C10.7799 1.86359 11.0488 1.87358 11.9423 1.9134C12.7725 1.94998 13.2208 2.08944 13.5197 2.20567C13.8883 2.34176 14.2237 2.55762 14.496 2.8399C14.7783 3.11557 14.9942 3.44766 15.1304 3.81634C15.2466 4.11523 15.3861 4.56681 15.4227 5.39381C15.4625 6.29047 15.4725 6.55939 15.4725 8.82764C15.4725 11.0959 15.4625 11.3616 15.4227 12.2582Z" fill="#4C5458"/>
              <path d="M8.50169 4.45395C6.09074 4.45395 4.13461 6.40995 4.13461 8.82102C4.13461 11.2321 6.09074 13.1881 8.50169 13.1881C10.9128 13.1881 12.8688 11.2321 12.8688 8.82102C12.8688 6.40995 10.9128 4.45395 8.50169 4.45395ZM8.50169 11.6538C6.93759 11.6538 5.66887 10.3853 5.66887 8.82102C5.66887 7.25679 6.93759 5.98821 8.50169 5.98821C10.0659 5.98821 11.3345 7.25679 11.3345 8.82102C11.3345 10.3853 10.0659 11.6538 8.50169 11.6538Z" fill="#4C5458"/>
              <path d="M14.0611 4.28128C14.0611 4.84429 13.6046 5.30079 13.0414 5.30079C12.4784 5.30079 12.0219 4.84429 12.0219 4.28128C12.0219 3.71814 12.4784 3.26177 13.0414 3.26177C13.6046 3.26177 14.0611 3.71814 14.0611 4.28128Z" fill="#4C5458"/>
              </svg>
               aprofixing</a>
          </div>

        </div>
        <div class="uk-width-1-3@m ul-width-1-1@s">
          <div class="social-item">
            <div class="social-item__top">
              <div class="social-item__full">
                <img src="./img/soc/4.png" alt="">
              </div>
              
            </div>
            <a class="social-item__bot">
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.55416 0.00332907L6.42212 0C4.02685 0 2.47891 1.54552 2.47891 3.93762V5.75313H0.335243C0.150004 5.75313 0 5.89927 0 6.07954V8.71001C0 8.89028 0.150175 9.03626 0.335243 9.03626H2.47891V15.6738C2.47891 15.854 2.62892 16 2.81416 16H5.61104C5.79628 16 5.94628 15.8539 5.94628 15.6738V9.03626H8.45273C8.63797 9.03626 8.78798 8.89028 8.78798 8.71001L8.789 6.07954C8.789 5.99299 8.7536 5.91009 8.69082 5.84884C8.62805 5.78758 8.54253 5.75313 8.45359 5.75313H5.94628V4.2141C5.94628 3.47438 6.12741 3.09886 7.11758 3.09886L8.55382 3.09836C8.73889 3.09836 8.88889 2.95222 8.88889 2.77211V0.329578C8.88889 0.149642 8.73906 0.00366197 8.55416 0.00332907Z" fill="#4C5458"/>
                </svg>
                aprofixing
            </a>
          </div>
        </div>

      </div>

    </div>
    
  </div>
  <!-- end social-wrapper -->

  
</div>
<!-- end grey-wrapper -->
  

<footer class="footer is-mobile">

  <div class="uk-container">
    <div class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>

      <div class="footer__item">

        <a href="" class="logo-footer">
          <img src="./img/logo-white.svg" alt="">
        </a>
        <div class="copiright">© 2013 — 2020 «APRO»</div>

        <div class="footer__social">
          <a href="">{{mixins.icon('fb')}}</a>
          <a href="">{{mixins.icon('ytb')}}</a>
          <a href="">{{mixins.icon('insta')}}</a>
        </div>

        <div class="payment">
          <img src="./img/mastercard.svg" alt=""><img src="./img/visa.svg" alt="">
        </div>

      </div>
      <div class="footer__item footer__item-slide">

        <div class="footer__item-title">Продукція</div>

        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Крепежные изделия</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Резуже - сверлильный инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Ручной инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Электро - инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Пневматические инструменты</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Химия</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

      </div>
      <div class="footer__item  footer__item-slide">

        <div class="footer__item-title">Информация</div>

        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">О бренде</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Спецпредложения</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Блог</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Контакты</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Партнерам</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Покупателям</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Наша страсть</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

      </div>
      <div class="footer__item footer__item-small-gap">

        <div class="footer__item-title">{{mixins.icon('phone')}} Телефони:</div>
        
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">0 800 307 207 </a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <!-- <li class="footer-list__item">
            <a href="">+38 (057) 341-10-23</a>
          </li> -->
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <!-- <li class="footer-list__item">
            <a href="">+38 (057) 341-10-23</a>
          </li> -->
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

        <div class="footer__item-title">{{mixins.icon('clock')}} Графік роботи:</div>
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <span>Пн-Пт с 9:00 до 18:00
            </span>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

        
        <div class="footer__item-title">{{mixins.icon('mail')}} Email:</div>
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">sales.ua@aprofixing.com</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->


      </div>

    </div>

  </div>

</footer>

	

{% endblock %}
