---
title: How to buy


---
{% extends "layouts/_layout.html" %}

{% block content %}
	
    {% include "partials/_header.html" %}

    <nav aria-label="breadcrumb">
        <div class="uk-container ">
            <ol class="breadcrumb uk-flex uk-flex-start">
                <li class="breadcrumb-item"><a href="#">Головна</a></li>
                <li class="breadcrumb-item active" aria-current="page">Как купить</li>

                
            </ol>
        </div>
      </nav>

      {% include "partials/static-page/_how-buy.html" %}

   
   

	{% include "partials/_footer.html" %}

	

{% endblock %}
