---
title: About


---
{% extends "layouts/_layout.html" %}

{% block content %}
	
    {% include "partials/_header.html" %}

   
    <nav aria-label="breadcrumb">
        <div class="uk-container ">
            <ol class="breadcrumb uk-flex uk-flex-start">
                <li class="breadcrumb-item"><a href="#">Головна</a></li>
                <li class="breadcrumb-item active" aria-current="page">Партнерам </li>

                
            </ol>
        </div>
      </nav> 

   

      {% include "partials/static-page/_partners.html" %}

    

	{% include "partials/_footer.html" %}

	

{% endblock %}
