---
title: Product detail


cardSlider: [
	{
		img: './img/cat-drop/11.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 5,
		reviews: 13,
		price: '8 490',
		stickers: [
			{
				sticker: 'Новинка',
				stickerColor: 'card-item__stickers-green'
			}
		]
	}
	,{
		img: './img/cat-drop/12.jpg',
		title: 'Набір свердел по металу Р6М5 пласт бокс 1,5-6,5',
		rating: 4,
		reviews: 2,
		price: '19 490',
		stickers: [
			{
				sticker: 'Новинка',
				stickerColor: 'card-item__stickers-green'
			}
		],
		disabled: true
	}
	,{
		img: './img/cat-drop/13.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 5,
		reviews: 13,
		priceSale: '1 429',
		priceOld: '1 462',
		stickers: [
			{
				sticker: 'Новинка',
				stickerColor: 'card-item__stickers-green'
			},
			{
				sticker: 'акция',
				stickerColor: 'card-item__stickers-red'
			},
			{
				sticker: '-15%',
				stickerColor: 'card-item__stickers-red'
			}
		]
	},
	{
		img: './img/cat-drop/14.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 0,
		reviews: 0,
		price: '8 490',
		stickers: [
			{
				sticker: 'Новинка',
				stickerColor: 'card-item__stickers-green'
			},
			{
				sticker: 'хит продаж',
				stickerColor: 'card-item__stickers-orange'
			}
		]
	}
]

cardSliderTwo: [
	{
		img: './img/cat-drop/15.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 5,
		reviews: 13,
		price: '8 490',
		stickers: [
			
		]
	}
	,{
		img: './img/cat-drop/16.jpg',
		title: 'Набір свердел по металу Р6М5 пласт бокс 1,5-6,5',
		rating: 4,
		reviews: 2,
		price: '19 490',
		stickers: [
			
		],
		disabled: true
	}
	,{
		img: './img/cat-drop/17.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 5,
		reviews: 13,
		priceSale: '1 429',
		stickers: [
			
		]
	},
	{
		img: './img/cat-drop/18.jpg',
		title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
		rating: 0,
		reviews: 0,
		price: '8 490',
		stickers: [
			
		]
	}
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
    {% include "partials/_header.html" %}

    <nav aria-label="breadcrumb">
        <div class="uk-container ">
            <ol class="breadcrumb uk-flex uk-flex-start">
                <li class="breadcrumb-item"><a href="#">Головна</a></li>
                <li class="breadcrumb-item"><a href="#">Ручний інструмент</a></li>
                <li class="breadcrumb-item"><a href="#">Отвертки</a></li>
                <li class="breadcrumb-item active" aria-current="page">Набор насадок торцевых c трещоткой (150 шт.)</li>

                
            </ol>
        </div>
      </nav>

      <div class="mob-only-cart">
        <div class="uk-container">
            <h1 class="product__name">
                Набор насадок торцевых c трещоткой (150 шт.)
            </h1>
            <div class="review-article-wrap">
                <div class="rating-wrap">
                <ul>
                    <li class="color">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                    </svg>                   
                    </li>
                    <li class="color">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                    </svg>
                    </li>
                    <li class="color">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                    </svg>
                    </li>
                    <li class="color">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                    </svg>
                    </li>
                    <li class="">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                    </svg>
                    </li>
                </ul>
                <a href="#" class="top-review js-top-review">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.7" d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#485860"/>
                    </svg>
                    <span>13 Відгука</span>
                </a>
                </div>
                <div class="product__code">
                Код: C5-0615
                </div>
            </div>
            
            </div>
      </div>
    
      {% include "partials/product-detail/_top-detail.html" %}

      {% include "partials/product-detail/_tabs-product.html" %}

      {% include "partials/main-page/_card-slider-2.html" %}

      {% include "partials/main-page/_card-slider-3.html" %}

	{% include "partials/_footer.html" %}

	

{% endblock %}
