---
title: Category page,
category: [
  {
    img: '1',
    title: 'Рулетки'
  }
  ,{
    img: '2',
    title: 'Набір насадок'
  }
  ,{
    img: '3',
    title: 'Воротки'
  }
  ,{
    img: '4',
    title: 'Крюки S-образные'
  }
  ,{
    img: '5',
    title: 'Ключи-трещоточные'
  }
  ,{
    img: '6',
    title: 'Отвертки'
  }
  ,{
    img: '7',
    title: 'Режуще-сверлильное'
  }
  ,{
    img: '8',
    title: 'Пистолеты для стяжек'
  }
  ,{
    img: '1',
    title: 'Рулетки'
  }
  ,{
    img: '2',
    title: 'Набір насадок'
  }
  ,{
    img: '3',
    title: 'Воротки'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
  {% include "partials/_header.html" %}

  <nav aria-label="breadcrumb">
    <div class="uk-container ">
        <ol class="breadcrumb uk-flex uk-flex-start">
            <li class="breadcrumb-item"><a href="#">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Регистрация инструмента</li>

            
        </ol>
    </div>
  </nav>

  <div class="uk-container">
    <div class="uk-grid-large uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>

      <div class="">
        
        <div class="section-block__header">
          <div class="section-block__title">
            Ручний інструмент
          </div>
          <div class="section-block__title-sub"> <span>Регистрируй свой инструмент бренда "APRO" у нас и получай дополнительную гарантию</span> </div>
        </div>

      </div>
      <div class="">

      </div>

    </div>
  </div>

  

	{% include "partials/_footer.html" %}

	

	

{% endblock %}
