---
title: Catalog page,
hoverCard: true,
cardSlider: [

{
  img: './img/search-page/1.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    }
  ]
}
,{
  img: './img/search-page/2.jpg',
  title: 'Набір свердел по металу Р6М5 пласт бокс 1,5-6,5',
  rating: 4,
  reviews: 2,
  price: '19 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ],
  disabled: true
}
,{
  img: './img/search-page/3.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  priceSale: '19 490',
  priceOld: '35 256',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'акция',
      stickerColor: 'card-item__stickers-red'
    },
    {
      sticker: '-15%',
      stickerColor: 'card-item__stickers-red'
    }
  ]
},
{
  img: './img/search-page/4.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 0,
  reviews: 0,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ]
},
{
  img: './img/search-page/5.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    }
  ]
}
,{
  img: './img/search-page/6.jpg',
  title: 'Набір свердел по металу Р6М5 пласт бокс 1,5-6,5',
  rating: 4,
  reviews: 2,
  price: '19 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ],
  disabled: true
},{
  img: './img/search-page/3.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 5,
  reviews: 13,
  priceSale: '19 490',
  priceOld: '35 256',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'акция',
      stickerColor: 'card-item__stickers-red'
    },
    {
      sticker: '-15%',
      stickerColor: 'card-item__stickers-red'
    }
  ]
},
{
  img: './img/search-page/4.jpg',
  title: 'Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.',
  rating: 0,
  reviews: 0,
  price: '8 490',
  stickers: [
    {
      sticker: 'Новинка',
      stickerColor: 'card-item__stickers-green'
    },
    {
      sticker: 'хит продаж',
      stickerColor: 'card-item__stickers-orange'
    }
  ]
}
]





---
{% extends "layouts/_layout.html" %}

{% block content %}
	
  {% include "partials/_header.html" %}

  <nav aria-label="breadcrumb">
    <div class="uk-container ">
        <ol class="breadcrumb uk-flex uk-flex-start">
            <li class="breadcrumb-item"><a href="#">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Пошук</li>

            
        </ol>
    </div>
  </nav>


  <div class="uk-container search-page search-page-not">
    <div class="section-block__header">
      <div class="section-block__title">
        Результаты по вашему запросу "adsfswdf"
      </div>
      
    </div>

    <div class="result-not-search">
        <div class="icon"><img src="img/icons/not-search.svg" alt=""></div>
        <h3>По данному запросу ничего не найдено.</h3>
        <p>Возможно, вы ввели некорректный запрос. Проверьте правильность написания.
          Старайтесь использовать только ключевые слова.
          </p>
    </div>
    
    
  </div>
  
  

	{% include "partials/_footer.html" %}

	

	

{% endblock %}
