.page-not-found
    height: calc(100vh - 125px)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    +r(1200)
        height: auto
        padding-top: 60px
        padding-bottom: 60px
    +r(767)
        padding-left: 20px
        padding-right: 20px
    img
        +r(1440)
            max-height: 150px
    h2
        text-transform: uppercase
        margin-top: 60px
        margin-bottom: 0
        font-size: 34px
        +r(1200)
            margin-top: 35px
        +r(767)
            font-size: 24px
    p
        max-width: 380px
        font-size: 15px
        line-height: 20px
        color: $grey
        opacity: 0.7
        text-align: center
        margin-bottom: 30px
    .btn
        min-width: 190px
        font-size: 16px