.about-top
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff
    height: calc(100vh - 125px) 
    +r(970)
        background: transparent !important
        color: #000
        height: auto        
    .uk-container
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        +r(767)
            padding-left: 0
            padding-right: 0
    .breadcrumb 
        +r(970)
            margin-bottom: 0
        +r(767)
            padding-left: 15px
            padding-right: 15px
    .breadcrumb .breadcrumb-item a, .btn:hover
        color: #fff
        +r(970)
            color: $grey
    .breadcrumb .breadcrumb-item.active
        color: #fff
        opacity: 0.5
        +r(970)
            color: $grey
    .breadcrumb .breadcrumb-item::after
        background-image: url(../img/about/icon/arr-right.svg)
        +r(970)
            background-image: url(../img/product/icon/arrow-right.svg)
    h1
        font-size: 60px
        color: #fff
        text-transform: uppercase
        +exm
        margin-bottom: 45px
        +r(970)
            color: #000
            font-size: 24px
            margin-bottom: 30px
        +r(767)
            padding-left: 15px
            padding-right: 15px
    .about-top-content
        display: flex
        justify-content: space-between
        align-items: center
        +r(970)
            flex-direction: column
            align-items: flex-start
        .l-section
            p
                max-width: 620px
                +r(767)
                    padding-left: 15px
                    padding-right: 15px
            img
                display: none
                +r(970)
                    display: block
                    height: 200px
                    object-fit: cover
        .r-section
            +r(767)
                padding-left: 15px
                padding-right: 15px
            .num__item
                white-space: nowrap
                margin-bottom: 45px
                +r(970)
                    margin-bottom: 25px
                &:last-child
                    margin-bottom: 0
                .title
                    +exm
                    font-size: 28px
                    line-height: 28px
                    margin-bottom: 13px
                    position: relative
                    padding-left: 20px
                    +r(970)
                        font-size: 22px
                        margin-bottom: 9px
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        bottom: 0px
                        width: 7px
                        height: 25px
                        background: $red
                .text
                    font-size: 16px
                    color: #fff
                    opacity: 0.7
                    +rd
                    +r(970)
                        color: #000
                        opacity: 0.7
    .btn__red
        max-width: 270px
        height: 78px
        display: flex
        justify-content: center
        align-items: center
        background: $red
        border-radius: 0
        +r(970)
            display: none
        svg
            width: 15px


.about-page
    padding-top: 100px
    +r(970)
        padding-top: 50px
        padding-bottom: 70px
    h2
        text-transform: uppercase
        +exm
        font-size: 34px
        line-height: 44px
        color: #000
        +r(970)
            font-size: 24px
            line-height: 34px
    .our-mission
        display: flex
        justify-content: space-between
        align-items: center
        +r(970)
            flex-direction: column-reverse
        .l-section
            flex: 1
            padding-right: 110px
            +r(1200)
                padding-right: 50px
            +r(970)
                padding-right: 0
                margin-top: 25px
            .title
                font-size: 20px
                color: $grey
                margin-bottom: 0px
                +exm
            h2
                margin-top: 0px
                margin-bottom: 20px
                +r(767)
                    margin-top: 10px

        .r-section
            flex: 1
            min-width: 585px
            +r(1200)
                min-width: 490px
            +r(767)
                min-width: initial
                width: 100%
            .video_wrapper_full
                padding-top: 345px
                +r(767)
                    padding-top: 250px
                +r(375)
                    padding-top: 200px
                .video-cover
                    position: absolute
                    height: 100%
                    width: 100%
                    top: 0
                    &::before
                        content: ''
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                        width: 90px
                        height: 90px
                        border: 2px solid $red
                        border-radius: 50%
                        opacity: 0.5
                        +r(767)
                            width: 63px
                            height: 63px
                    &::after
                        content: ''
                        position: absolute
                        bottom: 0
                        left: 0
                        right: 0
                        height: 4px
                        background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                .videoPoster
                    background: transparent
                    width: 80px
                    height: 80px
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%, -50%)
                    border-radius: 50%
                   

                .play-btn.videoPoster:after
                    border-left: 15px solid #fff
                    border-top: 8px solid transparent
                    border-bottom: 8px solid transparent
                    transform: translate(-36%,-45%)
                .play-btn.videoPoster:before
                    width: 80px
                    height: 80px
                    border-color: $red
                    background: $red
                    +r(767)
                        width: 50px
                        height: 50px
                        margin: -25px
    .we-special
        margin-top: 100px
        height: 335px
        display: flex
        align-items: center
        justify-content: center
        +r(970)
            margin-top: 60px
            height: 260px
        +r(767)
            height: auto
            margin-top: 40px
            padding-top: 40px
            padding-bottom: 20px
            padding-left: 30px
            padding-right: 30px
        h3
            max-width: 680px
            text-align: center
            color: #fff
            font-size: 28px
            line-height: 32px
            +exm
            +r(767)
                font-size: 20px
                line-height: 24px
                +ex
               
    .why-we
        margin-top: 80px
        margin-bottom: 105px
        +r(970)
            margin-top: 50px
            margin-bottom: 85px
            .slick-dots
                    bottom: -40px
                    li 
                        margin-left: 3px
                        margin-right: 3px
                        button:before
                            font-size: 30px
                            color: $grey
                            opacity: 0.2
                    li.slick-active button:before
                        font-size: 35px
                        opacity: 1
        h2
            text-align: center            
            margin-bottom: 40px
        .why-list
            display: flex
            justify-content: space-between
            align-items: flex-start
            &__item
                max-width: 250px
                width: 250px
                text-align: center
                +r(970)
                    max-width: initial
                .icon
                    width: 94px
                    height: 94px
                    background: rgba(255, 0, 0, 0.1)
                    display: inline-flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    margin-bottom: 20px
                .title
                    +rb
                    font-size: 16px
                    line-height: 19px
                    margin-bottom: 10px
                    box-sizing: border-box
                    min-height: 57px
                .descript
                    font-size: 13px
                    line-height: 15px
                    color: $grey
                    opacity: 0.7

    .about-garantee
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 30px
        +r(970)
            flex-direction: column
            margin-bottom: 0
        .l-section
            min-width: 585px
            width: 585px
            margin-right: 55px
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: flex-end
            +r(1200)
                min-width: 400px
                width: 400px
            +r(970)
                min-width: initial
                width: 100%
                align-items: flex-start
                margin-bottom: 50px
                img
                    width: 100%
            .red-block
                background: $red
                text-align: right
                padding-right: 70px
                padding-left: 100px
                padding-top: 20px
                padding-bottom: 28px
                color: #fff
                margin-right: 30px
                margin-top: -62px
                +r(1200)
                    padding: 20px 50px 28px
                +r(767)
                    font-size: 15px
                    text-align: left
                    padding: 13px 30px
                    width: 60%
                .more-title
                    font-size: 38px
                    line-height: 1
                    +exm
                    margin-bottom: 15px
                    +r(767)
                        font-size: 28px

        h2
            margin-top: 0
            margin-bottom: 35px
            +r(767)
                margin-bottom: 15px
        .title
            font-size: 20px
            color: $grey
            margin-bottom: 16px
            +exm
            margin-top: 20px
        p
            font-size: 15px
            line-height: 20px
            color: #000
            opacity: 0.8
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0
            +r(767)
                margin-bottom: 25px
    .seo-text
        display: none
