.news__wrapper-page
    padding-top: 10px
    +r(970)
        padding-bottom: 40px
        padding-top: 0
        margin-top: -18px
    .section-block__header
        border-bottom: 1px solid rgba(0,0,0,.06)
        margin-bottom: 35px
        padding-bottom: 35px
        +r(970)
            padding-bottom: 0
            border-bottom: 0
            margin-bottom: 15px
    .news-item__img
        margin-bottom: 22px
    .news-item__descript
        margin-top: 15px
        color: $black
        opacity: 0.6
        font-size: 15px
        line-height: 20px
        +r(767)
            display: none
.load-wrap
    .load-more
        display: flex
        justify-content: center
        align-items: center
        background: #F8F8F9
        border-radius: 4px
        color: #4C5458
        font-size: 15px
        height: 48px
        text-decoration: none
        transition: background 0.3s
        &:hover
            background: #4C5458
            color: #fff
            transition: background 0.3s

.soc-blog-page
    +r(970)
        display: none

.blog-detail-page
    .uk-container
        display: flex
        justify-content: space-between
        align-items: flex-start
        +r(970)
            flex-direction: column
        .sidebar
            background: #F8F8F9
            border-radius: 6px
            min-width: 400px
            max-width: 400px
            width: 400px
            padding: 19px 24px 25px
            box-sizing: border-box
            margin-left: 50px
            +r(970)
                margin-left: 0
                max-width: 100%
                min-width: initial
                width: 100%
                margin-top: 65px
            +r(767)
                padding: 15px 12px 15px
            .title
                font-size: 22px
                +exm
                position: relative
                padding-left: 27px
                margin-bottom: 23px
                &::before
                    content: ''
                    position: absolute
                    width: 7px
                    left: 0
                    top: 0
                    bottom: 0
                    background: $red
                +r(767)
                    font-size: 20px
                    margin-bottom: 20px
            .preview-list-news
               
                .preview-news__item
                    padding-top: 24px
                    padding-bottom: 24px
                    border-top: 1px solid #EAEBEB
                    +r(767)
                        padding-top: 17px
                        padding-bottom: 17px
                    &:last-child
                        border-bottom: 1px solid #EAEBEB
                        margin-bottom: 24px
                        +r(767)
                        margin-bottom: 18px
                a
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    text-decoration: none
                    .img
                        min-width: 100px
                        max-width: 100px
                        height: 70px
                        margin-right: 18px
                        +r(767)
                            min-width: 80px
                            max-width: 80px
                            height: 55px
                            margin-right: 13px
                        img
                            width: 100%
                            height: 100%
                            object-fit: cover
                    .name
                        font-size: 15px
                        line-height: 18px
                        color: $black
                        text-decoration: none
            .view-all
                color: $grey
                text-decoration: none
                svg
                    margin-right: 7px
.static-page
    padding-bottom: 140px
    +r(970)
        padding-bottom: 70px
    +r(767)
        padding-bottom: 50px
        padding-left: 15px
        padding-right: 15px
    h1
        text-transform: uppercase
        font-size: 34px
        margin-bottom: 25px
        +r(767)
            font-size: 22px
            margin-bottom: 20px
            padding-left: 0
            padding-right: 0
            margin-left: 0
            margin-right: 0
    h2
        font-size: 28px
        margin-bottom: 25px
        margin-top: 30px
        +r(767)
            font-size: 20px
            line-height: 24px
            margin-bottom: 15px
    h3
        margin-bottom: 10px
        position: relative
        font-size: 20px
        margin-top: 25px
        padding-left: 16px
        margin-bottom: 0
        +exsem
        &::before
            content: ''
            position: absolute
            left: 0
            top: 12px
            width: 6px
            height: 6px
            background: $red
            border-radius: 50%
            +r(767)
                top: 9px
        +r(767)
            margin-top: 15px
            font-size: 16px
    img
        max-width: 100%
        
    p
        margin-top: 10px
        margin-bottom: 20px
        color: $grey
        font-size: 15px
    ol
        counter-reset: my-awesome-counter
        padding-left: 0
        margin-bottom: 40px
        li
            list-style: none
            position: relative
            counter-increment: my-awesome-counter
            margin-bottom: 12px
            flex-direction: column
            font-size: 15px
            +rm
            &:last-child
                margin-bottom: 0
            &::before
                content: counter(my-awesome-counter) ". "
                color: $red
                font-size: 15px
                +rb
                position: relative
                margin-right: 10px
            h3
                margin-top: 12px
  

    .video-wrap
        margin-top: 20px
        iframe
            width: 100%
            height: 370px 
            +r(1200)
                height: 300px
            +r(970)
                height: 500px
            +r(767)
                height: 250px
            +r(600)
                padding-left: 15px
                padding-right: 15px
                box-sizing: border-box
            +r(360)
                height: 175px
    .uk-container
        +r(600)
            padding-left: 0
            padding-right: 0
            h1,
            p,
            ul,
            ol,
            h2,
            h3
                margin-left: 15px
                margin-right: 15px

.other-static-page
    h1
        display: none
        +r(767)
            display: block
            font-size: 24px
    h2
        position: relative
        padding-left: 20px
        &::before
            content: ''
            width: 7px
            height: 25px
            background: $red
            position: absolute
            left: 0
            top: 7px
            +r(600)
                top: 1px
    .uk-container
        display: flex
        justify-content: space-between
        .sidebar-left
            width: 280px
            min-width: 280px
            margin-right: 80px
            +r(970)
                display: none
            ul
                padding-left: 0
                margin-bottom: 0
                border-radius: 6px
                box-shadow: 0 35px 27px -22px rgba(0,0,0,.1) 
                li
                    &:first-child
                        a
                            border-radius: 8px 8px 0 0
                    &:last-child
                        a
                            border-bottom: 0
                            border-radius: 0 0 8px 8px
                a
                    display: block
                    width: 100%
                    line-height: 1
                    font-size: 15px
                    padding-top: 20px
                    padding-bottom: 20px
                    padding-left: 30px
                    padding-right: 30px
                    border-bottom: 1px solid rgba(76, 84, 88, 0.1)
                    background: #F8F8F9
                    text-decoration: none
                    text-transform: uppercase
                    color: #4C5458
                    opacity: 0.7
                    +exsem
                    position: relative
                    box-sizing: border-box
                    &:hover
                        opacity: 0.9
                .active
                    a
                        color: #000
                        opacity: 1
                        &:before
                            content: ''
                            position: absolute
                            bottom: -1px
                            left: 30px
                            height: 2px
                            width: 20px
                            background: $red
    .advantages-list
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-top: 50px
        margin-bottom: 75px
        +r(970)
            margin-top: 40px
            margin-bottom: 40px
        +r(600)
            flex-direction: column
            align-items: center
            margin-bottom: 0
        &__item
            width: 33%
            max-width: 250px
            text-align: center
            padding-left: 20px
            padding-right: 20px
            +r(1200)
                padding-left: 5px
                padding-right: 5px
            +r(600)
                margin-bottom: 30px
                width: 100%
                &:last-child
                    margin-bottom: 0
            .title
                font-size: 16px
                line-height: 19px
                margin-top: 10px
                margin-bottom: 7px
                +rb
            .descript
                color: #4C5458
                opacity: 0.7
                font-size: 13px
                line-height: 15px
                height: 45px
                overflow: hidden
    .r-section
        width: 100%
        ul
            padding-left: 0
            li
                list-style: none
                padding-left: 30px
                position: relative
                margin-bottom: 7px
                +rm
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: calc(50% - 0px)
                    height: 2px
                    width: 14px
                    background: $red
    &.service-page    
        h3
            margin-top: 7px
    &.obmen-page
        h3
            margin-top: 7px
    &.sertificates-page
        h2
            margin-top: 0
            +r(767)
                display: none
        p
            +r(767)
                display: none
        .sertica-list
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            align-items: stretch
            +r(570)
                padding-left: 15px
                padding-right: 15px
                margin-top: 35px
            &__item
                border: 1px solid #E5ECF3
                box-sizing: border-box
                width: 33.33%
                padding: 5px
                margin-left: 0px
                margin-top: 0px
                position: relative
                +r(570)
                    width: 50%
                a
                    position: relative
                    width: 100%
                    height: 100%
                    &::before
                        content: ''
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        width: 40px
                        height: 40px
                        background: $red url(../img/static-page/icon/sertif.svg)
                        background-repeat: no-repeat
                        background-position: center
                        background-size: 18px
                        border-radius: 50%
                        opacity: 0
                        transition: opacity 0.3s
                        z-index: 0
                &:hover
                    border-color: $red
                    a
                        &::before
                            opacity: 1
                            transition: opacity 0.3s
    &.how-buy-page
        h2
            margin-top: 0
            +r(767)
                display: none
        p
            color: #000
            +rm
            &:first-of-type                
                color: $grey
                +r(767)
                    margin-bottom: 30px
        img
            margin-bottom: 30px
            +r(767)
                padding-left: 15px
                padding-right: 15px
                margin-bottom: 25px



.service-map
    display: flex
    justify-content: space-between
    +r(767)
        flex-direction: column
    .address-list
        width: 250px
        min-width: 250px
        border: 1px solid #EEEEEE
        border-radius: 4px
        height: 400px
        overflow-y: auto
        +r(767)
            display: none
        .address__item
            display: flex
            flex-direction: column
            padding: 12px 20px
            border-bottom: 1px solid #eee
            color: #000
            text-decoration: none
            font-size: 13px
            line-height: 16px
            .city
                font-size: 15px
                +exsem
            &.active
                background: #F8F8F9
                .city
                    color: $red
                    svg
                        path
                            fill: $red
    .address-list-mob
        display: none
        +r(767)
            display: flex
            flex-direction: column
            width: 100%
            margin-top: 40px
            .address-value
                margin-top: 25px
                margin-bottom: 35px
                &__item
                    margin-bottom: 12px
                    font-size: 13px
                    line-height: 15px
                    display: flex
                    align-items: center
                    +rm
                    .img
                        margin-right: 6px
                        text-align: center
                        min-width: 10px
                        img
                            max-width: 100%
                    a
                        font-size: 13px
                        color: #000
                        text-decoration: none
            .nice-select 
                padding-left: 40px
                .current
                    color: $red
                    position: relative
                    &::before
                        content: ''
                        position: absolute
                        left: -22px
                        top: 1px                    
                        background-image: url(../img/static-page/icon/a-red.svg)
                        background-repeat: no-repeat
                        background-position: center
                        width: 15px
                        height: 15px
                .list
                    width: 100%
                    margin-left: 0
                    margin-right: 0
                    li
                        padding-left: 40px
                        &::before
                            background-image: url(../img/static-page/icon/a-black.svg)
                            background-repeat: no-repeat
                            background-position: center
                            width: 15px
                            height: 15px
                            background-color: transparent
                            top: 13px
                            left: 15px
                .option.selected:after
                    display: none
        +r(570)
            padding-left: 15px
            padding-right: 15px
            width: auto
            margin-top: 30px
    #map
        height: 400px
        width: 100%
