.sidebar-left
.linked-accounts
    margin-top: 50px
    &.mob-only
        display: none
        +r(767)
            display: block
            max-width: 280px
            margin-left: 15px
            margin-right: 1px
            p
                margin-left: 0
    &.desk-only
        +r(767)
            display: none
    p
        color: $grey
        font-size: 15px
        margin-bottom: 15px
    .linked-accounts__item
        border: 1px solid #ECECF9
        border-radius: 4px
        box-sizing: border-box
        margin-bottom: 10px
        padding: 15px
        display: flex
        align-items: center
        justify-content: flex-start
        .icon
            width: 40px
            height: 40px
            min-width: 40px
            border-radius: 50%
            background: #F8F8F9
            display: flex
            justify-content: center
            align-items: center
            margin-right: 15px
        .info
            .name
                +rb
                font-size: 15px
                line-height: 1
            .link
                font-size: 13px
                border-bottom: 1px dashed #000
                color: $grey
        &.linked
            .link
                border-color: $red
                color: $red

.cabinet-page

    .title-page
        h1
            display: block
            margin-bottom: 30px
            +r(970)
                display: block
                margin-bottom: 25px

    .uk-container
        +r(970)
            flex-direction: column
        .sidebar-left
            +r(970)
                display: block
                margin-bottom: 40px
                width: 100%

    h2
        margin-top: 10px
        font-size: 22px
        color: $grey
        +exm
        &::before
            top: 2px
    

    .default-form-flex
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding-top: 40px
        border-top: 1px solid rgba(76,84,88,.1)
        +r(970)
            flex-direction: column
            padding-left: 15px
            padding-right: 15px
        .default-form__row
            width: 49%
            +r(970)
                width: 100%
        .default-form__row-button
            justify-content: flex-start
            margin-top: 20px
        .default-form__row-select
            padding-top: 40px
            border-top: 1px solid rgba(76,84,88,.1)
            width: 100%
            display: flex
            justify-content: flex-start
            align-items: center
            flex-wrap: wrap
            .list
                max-height: 250px
                overflow-y: scroll
                +r(970)
                    margin-left: 0
            .default-form__label
                width: 100%
            .nice-select
                float: none
                margin-right: 10px
                padding-left: 25px
                margin-bottom: 0
                &::after
                    +r(970)
                        right: 10px
                +r(970)
                    padding-left: 15px
                    padding-right: 25px
                li
                    &::before
                        display: none
                .option
                    line-height: 30px
                    min-height: 30px
                    &.selected:after
                        left: 30px
        .default-form-column
            width: 49%
            +r(970)
                width: 100%
                margin-bottom: 25px
                &:last-child
                    margin-bottom: 0
            .default-form__row
                width: 100%
        .title
            font-size: 15px
            color: $grey
            opacity: 0.7
            margin-bottom: 35px
            margin-top: -20px
        .default-form__input
            +rb
    .already-registered
        margin-top: 60px
        .title
            font-size: 20px
            line-height: 24px
            +exm
            color: $grey
            margin-bottom: 30px
        &__item
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 40px 40px 35px
            border: 1px solid #E7E8E9
            border-radius: 4px
            +r(767)
                padding: 20px
                align-items: flex-start
                position: relative
                margin-left: 15px
                margin-right: 15px
                padding-bottom: 90px
            +r(480)
                padding-bottom: 80px
            +r(360)
                padding-bottom: 70px
            .photo
                width: 100px
                min-width: 100px
                margin-right: 25px
                +r(767)
                    width: 85px
                    min-width: 85px
                    margin-right: 20px
            .info
                .article
                    color: $grey
                    opacity: 0.7
                    font-size: 11px
                    line-height: 13px
                    margin-bottom: 14px
                .name
                    color: $grey
                    font-size: 15px
                    text-decoration: none
                    margin-bottom: 13px
                    display: block
                    +r(767)
                        font-size: 14px
                .garantee-date
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    +r(767)
                        position: absolute
                        bottom: 20px
                        left: 20px
                        flex-direction: column
                    .date__item
                        margin-right: 45px
                        color: #82888A
                        font-size: 13px
                        span
                            font-size: 15px
                            color: #000
                            +rm
                            opacity: 1
                            margin-left: 10px
                        &:last-child
                            margin-right: 0
    .head-history,
    .row-history
        .col-title
            flex: 1            
            &.arrow
                max-width: 50px
            &.status-title
                min-width: 215px
                +r(767)
                    min-width: 150px
            &.quantity-title
                max-width: 95px
    .head-history
        border-top: 1px solid rgba(76,84,88,.1)
        width: 100%
        color: $grey
        opacity: 0.7
        font-size: 13px
        text-align: center
        display: flex
        justify-content: space-between
        padding-top: 24px
        padding-bottom: 24px
        +r(767)
           height: 0
           font-size: 0
           padding-bottom: 0
        +r(570)
            margin-left: 15px
            margin-right: 15px
            box-sizing: border-box
            width: auto
    .row-history
        border-radius: 4px
        margin-bottom: 19px
        &.open
            .title-block
                border-radius: 4px 4px 0 0
            .arrow
                svg
                    transform: rotate(180deg)
                    transition: transform 0.3s
        +r(600)
            box-sizing: border-box
            padding-left: 15px
            padding-right: 15px
        .title-block
            background: #F8F8F9
            font-size: 15px
            color: #000
            +rm
            text-align: center
            display: flex
            justify-content: space-between
            padding-top: 15px
            padding-bottom: 13px
            border: 1px solid #E7E8E9
            border-radius: 4px
            +r(767)
                flex-direction: column
                justify-content: flex-start
                align-items: flex-start
                position: relative
                padding-left: 15px
            .col-title
                border-right: 1px solid #E7E8E9
                +r(767)
                    display: flex
                    border-right: 0
                    align-items: center
                    font-size: 12px
                    +rb
                    &.summ-title,
                    &.quantity-title,
                    &.date-title
                        display: none
                    &.status-title
                        color: #4C5458
                &:last-child
                    border-right: 0
                &.arrow
                    cursor: pointer                    
                                       
                    +r(767)
                        width: 50px
                        height: 50px 
                        position: absolute
                        right: 0
                        top: 0
                        height: auto
                        bottom: 0
                        display: flex
                        justify-content: center
                        align-items: center
                        border-left: 1px solid #e7e8e9
                    svg
                        transition: transform 0.3s
                .mob-only
                    display: none
                    +r(767)
                        display: block
                        color: $grey
                        opacity: 0.7
                        font-size: 11px
                        margin-right: 7px

        .hide-block
            display: none

            .info-mob
                display: none
                +r(767)
                    display: block
                    padding-left: 15px
                    padding-right: 15px
                    padding-top: 15px
                    border-left: 1px solid #E7E8E9
                    border-right: 1px solid #E7E8E9
                    position: relative
                    padding-bottom: 25px
                    &::before
                        content: ''
                        position: absolute
                        width: 95%
                        border-bottom: 1px solid #E7E8E9
                        left: 50%
                        transform: translateX(-50%)
                        bottom: 0
                    .info-mob__item
                        display: flex
                        justify-content: space-between
                        margin-bottom: 6px
                        .info-mob__dot
                            flex: 1 0
                            border-bottom: 1px dashed #4C5458
                            height: 1em
                            margin: 0 .4em
                            opacity: 0.3
                        .info-mob__title
                            color: $grey
                            opacity: 0.7
                            font-size: 11px
                        .info-mob__value
                            color: #000
                            +rm
                            font-size: 12px
            .product__item
                display: flex
                justify-content: flex-start
                align-items: center
                padding: 30px 40px 30px
                border-left: 1px solid #E7E8E9
                border-right: 1px solid #E7E8E9
                border-bottom: 1px solid rgba(76,84,88,.1)
                +r(767)
                    position: relative
                    border-bottom: 0
                    padding: 25px 15px
                    &::before
                        content: ''
                        position: absolute
                        width: 95%
                        border-bottom: 1px solid #E7E8E9
                        left: 50%
                        transform: translateX(-50%)
                        bottom: 0
                    &:last-child
                        &::before
                            display: none
                +r(480)
                +r(360)
                .photo
                    width: 100px
                    min-width: 100px
                    margin-right: 25px
                    +r(767)
                        width: 85px
                        min-width: 85px
                        margin-right: 20px
                .info
                    width: 100%
                    .article
                        color: $grey
                        opacity: 0.7
                        font-size: 11px
                        line-height: 13px
                        margin-bottom: 14px
                    .name
                        color: $grey
                        font-size: 15px
                        text-decoration: none
                        margin-bottom: 30px
                        display: block
                        +r(767)
                            font-size: 14px
                            margin-bottom: 15px
                        +r(480)
                            margin-bottom: 5px
                            +rm
                    .price-wrap
                        display: flex
                        justify-content: space-between
                        align-items: center
                        font-size: 16px
                        +rm
                        width: 100%
                        +r(480)
                            flex-direction: column
                            align-items: flex-start
                            .price
                                font-size: 12px
                                color: $grey
                                margin-bottom: 14px
                                +rm
                        .r-section
                            width: auto
                            white-space: nowrap
                            display: flex
                            justify-content: flex-end
                            align-items: center
                            +r(480)
                                justify-content: space-between
                                width: 100%
                                +rb
                        .all-price
                            min-width: 150px
                            max-width: 150px
                            text-align: center
                            +r(480)
                                min-width: initial
                                max-width: 100%
                                text-align: left
                                font-size: 14px
                        .summ-quantity
                            min-width: 95px
                            max-width: 95px
                            text-align: center
                            +r(480)
                                min-width: initial
                                max-width: 100%
                                text-align: left
                                font-size: 14px
            .detail-order
                padding: 30px 50px 45px                
                border-radius: 0 0 4px 4px 
                position: relative
                border-left: 1px solid #E7E8E9
                border-right: 1px solid #E7E8E9
                border-bottom: 1px solid #E7E8E9
                &::after
                    content: ''
                    position: absolute
                    left: 0
                    top: 0
                    right: 0
                    bottom: 0
                    opacity: 0.1
                    background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
                    z-index: -1
                +r(767)
                    padding: 25px 15px
                &__item
                    display: flex
                    justify-content: space-between
                    align-items: baseline
                    margin-bottom: 6px
                    &.all-summ
                        margin-top: 15px
                        margin-bottom: 24px
                        align-items: baseline
                        .detail-order__title
                            font-size: 15px
                            opacity: 1
                        .detail-order__value
                            font-size: 19px
                            +r(767)
                                font-size: 16px
                    .detail-order__dot
                        flex: 1 0
                        border-bottom: 1px dashed #4C5458
                        height: 1em
                        margin: 0 .4em
                        opacity: 0.3
                    .detail-order__title
                        color: $grey
                        opacity: 0.7
                        font-size: 13px
                        +r(320)
                            font-size: 11px
                    .detail-order__value
                        color: #000
                        font-size: 13px
                        +rm
                        +r(767)
                            font-size: 13px
                            text-align: right
                        +r(320)
                            font-size: 11px