.category-item
  background: linear-gradient(249.49deg, #F5F7F8 0%, #EFF1F2 100%)
  border-radius: 6px
  padding: 10px
  padding-bottom: 50px
  display: block
  +r(480)
    padding: 5px
    padding-bottom: 0
    
    height: 56vw
  &:hover
    text-decoration: none
  &__title
    font-size: 20px
    line-height: 24px
    text-align: center
    color: #000000
    border-radius: 8px
    margin-top: 26px
    +exm
    +r(480)
      line-height: 1.25
      margin-top: 4.8vw
      font-size: 16px
  &__img
    height: 220px
    display: flex
    justify-content: center
    align-items: center
    +r(480)
      height: 34.13vw
    img
      width: 100%
      height: 100%
      object-fit: contain


.section-block__body
  + .load-wrap
    margin-top: 80px
    +r(480)
      margin-top: 60px