.checkout-wrapper
  background: #FFFFFF
  border: 1px solid #EEEEEE
  box-sizing: border-box
  border-radius: 4px
  // height: 979px
  +r($mobile)
    height: auto !important
  +r(478)
    border: none !important
  > div
    height: 100%
    
.checkout-main
  padding-bottom: 125px
  .section-block__header
    margin-top: 45px

.checkout-steps
  // height: 100%
  background: #F8F8F9
  border-radius: 6px
  overflow-y: auto
  +r($mobile)
    width: 100vw
    position: relative
    left: -30px
    height: auto !important
  +r(639)
    left: -15px
  &__edit
    margin-left: 42px
    position: relative
    top: 4px
  &__bg
    background: #F8F8F9
  &__item
    margin-top: 0 !important
    position: relative
    &::before
      content: ''
      width: 4px
      height: calc(100% - 42px)
      top: 68px
      background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
      position: absolute
      left: 40px
      +r($mobile)
        display: none
    &:last-of-type
      &::before
        display: none
    &.uk-open
      
      &::before
        background: #EAEFF1
    &:nth-child(2)
      &:not(.uk-open)
        .checkout-steps__head
          opacity: 0.4
  &__head
    padding: 28px 25px
    display: flex
    align-items: center
    border-bottom: 1px solid #EEEEEE
    +r($mobile)
      padding: 14px 25px
      padding-right: 10px
    +r(478)
      padding: 14px 15px
  &__number
    color: $white
    background: $grey
    border-radius: 50%
    width: 36px
    height: 36px
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    +exb
    margin-right: 25px
    +r($mobile)
      font-size: 14px
      width: 32px
      height: 32px
      flex: 1 0 32px
      max-width: 32px
      margin-right: 12px
    &.is-complete
      background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
      font-size: 0
      position: relative
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.42539L4.79421 10L14 1.24129L12.6784 0L4.79421 7.49996L1.30334 4.17535L0 5.42539Z' fill='white'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: center center
        width: 100%
        height: 100%
        border-radius: 50%
        z-index: 1
  &__title
    font-size: 22px
    line-height: 109%
    color: $black
    +ex
    +r($mobile)
      font-size: 20px
  &__body
    padding: 40px 86px
    padding-bottom: 43px
    border-bottom: 1px solid #EEEEEE
    +r($mobile)
      padding: 30px
    +r(478)
      padding: 14px 15px
    .default-form__row-button 
      margin-top: 0
      padding: 0
      .btn
        height: 50px
        margin-top: 0
    .default-form__input
      box-shadow: 0px 10px 20px rgba(14, 51, 69, 0)
      transition: all .2s ease
      &:focus
        border-color: transparent
        background: #FFFFFF
        box-shadow: 0px 10px 20px rgba(14, 51, 69, 0.1)
      
    .default-form__row
      transition: all .2s ease
      &:focus-within
        .default-form__label
          color: $black !important
    .list
      width: 100%
      max-height: 253px
      overflow-y: auto


.checkout-cart
  display: flex
  flex-wrap: wrap
  flex-direction: column
  height: 100%
  +r(478)
    margin-top: 30px
    background: #FFFFFF
    border: 1px solid #EEEEEE
    box-sizing: border-box
    border-radius: 4px
    height: auto
  &__items
    flex: 1 1
    overflow-y: auto
    +r(478)
      max-height: 80vmax
  &__item
    display: flex
    flex-wrap: wrap
    padding: 25px
    border-bottom: 1px solid #EEEEEE 
    +r(478)
      padding: 23px
    .modal-basket__item-side__all
      padding-left: 26px
    .modal-basket__item-close
      align-items: flex-start
      cursor: pointer
    .modal-basket__item-count
      margin-left: 0
      margin-right: 0
    .modal-basket__item-img
      width: 100px
      height: 100px
      +r(478)
        width: 83px
        height: 83px
    .modal-basket__item-price
      margin-left: auto
      margin-right: 30px
      +r(478)
        margin-right: 0
    .card-item__title
      padding-right: 95px
      +r(478)
        padding-right: 0
  &__footer
    background: linear-gradient(90deg, rgba(#55969A, 0.1) 0%, rgba(#1FBA59,0.1) 100%)
    border-top: 1px solid #EEEEEE
    padding: 36px 30px
  &__count
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    + .checkout-cart__count
      margin-top: 20px
    &-line
      flex: 1 1
      border-top: 1px dashed rgba($grey,0.3)
      margin-top: auto
      position: relative
      top: -1px
    &-title
      font-size: 13px
      line-height: 15px
      color: #4C5458
      opacity: 0.7
    &-price
      font-size: 15px
      line-height: 18px
      text-align: right
      color: #000000
      border-radius: 8px
  &__total
    display: flex
    flex-wrap: wrap
    padding-top: 18px
    &-title
      font-size: 15px
      line-height: 20px
      color: #000000
      padding-right: 8px
    &-price
      +rm
      font-size: 19px
      line-height: 19px
      color: #000000
      border-radius: 8px
      padding-left: 3px
    &-line
      flex: 1 1
      border-top: 1px dashed #000000
      margin-top: auto
      position: relative
      top: -3px
  &__btn
    // visibility: hidden
    margin-top: 43px
    font-size: 16px
    +rm


.checkout-delivery
  &__title
    font-size: 19px
    line-height: 19px
    color: #000000
    +rm
    margin-bottom: 26px
  &__item
    padding-bottom: 40px
    padding-top: 30px
    border-bottom: 1px solid rgba($grey, 0.1)
    &:first-of-type
      padding-top: 0
      padding-bottom: 10px
    &:last-of-type
      border-bottom: 0
    .default-form__row
      &:last-of-type
        margin-bottom: 0 !important
  &__textarea
    margin-top: 20px
  &__comment
    &-title
      cursor: pointer
      font-size: 13px
      line-height: 15px
      color: #4C5458
      border-radius: 4px
      border-bottom: 1px dashed #485860


.checkout-final
  padding: 118px 0 114px 0
  +r($mobile)
    padding-top: 55px
    padding-bottom: 80px
  &__info
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 50px
    +r($mobile)
      padding-top: 0
      padding-bottom: 20px
    &-icon
      margin-bottom: 20px
      width: 100%
      display: flex
      justify-content: center
    .modal-default__title-gap
      margin-bottom: 14px
    .modal-default__subtitle
      max-width: 399px
      margin-bottom: 27px
  &__table
    display: flex
    flex-wrap: wrap
    justify-content: center
    &-title
      font-size: 20px
      line-height: 24px
      +exm
      color: $grey
      margin-bottom: 30px
      text-align: center
      width: 100%
    table
      background: #FFFFFF
      border: 1px solid #EEEEEE
      box-sizing: border-box
      border-radius: 4px
      max-width: 472px
      tr
        &:nth-of-type(odd)
          background: linear-gradient(90deg, rgba(#55969A, 0.1) 0%, rgba(#1FBA59, 0.1) 100%);
        td
          font-size: 15px
          padding: 11px 26px
          color: rgba($grey, 0.7)
          &:nth-of-type(odd)
            width: 45%
          &:nth-of-type(even)
            +rb
            color: #000
          +r(767)
              padding: 10px