.contact-top
    .uk-container
        display: flex
        justify-content: space-between
        align-items: stretch
        +r(970)
            flex-direction: column
    .l-section
        max-width: 265px
        +r(970)
            max-width: 100%
        .btn
            margin-top: 40px
            +r(970)
                max-width: 240px
                margin-top: 25px
        .btn__green
            width: auto
            max-width: 215px
            font-size: 16px
            +rm
    .r-section
        width: 800px
        height: 100%
        +r(1200)
            width: 600px
        +r(970)
            width: 100%
            margin-top: 45px
        #map
            height: 500px
            width: 100%
            +r(767)
                width: 100%
                height: 250px
    h1
        text-transform: uppercase
        +r(560)
            font-size: 24px
    .contact__item
        margin-bottom: 20px
        .title
            display: flex
            justify-content: flex-start
            align-items: center
            margin-bottom: 8px
            
            .img
                margin-right: 10px
                height: 24px
            .name
                font-size: 15px
                color: #808080
                text-transform: uppercase
                +exm
                line-height: 1
        .detail
            p,a,li
                font-size: 15px
                display: block
                margin-bottom: 0px
                +rb
                color: #000
            a
                line-height: 1
                margin-bottom: 10px
    

.partners-form-wrap    
    margin-top: 90px
    padding-bottom: 140px
    +r(970)
        margin-top: 50px
        padding-bottom: 90px
        .uk-container
            padding-left: 25px
            padding-right: 25px
    +r(767)
        .uk-container
            padding-left: 20px
            padding-right: 20px
    .title-block
        text-transform: uppercase
        font-size: 34px
        & + p
            color: #808080
        +r(570)
            font-size: 24px
    .form-wrap-bg
        display: flex
        justify-content: space-between
        align-items: flex-end
        background: linear-gradient(180deg, #FCFCFC 0%, #FCFCFC 11.85%, #FDFDFD 28.34%, #FCFCFC 46.73%, #FCFCFC 60.76%, #FBFBFB 80.38%, #F9F9F9 100%)
        border: 1px solid #EEEEEE
        border-radius: 4px
        padding: 80px 100px 0
        width: 100%
        box-sizing: border-box
        +r(1200)
            padding: 50px 15px 0
        +r(970)
            max-width: 100%
            width: auto
            padding: 25px
        +r(570)
            background: transparent
            padding: 0
            border: 0
        .img
            +r(970)
                display: none
    .form-wrap-partners
        max-width: 430px
        +r(970)
            max-width: 100%
        .default-form
            max-width: 410px
            +r(970)
                max-width: 100%
        .default-form__row
            
        .add-comment
            background: transparent
            border-bottom: 1px dashed $red
            font-size: 13px
            padding-bottom: 2px
            margin-bottom: 10px
        textarea.default-form__input
            height: 100px
            resize: none
        .hide-comment
            display: none
        
        .default-form__row-button
            margin-bottom: 80px
            +r(970)
                margin-bottom: 0
            +r(570)
            justify-content: flex-start