.partners-page
    h1
        display: none
        +r(970)
            display: block
            font-size: 24px
            line-height: 34px
            text-transform: uppercase
    .size
        color: #667279
        opacity: 0.7
        font-size: 12px
        line-height: 14px
    .top-partners
        .flex-top
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 60px
            +r(970)
                flex-direction: column-reverse
                margin-bottom: 20px
            .l-section
                max-width: 460px
                width: 460px
                +r(970)
                    width: 100%
                    max-width: 100%
                h2
                    text-transform: uppercase
                    font-size: 34px
                    line-height: 44px
                    +r(970)
                        font-size: 24px
                        line-height: 34px
                        display: none
                p
                    font-size: 15px
                    line-height: 20px
            .r-section
                width: 600px
                +r(970)
                    width: 100%
                    img
                        width: 100%
        .num-wrap
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin-bottom: 90px
            +r(970)
                flex-direction: column
                margin-bottom: 50px
            .num__item
                white-space: nowrap
                +r(970)
                    margin-bottom: 25px
                &:last-child
                    margin-bottom: 0
                .title
                    +exm
                    font-size: 28px
                    line-height: 28px
                    margin-bottom: 13px
                    position: relative
                    padding-left: 20px
                    +r(970)
                        font-size: 22px
                        margin-bottom: 9px
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        bottom: 0px
                        width: 7px
                        height: 25px
                        background: $red
                .text
                    font-size: 16px
                    color: #000
                    opacity: 0.7
                    +rd
                    +r(970)
                        color: #000
                        opacity: 0.7
    .doc-partners
        background: #F3F4F5
        padding-top: 120px
        padding-bottom: 120px
        +r(970)
            padding-top: 50px
            padding-bottom: 50px

        .uk-container
            display: flex
            justify-content: space-between
            align-items: flex-end
            .l-section
                margin-right: 60px
                +r(970)
                    margin-right: 0
                h2
                    text-transform: uppercase
                    max-width: 610px
                    +r(970)
                        font-size: 24px
                        line-height: 34px
                        max-width: 100%
                p
                    font-size: 13px
                    line-height: 15px
                    color: $grey
                    opacity: 0.7
                .doc-list
                    display: flex
                    justify-content: space-between
                    align-items: flex-start
                    flex-wrap: wrap
                    margin-top: 35px
                    +r(970)
                        width: 100%
                        margin-top: 10px
                    &__item
                        width: 370px
                        margin-top: 22px
                        display: flex
                        justify-content: space-between
                        align-items: center
                        background: #FFFFFF
                        border: 1px solid #E5ECF3
                        box-sizing: border-box
                        border-radius: 4px
                        padding: 15px 30px 15px 20px
                        text-decoration: none
                        +r(970)
                            padding: 10px 15px 10px 10px
                            margin-top: 10px
                            width: 100%
                        +r(480)
                            width: 100%
                        &:hover
                            text-decoration: none
                        .info
                            display: flex
                            justify-content: flex-start
                            align-items: center
                            .icon
                                margin-right: 20px
                            .name
                                font-size: 16px
                                color: #000
                                +rm
                                margin-bottom: 5px
                            .size
                                opacity: 1
                                +rm
            .r-section
                width: 350px
                min-width: 350px
                background: #fff
                border-radius: 6px
                position: relative
                box-sizing: border-box
                text-align: center
                +r(970)
                    display: none
                &.mob-only
                    display: none
                    +r(970)
                        display: block
                        margin-top: 110px
                        margin-left: auto
                        margin-right: auto
                    +r(480)
                        width: 100%
                        min-width: initial
                        
                &::after
                    content: ''
                    position: absolute
                    left: 0
                    right: 0
                    bottom: 0
                    height: 4px
                    border-radius: 0 0 6px 6px
                    background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
                .name
                    font-size: 20px
                    line-height: 24px
                    color: $black
                    +exm
                    margin-bottom: 10px
                img
                    margin-top: -80px
                    +r(970)
                        
                    
                .btn__gradient
                    display: inline-flex
                    background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
                    border-radius: 4px
                    +rm
                    font-size: 16px
                    color: #fff
                    height: 42px
                    width: 180px
                    margin-top: 27px
                    margin-bottom: 35px
    
.order-sertificate
    margin-top: 100px
    +r(970)
        margin-top: 80px
    .uk-container
        display: flex
        justify-content: space-between
        align-items: stretch
        border: 1px solid #EEEEEE
        box-sizing: border-box
        border-radius: 4px
        padding: 85px 110px 80px
        position: relative
        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: 0
            background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
            height: 8px
            border-radius: 0 0 4px 4px
            +r(970)
                display: none
        +r(1200)
            padding: 20px 
            padding-bottom: 60px
            border: 0
        .l-section
            width: 420px
            +r(970)
                width: 100%
            h3
                font-size: 28px
                line-height: 32px
                +exm
                margin-bottom: 30px
                +r(970)
                    text-transform: uppercase
                    
            .default-form
                max-width: 410px
                +r(970)
                    max-width: 100%
                .default-form__row-button
                    justify-content: flex-start
        .r-section
            border: 6px solid #F8F8F9
            border-radius: 6px
            box-shadow: 0 38px 24px -33px rgba(0,0,0,.1)
            +r(970)
                display: none
            &.mob-only
                display: none
                +r(970)
                    display: block
                    margin-bottom: 40px
                    max-width: 60%
                    margin: 0 auto 40px