.rating-wrap 

h1,h2
    +exsem

.top-product-detail
    .top-product-container
        +r(1200)
            flex-direction: column
    .l-section
        max-width: 585px
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex: 0 0 50%
        +r(1300)
            max-width: 520px
        +r(1200)
            max-width: 100%
            width: 100%
        +r(970)
            flex-direction: column-reverse
            margin-bottom: 20px
        .slider-nav-wrap
            max-width: 50px
            margin-right: 20px
            position: relative
            +r(960)
                max-width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                width: 100%
            .slick-nav 
                margin-bottom: 23px      
                +r(960)
                    max-width: 90%   
                    margin-bottom: 0     
                    width: 100%
                .slick-slide
                    a
                        
                        img
                            width: 100%
                            border: 1px solid transparent
                            border-radius: 4px 
                .slick-current 
                    a
                        img
                            border: 1px solid $red
            .slick-next, 
            .slick-prev
                background-image: url(../img/product/icon/arrow-bot.svg)
                background-repeat: no-repeat
                background-position: center
                &::before
                    content: ''
                +r(960)
                    height: 10px
                    width: 10px
            .slick-prev
                transform: rotate(180deg)
                top: -25px
                left: calc( 50% - 10px )
                +r(960)
                    top: 50%
                    left: -25px
                    transform: rotate(90deg)
                    background-size: cover
                +r(768)
                    left: -10px
                    top: 36%
            .slick-next
                bottom: 40px
                left: calc( 50% - 10px )
                top: auto
                +r(960)
                    top: 50%
                    right: -25px
                    bottom: auto
                    left: auto
                    transform: rotate(-90deg)
                    background-size: cover
                +r(768)
                    right: -10px
                    top: 36%
                   
                       
        .play-video
            display: flex
            flex-direction: column
            text-align: center
            text-decoration: none            
            align-items: center
            .icon
                width: 28px
                height: 28px
                border-radius: 50%
                background: rgba(255,0 , 0,0.4 )
                display: inline-flex
                justify-content: center
                align-items: center
            .name
                color: #000
                font-size: 12px
                border-bottom: 1px dashed $black 
                +rm
                font-weight: 500
                text-decoration: none
        .slid-big_wrap
            flex: 1
            overflow: hidden
            border: 1px solid #f8f8f9
            position: relative
            +r(960)
                max-width: 100%
            .label-wrap
                position: absolute
                left: 
                top: 0
                z-index: 10
                display: flex
                flex-direction: column
                justify-content: flex-start
                .label 
                    color: $white
                    +exm
                    font-size: 13px
                    line-height: 1
                    text-transform: uppercase
                    font-weight: 800
                    margin-bottom: 3px
                    padding: 5px 0px
                    width: auto
                    display: inline-block
                    min-width: 60px
                    text-align: center
                    padding: 10px 15px
                    &-red
                        background: $red
            .share-slid
                position: absolute
                bottom: 10px
                right: 10px
                background: #FFE7E7
                border-radius: 35px 6px 6px
                z-index: 10
                display: flex
                justify-content: space-between
                align-items: center
                padding: 10px 10px 12px
                .icon
                    margin-right: 10px
                .top-info
                    font-size: 12px
                    .red
                        color: $red
                    +rb
                .botton-info
                    font-size: 11px
                    color: $grey
            .js-slid-big
                padding-left: 0
                > li
                    display: none
                    &:nth-child(1)
                        display: block
                li
                    a
                        img
                            width: 100%

    .r-section
        width: 49%
        padding-left: 40px
        +r(1300)
            width: 53%
        +r(1200)
            max-width: 100%
            width: 100%
            padding-left: 0
        .review-article-wrap
            display: flex
            justify-content: space-between
            align-content: center
            +r(960)
                display: none
            .rating-wrap
                display: flex
                justify-content: flex-start
                align-items: center
                ul
                    display: flex
                    justify-content: flex-start
                    padding-left: 0
                    margin-bottom: 0
                    margin-right: 15px
                    li
                        svg
                            path
                                fill: #E1E1E1
                        &.color
                            svg
                                path
                                    fill:#F47C0C
                .top-review
                    color: #000
                    border-bottom: 1px dashed #4C5458
                    text-decoration: none
            .product__code
                background: #F8F8F9
                font-size: 13px
                border-radius: 6px
                padding: 4px 11px
        .product__name
            +r(960)
                display: none
        .product-size
            display: flex
            &-list
                display: flex
                justify-content: flex-start
                align-items: center
                flex-wrap: wrap
                padding-left: 0
                margin-bottom: 0
                //height: 100%
                height: 35px
                overflow: hidden
                &.more-five                    
                    &.open
                        height: 100%
                        .product-size-item
                            display: block
                        .view-all                              
                            a:after
                                transform: rotate(180deg)
            .product-size-item
                margin-bottom: 12px
                margin-right: 10px
                display: block
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4)
                    display: block
                +r(767)
                    width: calc(33.332% - 10px)
                
                a
                    display: flex
                    border: 1px solid $grey
                    border-radius: 4px
                    justify-content: center
                    align-items: center
                    min-width: 100px
                    height: 32px
                    font-size: 14px
                    color: $grey
                    +rb
                    text-decoration: none
                    +r(767)
                        min-width: 80px
                        font-size: 12px
                &.active
                    a
                        background: linear-gradient(90deg, rgba(85, 150, 154, 0.15) 0%, rgba(31, 186, 89, 0.15) 100%)
                        border-color: transparent
                &.view-all
                    margin-right: 0
                    a
                        //  border-image-slice: 1
                        border-radius: 4px
                        position: relative
                        background: #fff
                        border: solid 0px transparent
                        //    border-image-source: linear-gradient(90deg, rgba(85, 150, 154, 1) 0%, rgba(31, 186, 89, 1) 100%)
                        &::after
                            content: ''
                            position: relative
                            width: 10px
                            height: 9px                            
                            background-image: url(../img/product/icon/arrow-bot.svg)
                            background-repeat: no-repeat
                            background-position: center
                            background-size: contain
                            margin-left: 7px

                        &::before
                            content: ''
                            position: absolute
                            top: 0
                            right: 0
                            bottom: 0
                            left: 0
                            z-index: -1
                            margin: -1px
                            border-radius: inherit
                            background: linear-gradient(90deg, rgba(85, 150, 154, 1) 0%, rgba(31, 186, 89, 1) 100%)

                        .close
                            display: none
                    &.active
                        a
                            &::after
                                transform: rotate(180deg)
                            .open
                                display: none
                            .close
                                display: block
        .product__statuses
            display: flex
            justify-content: flex-start
            align-items: center
            margin-top: 28px
            margin-bottom: 8px
            +rm
            +r(767)
                margin-top: 13px
            .icon
                margin-right: 11px
            &-green
                color: #0E8039
            &-grey
                color: #4C5458
                opacity: 0.7
                .icon
                    display: none
        .price-wrap
            font-size: 32px
            color: $grey
            font-weight: 500
            +rm
            line-height: 1
            margin-bottom: 26px
            display: flex
            justify-content: flex-start
            align-items: flex-end
            .old-price
                font-size: 22px
                margin-left: 17px
                +rd
                color: $grey
                position: relative
                &::before
                    content: ''
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    left: 0
                    right: 0
                    height: 2px
                    background: $red 
                    z-index: 1
            &.share-price
                color: $red
        .buy-wrap
            display: flex
            justify-content: flex-start
            align-items: center
           
            .buy-link
                display: flex
                justify-content: center
                align-items: center
                color: $white
                font-size: 16px
                border-radius: 4px
                min-width: 232px
                padding-left: 25px
                padding-right: 25px
                height: 54px
                text-decoration: none
                transform: background 0.3s easy
                box-sizing: border-box
                +r(480)
                    padding-left: 2px
                    padding-right: 2px
                &:hover
                    transform: background 0.3s easy
                .icon
                    margin-right: 15px
                &-green
                    background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
                    &:hover
                        background: linear-gradient(90deg, #1FBA59 0%, #55969A 100%)
                &-orange
                    background: linear-gradient(90deg, #E2814E 0%, #FFA116 100%)
                    min-width: 278px
                    &:hover
                        background: linear-gradient(90deg, #FFA116 0%, #E2814E 100%)
                    +r(380)
                        min-width: 240px
            .share-wrap
                display: flex
                justify-content: flex-start
                align-items: center
                margin-left: 20px
                +r(767)
                    position: relative
                    margin-left: 15px
                .other-view
                    display: flex
                    justify-content: center
                    align-items: center
                    min-width: 54px
                    min-height: 54px
                    border: 1px solid rgba(76, 84, 88, 0.3)
                    border-radius: 50%
                    background: transparent
                    margin-right: 7px
                    transition: all 0.3s easy
                    &:hover
                        border-color: #1FBA59
                        background: #fff
                        transition: all 0.3s easy
                        svg path
                            fill: #1FBA59
                    +r(767)
                        display: none
                .share-link
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    padding-left: 0
                    width: 0%
                    overflow: hidden
                    transition: width 0.5s ease-in-out
                    +r(767)
                        position: absolute
                        visibility: hidden
                        flex-direction: column
                        &.open
                            visibility: visible
                    &.open
                        width: 100%
                    &__item
                        margin-right: 7px
                    
                    a
                        display: flex
                        justify-content: center
                        align-items: center
                        min-width: 54px
                        min-height: 54px
                        border: 1px solid rgba(76, 84, 88, 0.3)
                        border-radius: 50%
                        transition: all 0.3s easy
                        &:hover
                            border-color: #1FBA59
                            background: #fff
                            transition: all 0.3s easy
                .share-view-mob
                    display: none
                    justify-content: center
                    align-items: center
                    min-width: 54px
                    min-height: 54px
                    border: 1px solid rgba(76, 84, 88, 0.3)
                    border-radius: 50%
                    background: transparent
                    margin-right: 7px
                    transition: all 0.3s easy
                    &:hover
                        border-color: #1FBA59
                        background: #fff
                        transition: all 0.3s easy
                        svg path
                            fill: #1FBA59
                    +r(767)
                        display: flex
        .buy-one-click
            +r(767)
                margin-bottom: 15px
                margin-top: 15px
            form
                width: auto
                display: inline-flex
                border: 1px solid rgba(76, 84, 88, 0.3)
                display: flex
                justify-content: flex-start
                align-items: stretch
                border-radius: 4px
                &.is-error
                    border: 1px solid red
                +r(767)
                    width: 100%
                input
                    background: url(../img/product/icon/phone.svg)
                    background-repeat: no-repeat
                    background-position: 20px center
                    padding-left: 46px
                    padding-right: 25px
                    font-size: 15px
                    color: #06070C
                    +r(480)
                        padding-left: 25px
                        background-position: 10px center
                        width: 100%

                a,
                button
                    background: #F8F8F9
                    color: $black
                    border-radius: 6px 4px 4px 6px
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 14px
                    +rb
                    height: 44px
                    padding-left: 23px
                    padding-right: 15px
                    white-space: nowrap
                    transition: all 0.3s 
                    text-decoration: none
                    &:hover
                        background: #4C5458
                        color: #FFFFFF
                        transition: all 0.3s 
                    +r(480)
                        padding-left: 15px
                        padding-right: 15px
                    +r(360)
                        padding-left: 10px
                        padding-right: 10px
        .product-about__info
            display: flex
            justify-content: space-between
            align-items: stretch
            margin-top: 20px
            +r(767)
                flex-direction: column
            .product-about__item
                flex: 0 0 27.33%
                padding-right: 30px
                margin-right: 30px
                border-right: 1px solid rgba(76, 84, 88, 0.1)
                &:last-child
                    margin-right: 
                    padding-right: 0
                    border-right: 0
                +r(767)
                    border-right: 0
                    border-top: 1px solid rgba(76, 84, 88, 0.1)
                   
                    margin-right: 0
                    position: relative
                    &:after
                        content: ''
                        position: absolute
                        right: 15px
                        top: 25px
                        background-image: url(../img/product/icon/arrow-bot.svg)
                        background-repeat: no-repeat
                        background-position: center
                        width: 10px
                        height: 10px
                    &.open
                        &:after
                            transform: rotate(180deg)
                    &:last-of-type
                        border-bottom: 1px solid rgba(76, 84, 88, 0.1) 
                    ul
                        display: none
                        &.open
                            display: block
            .title
                display: flex
                justify-content: flex-start
                align-items: center
                text-transform: uppercase
                font-size: 15px
                +exsem
                font-weight: 500
                +r(767)
                    padding-top: 20px
                    padding-bottom: 20px
                .icon
                    margin-right: 10px
                    min-width: 20px
            ul
                padding-left: 0
                margin-top: 10px
                margin-bottom: 0
                li
                    position: relative
                    padding-left: 10px
                    font-size: 12px
                    color: rgba(76,84,84, 0.8)
                    margin-bottom: 8px
                    &:last-child
                        margin-bottom: 0
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        top: 7px
                        width: 4px
                        height: 4px
                        border-radius: 50%
                        background: rgba(76,84,84, 0.8)

.tabs-wrap
    margin-top: 50px
    
    .tabs-nav
        border: 1px solid #EEEEEE
        border-bottom: 0
        margin-left: 0
        display: flex
        justify-content: space-between
        align-items: stretch
        margin-bottom: 0
        +r(767)
            flex-wrap: nowrap
            overflow-x: auto
            overflow-y: hidden
            white-space: nowrap
        &::before
            left: 0
        &__item
            text-align: center
            flex: 1
            padding-left: 0
            height: 56px
            border-right: 1px solid #EEEEEE
            &:last-of-type                
                border-right: 0
            
            &.uk-active
                a
                    border-bottom: 0
                    &::before
                        content: ''
                        position: absolute
                        bottom: 0
                        left: 0
                        right: 0
                        height: 2px
                        background: $red
                    
            a
                padding: 0
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                font-size: 16px
                position: relative
                +rm
                text-transform: none
                &:hover
                    background: #F8F8F9
                    color: #4C5458
                +r(767)
                    padding-left: 30px
                    padding-right: 30px
    .tabs-content
        border: 1px solid #EEEEEE
        border-top: 0
        margin-top: 0 !important
        padding-top: 0
        .tabs-content__item
            h2
                font-size: 22px
                margin-bottom: 30px
                span
                    color: #afb9bd
                +r(767)
                    font-size: 20px
                    line-height: 24px
            &-info
                padding: 70px 70px 85px
                +r(767)
                    padding: 15px
            &-specifications
                padding: 90px 140px 120px
                +r(767)
                    padding: 15px
                table
                    tr
                        &:nth-of-type(odd)
                            background: #F3F4F5
                        td
                            padding: 13px 60px 13px 30px
                            &:nth-of-type(odd)
                                width: 45%
                            &:nth-of-type(even)
                                +rb
                            +r(767)
                                padding: 10px
                                
            &-video
                padding: 90px 140px 80px
                +r(767)
                    padding: 15px
                .video-product
                    width: 100%
                    height: 450px
                    +r(960)
                        height: 350px
                    +r(480)
                        height: 250px
                    +r(320)
                        height: 150px
            &-review
                padding: 90px 145px 90px
                +r(767)
                    padding: 15px
                h2
                    margin-bottom: 18px
                .review-title
                    font-size: 15px
                    color: #a7abad
                    a
                        color: $red
                        border-bottom: 1px dashed $red
                        text-decoration: none
                .review-form-wrapper
                    margin-top: 18px
                    .title-form
                        font-size: 13px
                        color: #969A9D
                        position: relative
                        display: inline-block
                        &:after
                            content: '*'
                            color: $red
                            font-size: 13px
                            position: absolute
                            top: 0
                            right: -7px
                    .star-row
                        display: flex
                        margin-bottom: 20px
                        align-items: center
                        .star
                            margin-left: 20px 
                            .rate
                                display: flex
                                flex-direction: row-reverse                   
                            .rate:not(:checked) > input
                                position: absolute 
                                height: 0 
                                width: 0
                                opacity: 0
                                visibility: hidden
                             
                            .rate:not(:checked) > label
                                float: right 
                                width: 1em 
                                overflow: hidden 
                                white-space: nowrap 
                                cursor: pointer 
                                font-size: 30px 
                                color:#ccc                             
                            .rate:not(:checked) > label:before
                                content: '★ ' 
                             
                            .rate > input:checked ~ label
                                color: #F47C0C                             
                            .rate:not(:checked) > label:hover,
                            .rate:not(:checked) > label:hover ~ label
                                color: #ff912b                             
                            .rate > input:checked + label:hover,
                            .rate > input:checked + label:hover ~ label,
                            .rate > input:checked ~ label:hover,
                            .rate > input:checked ~ label:hover ~ label,
                            .rate > label:hover ~ input:checked ~ label  
                                color: #ff912b 
                             
                    textarea
                        width: 100%
                        margin-top: 12px
                        resize: none
                        height: 120px
                        border: 1px solid #D3DBE8
                        border-radius: 4px
                        padding: 15px 25px
                        box-sizing: border-box
                        &:focus
                            box-shadow: 0px 10px 20px rgba(14, 51, 69, 0.1)
                    .btn__green
                        padding-left: 45px
                        padding-right: 45px
                        margin-top: 25px
                        span
                            font-size: 16px
                            +rm
                        +r(767)
                            padding-left: 0
                            padding-right: 0
                            width: 215px
                .none-review
                    color: #485860
                    font-size: 15px
                    margin-top: 44px
                .review-block
                    
                   
                    
                    &__item
                        padding-top: 45px
                        margin-top: 50px
                        border-top: 1px solid #eee
                        +r(767)
                            margin-top: 30px
                            padding-top: 25px
                        .top-info
                            display: flex
                            justify-content: space-between
                            align-items: center
                            .l-section
                                display: flex
                                justify-content: flex-start
                                align-items: center
                                .photo
                                    min-width: 60px
                                    min-height: 60px
                                    background: #fff
                                    border-radius: 50%
                                    margin-right: 20px
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    img
                                        max-width: 100%
                                    +r(767)
                                        margin-right: 15px
                                .rating-wrap
                                    margin-bottom: 5px
                                    ul
                                        padding-left: 0
                                        display: flex
                                        margin-bottom: 0
                                        li
                                            svg
                                                path
                                                    fill: #E1E1E1
                                            &.color
                                                svg
                                                path
                                                    fill: #F47C0C
                                .name
                                    +rm
                            .date
                                font-size: 13px
                                color: $grey
                        .text-review
                            margin-top: 25px
                        .nav-review
                            margin-top: 10px
                            display: flex
                            justify-content: flex-start
                            align-items: center
                            flex-wrap: wrap
                            .hide
                                display: none
                            .nav-reply
                                color: #4C5458
                                border-bottom: 1px dashed #4C5458
                                margin-right: 30px
                                +rb
                                text-transform: uppercase
                                text-decoration: none
                                font-size: 11px
                            .number-responses
                                +rb
                                text-transform: uppercase
                                color: #4C5458
                                border-bottom: 1px dashed #4C5458
                                cursor: pointer
                                font-size: 11px
                                svg
                                    path
                                        fill: #4C5458
                                &.red
                                    color: $red
                                    border-bottom: 1px dashed $red
                                    svg
                                        path
                                            fill: $red
                            .reply-to-review
                                width: 100%
                                margin-top: 15px
                                display: none
                                .star-row
                                    display: flex
                                    justify-content: space-between
                                    margin-bottom: 0
                                    .num-symbol
                                        &::after
                                            display: none
                                textarea
                                    width: 100%
                                    box-sizing: border-box
                                .nav-row
                                    display: flex
                                    align-items: center
                                    margin-top: 13px
                                    .btn__green
                                        margin-top: 0px
                                        margin-right: 50px
                                        +r(767)
                                            margin-right: 20px
                                    .reset-btn
                                        background: transparent
                                        font-size: 11px
                                        text-transform: uppercase
                                        +rm
                                        color: #4C5458
                                        border-bottom: 1px dashed #4C5458
                            .responses-wrap
                                width: 100%
                                margin-top: 15px
                                display: none
                                .review-block__item
                                    margin-top: 20px
                                    border-radius: 4px
                                    position: relative
                                    padding: 20px 30px
                                    &::after
                                        content: ''
                                        position: absolute
                                        top: -21px
                                        left: 15%
                                        border: 9px solid transparent
                                        border-bottom: 12px solid #EDF5F4
                                        z-index: 1
                                    +r(767)
                                        padding: 15px
                                    .top-info
                                        position: relative
                                        z-index: 1
                                        .l-section
                                            flex-wrap: wrap
                                            .name-wrap
                                            .text-review
                                                margin-top: 6px
                                            .nav-review
                                            +r(767)
                                                flex-wrap: nowrap
                                                align-items: flex-start
                                                padding-top: 25px
                                                .photo
                                                    margin-top: -20px
                                                    margin-right: 15px
                                        .r-section
                                            +r(767)
                                                position: absolute
                                                top: 0
                                                left: 76px
                                    .nav-review
                                        position: relative
                                        z-index: 1
                                        padding-left: 80px
                                        +r(767)
                                            padding-left: 75px
                                    &:nth-of-type(odd)
                                        
                                        &::before
                                            content: ''
                                            position: absolute
                                            left: 0
                                            top: 0
                                            right: 0
                                            bottom: 0
                                            background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
                                            opacity: 0.1
                                            z-index: 0
                                            border-radius: 4px
                                    &:nth-of-type(even)
                                        background: #F8F8F9
                                        border-radius: 6px
                                        &::after
                                            border-bottom: 12px solid #F8F8F9
                                    &.manager
                                        .photo
                                            box-shadow: 0px 2px 14px rgba(184, 50, 50, 0.1)
                    .more-btn
                        margin-top: 35px
                        display: flex
                        justify-content: center
                        align-items: center
                        background: #F8F8F9
                        border-radius: 4px
                        font-size: 15px
                        color: $grey
                        height: 48px
                        text-decoration: none
                                        
            &-document
                padding: 90px 145px 90px
                +r(960)
                    padding: 15px
                .document-list
                    margin-left: -5px
                    margin-right: -5px
                    display: flex
                    justify-content: flex-start
                    align-items: flex-start
                    flex-wrap: wrap
                    +r(480)
                        justify-content: space-between
                        align-items: stretch
                    &__item
                        padding-left: 5px
                        padding-right: 5px
                        margin-bottom: 15px
                        +r(480)
                            width: 49%
                            box-sizing: border-box

                        +r(400)
                            
                        .info
                            border: 1px solid #E5ECF3
                            border-radius: 4px
                            padding: 20px
                            text-align: center
                            +r(480)
                                padding: 13px
                                height: 100%
                                display: flex
                                flex-wrap: wrap
                                flex-direction: column
                            .img
                                height: 160px
                                display: flex
                                justify-content: center
                                align-items: center
                                +r(480)
                                    height: 120px
                                img
                                    width: 100%
                                    height: 100%
                                    object-fit: contain
                            .name
                                font-size: 16px
                                +rb
                                margin-bottom: 5px
                            .size
                                font-size: 13px
                                color: #667279
                                margin-bottom: 25px
                            .download
                                display: flex
                                justify-content: center
                                align-items: center
                                background: #F3F4F5
                                border-radius: 4px
                                height: 42px
                                color: #4C5458
                                font-size: 16px
                                text-decoration: none
                                transition: all 0.3s
                                +rb
                                svg
                                    margin-right: 13px
                                    width: 13px
                                    flex: 1 0 13px
                                    max-width: 13px
                                    +r(767)
                                        margin-right: 5px
                                &:hover
                                    background: $red
                                    color: #fff
                                    transition: all 0.3s
                                    svg
                                        path
                                            fill: #fff
                                +r(480)
                                    margin-top: auto
                                span
                                    +r(767)
                                        font-size: 13px
            
        .tabs-detail-row
            display: flex
            margin-bottom: 100px      
            align-items: center      
            +r(960)
                flex-direction: column-reverse
                margin-bottom: 70px    
            .descript
                flex: 1
                max-width: 50%
                +r(960)
                    max-width: 100%
                h2
                    font-size: 28px
                    line-height: 32px
                    +r(960)
                        font-size: 20px
                        line-height: 24px
                        margin-bottom: 20px
                        margin-top: 25px
            .img
                flex: 1
                min-width: 50%
                img
                    max-width: 100%
                
            &:nth-of-type(even)
                flex-direction: row-reverse
                +r(960)
                    flex-direction: column-reverse
                .descript
                    padding-left: 70px
                    +r(960)
                        padding-left: 0
            &:nth-of-type(odd)
                .descript
                    padding-right: 70px
                    +r(960)
                        padding-right: 0
            &:last-child
                margin-bottom: 0 


.video_wrapper  
	width: 100% 
	margin: 0 auto 0px 
	position: relative 
	background-color: #000 
   
.video_wrapper_full  
	padding-top: 425px 
   
  
  
.videoIframe  
    position: absolute 
    top: 0 
    bottom: 0 
    right: 0 
    left: 0 
    width: 100% 
    height: 100% 
    background-color: transparent 
   
  
.videoPoster  
    position: absolute 
    top: 0px 
    left: 0px 
    width: 100% 
    height: 100% 
    background-image: url(../img/slide-big-photo.png) 
    background-color: linear-gradient(0deg, rgba(8, 10, 34, 0.5), rgba(8, 10, 34, 0.5)) 
    background-size: cover 
    background-repeat: no-repeat 
    border: none 
    text-indent: -999em 
    overflow: hidden 
    opacity: 1 

   
.videoPoster:hover  
	cursor: pointer 
   
.videoPoster:before  
	content: '' 
	position: absolute 
	top: 50% 
	left: 50% 
	width: 80px 
	height: 80px 
	margin: -40px 0 0 -40px 
	border: 1px solid #fff 
	background: $black
	border-radius: 100% 
	transition: border-color 300ms 
   
.videoPoster:after  
    content: '' 
    position: absolute 
    top: 50% 
    left: 50% 
    width: 0 
    height: 0 
    transform: translate(-32%, -50%) 
    border-left: 24px solid #fff 
    border-top: 13px solid transparent 
    border-bottom: 13px solid transparent 
    transition: border-color 300ms 
    display: block !important 
   
.videoPoster:hover:before,  .videoPoster:focus:before  
	 // border-color: #f00 
   
.videoPoster:hover:after, .videoPoster:focus:after  
	//border-left-color: #f00 
   
.videoWrapperActive .videoPoster  
	opacity: 0 
	height: 0 
	transition-delay: 0s, 800ms 
   

.play-btn.videoPoster:before  
	content: '' 
	position: absolute 
	top: 50% 
	left: 50% 
	width: 80px 
	height: 80px 
	margin: -40px 0 0 -40px 
	border: 1px solid #fff 
	border-radius: 100% 
	transition: border-color 300ms 
   
.play-btn.videoPoster:after  
    content: '' 
    position: absolute 
    top: 50% 
    left: 50% 
    width: 0 
    height: 0 
    transform: translate(-32%, -50%) 
    border-left: 24px solid #fff 
    border-top: 13px solid transparent 
    border-bottom: 13px solid transparent
    transition: border-color 300ms
    display: block !important



.mob-only-cart
    display: none
    +r(1024)
        display: block
    .review-article-wrap
        display: flex
        justify-content: space-between
        align-content: center
        margin-bottom: 12px
        .rating-wrap
            display: flex
            justify-content: flex-start
            align-items: center
            ul
                display: flex
                justify-content: flex-start
                padding-left: 0
                margin-bottom: 0
                margin-right: 15px
                li
                    svg
                        path
                            fill: #E1E1E1
                    &.color
                        svg
                            path
                                fill:#F47C0C
            .top-review
                color: #000
                border-bottom: 1px dashed #4C5458
                text-decoration: none
        .product__code
            background: #F8F8F9
            font-size: 13px
            border-radius: 6px
            padding: 4px 11px
    .product__name
        font-size: 22px
        margin-top: 0px
        margin-bottom: 1px
   
            

.js-product-phone-send
    .is-error 
        border: 1px solid red
