.registr-instrument-wrap
    padding-bottom: 150px
    h1
        line-height: 1
        font-size: 34px
        text-transform: uppercase
        +exm
        +r(767)
            font-size: 24px
    +r(970)
        padding-bottom: 100px
    .uk-container 
        display: flex
        justify-content: space-between
        align-items: flex-start
        +r(970)
            flex-direction: column
        .l-section,
        .r-section
            flex: 1
            width: 100%
            box-sizing: border-box
        .l-section
            max-width: 585px
            +r(1200)
                max-width: 500px
            +r(970)
                max-width: 100%
                margin-bottom: 50px
            p
                max-width: 80%
                margin-top: 25px
                margin-bottom: 25px
                +r(767)
                    max-width: 100%
                    color: #000
                    opacity: 0.6
                    font-size: 15px
                    line-height: 20px
            .regist-slider 
                img
                    margin: 0 auto
            .small-title
                background: #F8F8F9
                border-radius: 6px
                font-size: 13px
                line-height: 15px
                text-align: center
                padding: 33px 43px
                margin-top: 40px
                +r(767)
                    padding: 20px 25px
                    color: #000
                    opacity: 0.6
            .slick-dots li
                margin: 0
                button:before
                    font-size: 30px
                    color: #4C5458
                    opacity: 0.2
                    +r(767)
                        font-size: 27px
                &.slick-active button:before
                    opacity: 1
                    font-size: 35px
                    +r(767)
                        font-size: 32px
        .r-section
            max-width: 415px
            +r(970)
                max-width: 100%
            .title-from
                text-align: center
                font-size: 15px
                line-height: 20px
                color: #000
                opacity: 0.6
                margin-bottom: 30px
                +r(767)
                    text-align: left
            .default-form__row-button
                +r(767)
                    justify-content: flex-start
