.search-page
    padding-bottom: 40px
    +r(767)
        padding-bottom: 20px
    .section-block__title
        border-bottom: 1px solid rgba(0, 0, 0, 0.06) 
        padding-bottom: 30px
        width: 100%
        +r(767)
            line-height: 34px
    h2.title-block
        font-size: 28px
        +exsem
        line-height: 32px
        position: relative
        padding-left: 15px
        width: 100%
        padding-top: 0px
        
        &::before
            content: ''
            width: 7px
            height: 25px
            background: red
            position: absolute
            left: 0
            bottom: 4px
    .load-more
        margin-bottom: 110px
        +r(767)
            margin-bottom: 70px
    &-not
        .result-not-search
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-start
            min-height: 400px
            padding-top: 75px
            +r(1440)
                min-height: 300px
                padding-top: 45px
            +r(1200)
                padding-top: 30px
                padding-bottom: 90px
                min-height: initial
            .icon
                width: 96px
                height: 96px
                border-radius: 50%
                position: relative
                display: flex
                justify-content: center
                align-items: center
                &::before
                    content: ''
                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    left: 0
                    background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
                    opacity: 0.1
                    border-radius: 50%
            h3
                font-size: 22px
                line-height: 1
                +exsem
                +r(767)
                    font-size: 20px
            p
                max-width: 555px
                text-align: center
                font-size: 15px
                line-height: 20px
                color: #000
                opacity: 0.6
                margin-top: 0