<footer class="footer">

  <div class="uk-container">
    <div class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>

      <div class="footer__item">

        <a href="" class="logo-footer">
          <img src="./img/logo-white.svg" alt="">
        </a>
        <div class="copiright">© 2013 — 2020 «APRO»</div>

        <div class="footer__social">
          <a href="">{{mixins.icon('fb')}}</a>
          <a href="">{{mixins.icon('ytb')}}</a>
          <a href="">{{mixins.icon('insta')}}</a>
        </div>

        <div class="payment">
          <img src="./img/mastercard.svg" alt=""><img src="./img/visa.svg" alt="">
        </div>

      </div>
      <div class="footer__item footer__item-slide">

        <div class="footer__item-title">Продукція</div>

        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Крепежные изделия</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Резуже - сверлильный инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Ручной инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Электро - инструмент</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Пневматические инструменты</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Химия</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

      </div>
      <div class="footer__item  footer__item-slide">

        <div class="footer__item-title">Информация</div>

        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">О бренде</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Спецпредложения</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Блог</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Контакты</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Партнерам</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Покупателям</a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">Наша страсть</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

      </div>
      <div class="footer__item footer__item-small-gap">

        <div class="footer__item-title">{{mixins.icon('phone')}} Телефони:</div>
        
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">0 800 307 207 </a>
          </li>
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <!-- <li class="footer-list__item">
            <a href="">+38 (057) 341-10-23</a>
          </li> -->
          <!-- end footer-list__item -->
          <!-- begin footer-list__item -->
          <!-- <li class="footer-list__item">
            <a href="">+38 (057) 341-10-23</a>
          </li> -->
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

        <div class="footer__item-title">{{mixins.icon('clock')}} Графік роботи:</div>
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <span>Пн-Пт с 9:00 до 18:00
            </span>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->

        
        <div class="footer__item-title">{{mixins.icon('mail')}} Email:</div>
        <!-- begin footer__list -->
        <ul class="footer__list">

          <!-- begin footer-list__item -->
          <li class="footer-list__item">
            <a href="">sales.ua@aprofixing.com</a>
          </li>
          <!-- end footer-list__item -->
          
        </ul>
        <!-- end footer__list -->


      </div>

    </div>

  </div>

</footer>