
<header class="header">
  <!-- BEGIN .top-header -->
  <div class="top-header is-desktop">

    <div class="uk-container uk-flex uk-flex-between">


    </div>

    

  </div>
  <!-- END .top-header -->
  <!-- BEGIN .middle-header -->
    <div class="middle-header">
      <div class="uk-container uk-flex uk-flex-wrap uk-flex-middle uk-flex-between">


        <a href="" class="logo">
          <svg width="170" height="30" viewBox="0 0 170 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7 3.66029C13.7353 1.50718 15.8749 0 18.3597 0H27.3325L41.758 30H34.6488L32.9923 26.6268H18.3597V20.0239H29.8173L23.3983 6.60287H18.3597L7.10922 30H0L12.7 3.66029ZM88.2785 20.0239V30H94.6285V20.0239H112.436L117.268 30H124.377L119.407 19.7368C123.618 18.6603 126.724 14.7129 126.724 10.0478C126.724 4.52153 122.444 0.0717703 117.13 0.0717703H88.2785V6.67464H117.13C118.924 6.67464 120.374 8.18182 120.374 10.0478C120.374 11.9139 118.924 13.4211 117.13 13.4211H94.6285C91.1084 13.4211 88.2785 16.3636 88.2785 20.0239ZM155.574 30H145.98C138.043 30 131.555 23.2536 131.555 15C131.555 6.74641 138.043 0 145.98 0H155.574C163.512 0 170 6.74641 170 15C170 23.2536 163.512 30 155.574 30ZM155.574 6.60287C160.061 6.60287 163.65 10.3349 163.65 15C163.65 19.6651 160.061 23.3971 155.574 23.3971H145.98C141.494 23.3971 137.905 19.6651 137.905 15C137.905 10.3349 141.494 6.60287 145.911 6.60287H155.574ZM44.933 20.0239V30H51.283V20.0239H73.784C79.0986 20.0239 83.378 15.5742 83.378 10.0478C83.378 4.52153 79.0986 0.0717703 73.784 0.0717703H44.933V6.67464H73.784C75.5786 6.67464 77.028 8.18182 77.028 10.0478C77.028 11.9139 75.5786 13.4211 73.784 13.4211H51.283C47.7629 13.4211 44.933 16.3636 44.933 20.0239Z" fill="#FF0000"/>
            </svg>
        </a>

       <!-- begin call-us -->
<div class="call-us">

  <div class="call-us__numbers">
    <span class="call-us__number">
      <a href="tel:+380573411023">0 800 307 207</a> {{mixins.icon('chevron-b')}}
    </span>
    <!-- begin .js-dropdown-nav -->
    <div class="main-nav_drop js-dropdown-main">
      <div class="drop__inner drop__inner-numbers">
<!-- 
        <a href="tel:+380573411023" class="call-us__number">+38 (057) 341-10-23</a>
        <a href="tel:+380573411023" class="call-us__number">+38 (057) 341-10-23</a> -->


        <span class="t-grey call-us__info">с 8:00 до 21:00 (Пн - Вс)</span>
        <span class="call-us__number call-us__number-text">Безкоштовно по Україні</span>
        
      </div>


    </div>
    <!-- end .js-dropdown-nav -->
    <div class="call-us__popup ">
      <a class="js-call-us-popup" href="#modal-call-us" uk-toggle>Зв'язатися з нами</a> </div>
    
  </div>
  
</div>
<!-- end call-us --> 
        

      </div>
    </div>
  <!-- END .middle-header -->
</header>



