<!-- begin mobile-nav js-mobile-nav -->
<div id="js-mobile-nav" class=" js-mobile-nav " uk-offcanvas="overlay: true">

  <div class="uk-offcanvas-bar">

    <nav class="mobile-nav">

      <!-- begin mobile-nav__top -->
      <div class="mobile-nav__top">

        <span uk-toggle="target: #js-mobile-nav">
          {{mixins.icon('close')}}
        </span>
        

        <div class="auth">
          <a href="#modal-login" uk-toggle class="link auth-link">
            {{mixins.icon('user', 'no-fill')}} Вхід / Реєстрація
          </a>
        </div>

        <div class="switcher lang-switcher">
          <a href="" class="lang-switch is-active">Укр</a>
          <a href="" class="lang-switch">Рус</a>
        </div>
        
      </div>
      <!-- end mobile-nav__top -->


      <!-- begin mobile-nav__body -->
      <div class="mobile-nav__body" >

        {% include "partials/mobile-nav/_catalog.html" %}

        <!-- begin mobile-nav__menu -->
        <ul class="mobile-nav__menu" uk-accordion>

          {% for item in header.nav %}
          <li class="mobile-nav__item">
            {% if item.drop %}
            <span class="mobile-nav__link uk-accordion-title">

              
              <span>{{item.text}}</span>
              {{mixins.icon('chevron-b')}}
            </span>

            <ul class="mobile-nav__drop  uk-accordion-content">
              {% for item in item.droplist %}
              <li class="mobile-nav__drop-item">
                <a href="" class="mobile-nav__drop-link">{{item.text}}</a>
              </li>
              {% endfor %}
            </ul>

            {% else %}
            <a href="" class="mobile-nav__link">
              <span>{{item.text}}</span>
            </a>
            {% endif %}

          </li>
          {% endfor %}
          
        </ul>
        <!-- end mobile-nav__menu -->


        
      </div>
      <!-- end mobile-nav__body -->

      <!-- begin mobile-nav__footer -->
      <div class="mobile-nav__footer">

        <a href="tel:+380573411023" class="call-us__number">0 800 307 207</a>
        <span class="call-us__number">Безкоштовно по Україні</span>

        <span class="t-grey t-small">с 8:00 до 21:00 (Пн - Вс)</span>

        <div class="">
          <a class="js-call-us-popup" href="#modal-call-us" uk-toggle>Зв'язатися з нами</a> 

        </div>

        
        <div class="mobile-nav__social">
          <a href="">{{mixins.icon('fb')}}</a>
          <a href="">{{mixins.icon('ytb')}}</a>
          <a href="">{{mixins.icon('insta')}}</a>
        </div>
        
      </div>
      <!-- end mobile-nav__footer -->


    </nav>
    



  </div>


  
</div>
<!-- end mobile-nav js-mobile-nav -->