<div class="load-wrap">
    <div class="uk-container">
        <a href="#" class="load-more">Показать еще </a>
    </div>
</div>
<div class="pagination-wrap">
    <div class="uk-container flex-center">
        <ul class="uk-pagination" uk-margin>
            <li><a href="#"><span uk-pagination-previous></span></a></li>
            <li class="uk-active"><a href="#">1</a></li>           
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>            
            <li class="uk-disabled"><span>...</span></li>
            <li><a href="#">12</a></li>
            <li><a href="#"><span uk-pagination-next></span></a></li>
        </ul>
    </div>
</div>