<!-- begin modal #basket-m -->
<div id="modal-basket-m" class="uk-flex-top modal-default__full" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-modal-big ">



      <div class="modal-default__inner">

        <!-- begin modal-default__header -->
        <div class="modal-default__header">
          <div class="modal-default__title modal-default__title-gap">Корзина</div>
          <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
        <!-- end modal-default__header -->

        <!-- begin modal-default__body -->
        <div class="modal-default__body">

          <!-- begin modal-basket__item -->
          <div class="modal-basket__item">
            <div class="modal-basket__item-close">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.462895 1.49508C0.128161 1.15311 0.128162 0.598663 0.462896 0.256692C0.79763 -0.0852798 1.34034 -0.0852796 1.67507 0.256692L9.74895 8.50513C10.0837 8.84711 10.0837 9.40155 9.74895 9.74352C9.41421 10.0855 8.8715 10.0855 8.53677 9.74352L0.462895 1.49508Z" fill="#4C5458"/>
                <path d="M1.46323 9.74331C1.1285 10.0853 0.585785 10.0853 0.251051 9.74331C-0.0836836 9.40134 -0.0836835 8.84689 0.251051 8.50492L8.32492 0.256478C8.65966 -0.085493 9.20237 -0.0854927 9.5371 0.256479C9.87184 0.59845 9.87184 1.1529 9.5371 1.49487L1.46323 9.74331Z" fill="#4C5458"/>
                </svg>                
            </div>
            <!-- begin modal-basket__item-img -->
            <div class="modal-basket__item-img">

              <a href=""> 
                <img src="./img/cat-drop/1.jpg" alt="">
              </a>
              
            </div>
            <!-- end modal-basket__item-img -->

            <!-- begin modal-basket__item-side__all -->
            <div class="modal-basket__item-side__all">
              
          
              <!-- begin modal-basket__item-side -->
              <div class="modal-basket__item-side">
                <div class="card-item__sku"> Код: <span>Код: C5-0615</span>
                </div>
                <div class="card-item__title">
                  <a href="">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                </div>
                
              </div>
              <!-- end modal-basket__item-side -->

              <!-- begin modal-basket__item-side-2 -->
              <div class="modal-basket__item-side-2">
                
                <div class="card-item__price">
                  <span class="t-red">19 490 <span>грн</span></span> <span class="t-crossed t-grey">35 256 <span>грн</span></span>
                </div>
              

                <!-- begin modal-basket__item-count -->
                <div class="modal-basket__item-count">

                  <div class="modal-basket__item-count__item js-change-count">
                    <span class="modal-basket__item-count__d js-count-p-minus "><svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="2" width="2" height="10" rx="1" transform="rotate(-90 0 2)" fill="#4C5458"/>
                      </svg>
                      </span>
                    <input type="number" class="modal-basket__item-count__input" value="2">
                    <span class="modal-basket__item-count__d js-count-p-plus"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="6" width="2" height="10" rx="1" transform="rotate(-90 0 6)" fill="#4C5458"/>
                      <rect x="6" y="10" width="2" height="10" rx="1" transform="rotate(180 6 10)" fill="#4C5458"/>
                      </svg>
                      </span>
                  </div>
                  
                  
                </div>
                <!-- end modal-basket__item-count -->
                <!-- begin modal-basket__item-price -->
                <div class="modal-basket__item-price">
                  <div class="card-item__price">
                    <span>8 490 <span>грн</span></span>
                  </div>
                </div>
                <!-- end modal-basket__item-price -->
              </div>
              <!-- end modal-basket__item-side-2 -->

            </div>
            <!-- end modal-basket__item-side__all -->


          </div>
          <!-- end modal-basket__item -->

             <!-- begin modal-basket__item -->
             <div class="modal-basket__item">
              <div class="modal-basket__item-close">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.462895 1.49508C0.128161 1.15311 0.128162 0.598663 0.462896 0.256692C0.79763 -0.0852798 1.34034 -0.0852796 1.67507 0.256692L9.74895 8.50513C10.0837 8.84711 10.0837 9.40155 9.74895 9.74352C9.41421 10.0855 8.8715 10.0855 8.53677 9.74352L0.462895 1.49508Z" fill="#4C5458"/>
                  <path d="M1.46323 9.74331C1.1285 10.0853 0.585785 10.0853 0.251051 9.74331C-0.0836836 9.40134 -0.0836835 8.84689 0.251051 8.50492L8.32492 0.256478C8.65966 -0.085493 9.20237 -0.0854927 9.5371 0.256479C9.87184 0.59845 9.87184 1.1529 9.5371 1.49487L1.46323 9.74331Z" fill="#4C5458"/>
                  </svg>                
              </div>
              <!-- begin modal-basket__item-img -->
              <div class="modal-basket__item-img">
  
                <a href=""> 
                  <img src="./img/cat-drop/1.jpg" alt="">
                </a>
                
              </div>
              <!-- end modal-basket__item-img -->
  
              <!-- begin modal-basket__item-side__all -->
              <div class="modal-basket__item-side__all">
                
            
                <!-- begin modal-basket__item-side -->
                <div class="modal-basket__item-side">
                  <div class="card-item__sku"> Код: <span>Код: C5-0615</span>
                  </div>
                  <div class="card-item__title">
                    <a href="">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                  </div>
            
                </div>
                <!-- end modal-basket__item-side -->
  
                <!-- begin modal-basket__item-side-2 -->
                <div class="modal-basket__item-side-2">
                  
                  <div class="card-item__price">
                    <span>8 490 <span>грн</span></span>
                  </div>
  
                  <!-- begin modal-basket__item-count -->
                  <div class="modal-basket__item-count">
  
                    <div class="modal-basket__item-count__item js-change-count">
                      <span class="modal-basket__item-count__d js-count-p-minus "><svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="2" width="2" height="10" rx="1" transform="rotate(-90 0 2)" fill="#4C5458"/>
                        </svg>
                        </span>
                      <input type="number" class="modal-basket__item-count__input" value="2">
                      <span class="modal-basket__item-count__d js-count-p-plus"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="6" width="2" height="10" rx="1" transform="rotate(-90 0 6)" fill="#4C5458"/>
                        <rect x="6" y="10" width="2" height="10" rx="1" transform="rotate(180 6 10)" fill="#4C5458"/>
                        </svg>
                        </span>
                    </div>
                    
                  </div>
                  <!-- end modal-basket__item-count -->
                  <!-- begin modal-basket__item-price -->
                  <div class="modal-basket__item-price">
                    <div class="card-item__price">
                      <span>8 490 <span>грн</span></span>
                    </div>
                  </div>
                  <!-- end modal-basket__item-price -->
                </div>
                <!-- end modal-basket__item-side-2 -->
  
              </div>
              <!-- end modal-basket__item-side__all -->
  
  
            </div>
            <!-- end modal-basket__item -->

          <!-- begin modal-basket__price-all -->
          <div class="modal-basket__price-all">
            <span class="modal-basket__price-all__title">Загальна сума:</span>
            <span class="modal-basket__price-all__count">4810 грн</span>
          </div>
          <!-- end modal-basket__price-all -->
          
          <!-- begin modal-basket__buttons -->
          <div class="modal-basket__buttons">
            <a href="" class="btn btn__green "> <span>Оформить заказ</span> </a>
            <a class="btn btn__light-grey "> {{mixins.icon('chevron-l')}} Продолжить покупки</a>
            
          </div>
          <!-- end modal-basket__buttons -->
          
        </div>
        <!-- end modal-default__body -->

        <!-- begin modal-default__footer -->
        <div class="modal-default__footer">

          <div class="modal-default__footer-text">
            <div class="t-exo t-grey t-s-medium">Или заказать по телефону</div>
            <div class="t-small t-dark alpha-06">
              Мы перезвоним Вам в течение 10 минут. Или оформите заказ на сайте самостоятельно всего за 2 минуты. Это просто! :)
            </div>
          </div>

          <div class="modal-default__footer-call">
            <form action="" class="modal-default__footer-call__form">
              <input type="tel" placeholder="+38 (0__) - ___- __ - __" />
              <button class="btn btn__gerey-h js-submit-form" href="#modal-call-ok">Купить в 1 клик</button>
              <div class="default-form__status">Это поле объязательное</div>
            </form>
            
          </div>
          
        </div>
        <!-- end modal-default__footer -->
        
        
        
      </div>

      

      
  </div>
</div>
<!-- end modal #basket-m -->