<!-- begin modal #call-us -->
<div id="modal-call-us" class="uk-flex-top" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="modal-default__inner">

        <div class="modal-default__title modal-default__title-gap t-center">Зв'язатися з нами</div>
        <div class="modal-default__subtitle t-center">Введите свои контактные данные и в ближайшее время мы свяжемся с Вами</div>

        <!-- begin default-form -->
        <form class="default-form">

          <div class="default-form__row  ">
            <label class="default-form__label" for="">Имя</label>
            <input type="text" class="default-form__input" />
          </div>

          <div class="default-form__row default-form__status-error ">
            <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
            <input type="tel" class="default-form__input" />
            <span class="default-form__status ">Это поле объязательное</span>
          </div>

          <div class="default-form__row-button">
            <a  href="#modal-call-ok" uk-toggle class="btn btn__green"><span>Заказать звонок</span></a>
          </div>
          
        </form>
        <!-- end default-form -->
        
      </div>

      

      
  </div>
</div>
<!-- end modal #call-us -->