<!-- begin modal #call-ok -->
<div id="modal-call-ok" class="uk-flex-top" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="modal-default__inner">

        <div class="modal-default__status">
          <img src="./img/icons/check.svg" alt="">
        </div>

        <div class="modal-default__title modal-default__title-gap t-center">Ваша заявка успешно отправлена</div>
        <div class="modal-default__subtitle t-center ">В ближайшее время мы свяжемся с Вами </div>


        
        
      </div>

      

      
  </div>
</div>
<!-- end modal #call-ok -->