<!-- begin modal #login -->
<div id="modal-login" class="uk-flex-top" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="modal-default__inner">

        <div class="modal-default__title modal-default__title-gap t-center">Вхід в особистий кабінет</div>

        <!-- begin default-form -->
        <form class="default-form">

          <div class="default-form__row default-form__status-error ">
            <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
            <input type="tel" class="default-form__input" />
            <span class="default-form__status ">Это поле объязательное</span>
          </div>

          <div class="default-form__row">
            <label class="default-form__label-check">
              <input type="checkbox" name="" class="default-form__checkbox" />
              <span>Запомнить меня</span>
            </label>
          </div>

          <div class="default-form__row-button default-form__row-button__type-2">
            <button class="btn btn__green" type="submit"><span>Увійти</span></button>
            <div class="default-form__separator">
              <span>Или</span>
            </div>
            <div class="t-grey t-center default-form__infotext ">Або увійдіть через соц мережи:</div>

            <div class="modal-reg-btn uk-grid-small uk-child-width-1-2@m uk-child-width-1-1@s block-expand" uk-grid>
              <div class="">
                <a href="#modal-sms" uk-toggle class="btn btn__light-grey btn__no-gap btn__width-expand">
                  <span class="icon icon-btn"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z" fill="#3B5999"/>
                  </svg>
                  </span><span class="t-medium t-dark">Facebook</span></a>
            
              </div>
              <div class="">
                <a href="#modal-sms" uk-toggle class="btn btn__light-grey btn__no-gap btn__width-expand">
                  <span class="icon icon-btn"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.7919 15.8449C13.2309 17.1632 11.206 18 9.00162 18C5.72155 18 2.84221 16.1929 1.28131 13.5562L1.86568 10.8625L4.45592 10.3816C5.05709 12.3222 6.87112 13.746 9.00162 13.746C10.0352 13.746 10.995 13.4191 11.786 12.839L14.2751 13.2187L14.7919 15.8449Z" fill="#59C36A"/>
                    <path d="M14.7902 15.845L14.2734 13.2188L11.7844 12.8391C10.9934 13.4192 10.0336 13.7461 9 13.7461V18C11.2043 18 13.2293 17.1633 14.7902 15.845Z" fill="#00A66C"/>
                    <path d="M4.25391 8.99998C4.25391 9.4851 4.32773 9.94916 4.4543 10.3816L1.27969 13.5562C0.488672 12.2273 0 10.6663 0 8.99998C0 7.33353 0.488672 5.77263 1.27969 4.44373L3.82757 4.88223L4.4543 7.61834C4.32773 8.05072 4.25391 8.51478 4.25391 8.99998Z" fill="#FFDA2D"/>
                    <path d="M17.9999 9C17.9999 11.7422 16.7308 14.1996 14.7901 15.8449L11.7843 12.8391C12.3959 12.3961 12.9128 11.8054 13.2503 11.1094H8.99988C8.70453 11.1094 8.47253 10.8773 8.47253 10.582V7.41797C8.47253 7.12262 8.70453 6.89062 8.99988 6.89062H17.3249C17.578 6.89062 17.7995 7.06989 17.8417 7.32301C17.9471 7.87148 17.9999 8.44098 17.9999 9Z" fill="#4086F4"/>
                    <path d="M13.2504 11.1094C12.9129 11.8054 12.3961 12.3961 11.7844 12.8391L14.7902 15.8449C16.7309 14.1996 18 11.7422 18 9C18 8.44098 17.9473 7.87148 17.8418 7.32301C17.7996 7.06989 17.5781 6.89062 17.325 6.89062H9V11.1094H13.2504Z" fill="#4175DF"/>
                    <path d="M14.9395 2.51364C14.9501 2.66129 14.8868 2.79844 14.7919 2.90387L12.5348 5.15036C12.3556 5.3402 12.0603 5.36129 11.8493 5.20309C11.016 4.58086 10.0352 4.25391 9.00162 4.25391C6.87112 4.25391 5.05709 5.6777 4.45592 7.61836L1.28131 4.44375C2.84221 1.80703 5.72155 0 9.00162 0C11.1005 0 13.1465 0.773438 14.7497 2.1234C14.8657 2.21836 14.929 2.36598 14.9395 2.51364Z" fill="#FF641A"/>
                    <path d="M11.8477 5.20309C12.0586 5.36133 12.3539 5.3402 12.5332 5.15036L14.7902 2.90387C14.8852 2.79844 14.9484 2.66133 14.9379 2.51364C14.9273 2.36595 14.864 2.21836 14.748 2.1234C13.1449 0.773438 11.0988 0 9 0V4.25391C10.0336 4.25391 11.0144 4.58086 11.8477 5.20309Z" fill="#F03800"/>
                    </svg>
                    </span>
                  <span class="t-medium  t-dark">Facebook</span></a>
              </div>
            </div>
            
          </div>
          
        </form>
        <!-- end default-form -->
        
      </div>

      

      
  </div>
</div>
<!-- end modal #login -->