<!-- begin modal #sms -->
<div id="modal-mail" class="uk-flex-top" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
        <button class="uk-modal-close-default" type="button" uk-close></button>
  
        <div class="modal-default__inner">
  
          <div class="modal-default__title modal-default__title-gap t-center">Сообщить о поступлении</div>
          <div class="modal-default__subtitle t-center t-small">Введите свой адрес эл.почты и мы вас оповестим,
            когда товар появится в наличии</div>
  
  
          <!-- begin default-form -->
          <form class="default-form">
  
            <div class="default-form__row ">
              <label class="default-form__label" for="">Email</label>
              <input type="email" class="default-form__input"  placeholder="" />
            </div>
  
  
            <div class="default-form__row-button default-form__row-button__type-2">
              <button class="btn btn__yellow" type="submit"><span>Сообщить о поступлении</span></button>
              
            </div>
            
          </form>
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #sms -->