<!-- begin modal #sms -->
<div id="modal-sms" class="uk-flex-top" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="modal-default__inner">

        <div class="modal-default__title modal-default__title-gap t-center">Введите код подтверждения из смс</div>
        <div class="modal-default__subtitle t-center t-small">Код подтверждения выслан на указанный номер <span class="t-dark">380997801655</span> </div>


        <!-- begin default-form -->
        <form class="default-form">

          <div class="default-form__row default-form__status-error ">
            <label class="default-form__label" for="">Код из смс <span class="default-form__req">*</span></label>
            <input type="text" class="default-form__input" value="12334" placeholder="0000" />
            <span class="default-form__status ">Неверный код подтверждения</span>
          </div>


          <div class="default-form__row-button default-form__row-button__type-2">
            <button class="btn btn__green" type="submit"><span>Увійти</span></button>
            
          </div>
          
        </form>
        <!-- end default-form -->
        
      </div>

      

      
  </div>
</div>
<!-- end modal #sms -->