<!-- begin modal #sms -->
<div id="modal-sms-reg" class="uk-flex-top" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
        <button class="uk-modal-close-default" type="button" uk-close></button>
  
        <div class="modal-default__inner">
  
          <div class="modal-default__title modal-default__title-gap t-center">Введите код подтверждения из смс</div>
  
  
          <!-- begin default-form -->
          <form class="default-form">
  
            <div class="default-form__row  ">
              <label class="default-form__label" for="">Код<span class="default-form__req">*</span></label>
              <input type="text" class="default-form__input" value="12334" placeholder="0000" />
              <span class="default-form__status grey">Код підтверждення з смс</span>
            </div>
   
  
            <div class="default-form__row-button default-form__row-button__type-2">
              <a class="btn btn__green"  href="#modal-success-registr" uk-toggle type="submit" uk-close><span>Далее</span></a>
              
            </div>
            
          </form>
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #sms -->