<!-- begin modal #call-ok -->
<div id="soc-share-mob" class="uk-flex-top" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
        <button class="uk-modal-close-default" type="button" uk-close></button>
  
        <div class="modal-default__inner">
            <label class="default-form__label" for="">Поделиться</label>
            <ul class="share-link">
                <li class="share-link__item"><a href="# "><img src="img/product/icon/facebook.svg" alt=""></a></li>
                <li class="share-link__item"><a href="# "><img src="img/product/icon/tw.svg" alt=""></a></li>
                <li class="share-link__item"><a href="# "><img src="img/product/icon/viber.svg" alt=""></a></li>
                <li class="share-link__item"><a href="# "><img src="img/product/icon/telegr.svg" alt=""></a></li>              
            </ul>  
          
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-ok -->