<!-- begin modal #call-ok -->
<div id="modal-success-registr" class="uk-flex-top" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
        <button class="uk-modal-close-default" type="button" uk-close></button>
  
        <div class="modal-default__inner">
  
          <div class="modal-default__status">
            <img src="./img/icons/check.svg" alt="">
          </div>
  
          <div class="modal-default__title modal-default__title-gap t-center">Ваш инструмент успешно зарегистрирован</div>
  
  
          
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-ok -->