<div class="other-static-page static-page cabinet-page">
    <div class="uk-container title-page">
        <h1>Особистий кабінет</h1>
    </div>
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li><a href="#">Особисті дані</a></li>
                <li class="active"><a href="#">Історія замовлень</a></li>
                <li  ><a href="#">Регистрация инструмента</a></li>
                <li><a href="#">Вихід </a></li>
            </ul>
            <div class="linked-accounts desk-only">
                <p>Связанные аккаунты</p>
                <div class="linked-accounts__item">
                    <div class="icon">
                        <img src="./img/icons/fb.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Facebook</div>
                        <a href="#" class="link">Зв'язатися з нами</a>
                    </div>
                </div>
                <div class="linked-accounts__item linked">
                    <div class="icon">
                        <img src="./img/icons/google.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Дмитрий Макогон</div>
                        <a href="#" class="link">Отменить связь</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-section">
           <h2>Історія замовлень</h2>

            <div class="head-history">
                <div class="col-title number-title">№ замовлення</div>
                <div class="col-title date-title">Дата замовлення</div>
               
                <div class="col-title quantity-title">Кількість</div>
                <div class="col-title summ-title">Загальна сума</div>
                <div class="col-title arrow"></div>
            </div>

            <div class="row-history">
                <div class="title-block">
                    <div class="col-title number-title"><div class="mob-only">№ замовлення</div> 21321323</div>
                    <div class="col-title date-title">21.12.2018</div>
                   
                    <div class="col-title quantity-title">4</div>
                    <div class="col-title summ-title">2598 грн.</div>
                    <div class="col-title arrow">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.50495 5.35567L0.205241 1.16507C-0.0684138 0.898495 -0.0684138 0.466292 0.205241 0.199849C0.478652 -0.0666167 0.922098 -0.0666167 1.19549 0.199849L5.00007 3.90789L8.80452 0.199957C9.07805 -0.0665086 9.52145 -0.0665086 9.79486 0.199957C10.0684 0.466422 10.0684 0.898603 9.79486 1.16518L5.49508 5.35578C5.35831 5.48901 5.17925 5.55556 5.00009 5.55556C4.82085 5.55556 4.64165 5.48888 4.50495 5.35567Z" fill="#121315"/>
                        </svg>
                    </div>
                </div>
                <div class="hide-block">

                    <div class="info-mob">
                        <div class="info-mob__item">
                            <div class="info-mob__title">Дата замовлення</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">21.12.2018</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Кількість</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">4</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Загальна сума</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">2598 грн.</div>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/product/slider/big/1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                            <div class="price-wrap">
                                <div class="price">
                                    1 490 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        2 шт
                                    </div>
                                    <div class="all-price">
                                        2 980 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-order">
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Самовывоз из Новой почты</div>   
                        </div>     
                        <div class="detail-order__item">
                            <div class="detail-order__title">Адрес доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">г. Харьков, отделение №3</div>   
                        </div>   
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ оплаты:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Наличный расчет</div>   
                        </div>    
                        <div class="detail-order__item all-summ">
                            <div class="detail-order__title">Загальна сума:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">4080 грн.</div>   
                        </div>   
                        <a href="#" class="btn btn__green"><span>Повторить заказ</span></a>           
                    </div>
                </div>
            </div>

            <div class="row-history">
                <div class="title-block">
                    <div class="col-title number-title"><div class="mob-only">№ замовлення</div>21321323</div>
                    <div class="col-title date-title">21.12.2018</div>
                  
                    <div class="col-title quantity-title">2</div>
                    <div class="col-title summ-title">4080 грн.</div>
                    <div class="col-title arrow">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.50495 5.35567L0.205241 1.16507C-0.0684138 0.898495 -0.0684138 0.466292 0.205241 0.199849C0.478652 -0.0666167 0.922098 -0.0666167 1.19549 0.199849L5.00007 3.90789L8.80452 0.199957C9.07805 -0.0665086 9.52145 -0.0665086 9.79486 0.199957C10.0684 0.466422 10.0684 0.898603 9.79486 1.16518L5.49508 5.35578C5.35831 5.48901 5.17925 5.55556 5.00009 5.55556C4.82085 5.55556 4.64165 5.48888 4.50495 5.35567Z" fill="#121315"/>
                        </svg>
                    </div>
                </div>
                <div class="hide-block">
                    <div class="info-mob">
                        <div class="info-mob__item">
                            <div class="info-mob__title">Дата замовлення</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">21.12.2018</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Кількість</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">4</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Загальна сума</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">2598 грн.</div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/product/slider/big/1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                            <div class="price-wrap">
                                <div class="price">
                                    1 490 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        2 шт
                                    </div>
                                    <div class="all-price">
                                        2 980 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/cat1/4.png" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір свердел по металу Р6М5 пласт бокс 1,5-6,5</a>
                            <div class="price-wrap">
                                <div class="price">
                                    220 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        5 шт
                                    </div>
                                    <div class="all-price">
                                        1 100 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-order">
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Самовывоз из Новой почты</div>   
                        </div>     
                        <div class="detail-order__item">
                            <div class="detail-order__title">Адрес доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">г. Харьков, отделение №3</div>   
                        </div>   
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ оплаты:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Наличный расчет</div>   
                        </div>     
                        <div class="detail-order__item all-summ">
                            <div class="detail-order__title">Загальна сума:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">4080 грн.</div>   
                        </div>   
                        <a href="#" class="btn btn__green"><span>Повторить заказ</span></a>             
                    </div>
                </div>
            </div>

            <div class="row-history">
                <div class="title-block">
                    <div class="col-title number-title"><div class="mob-only">№ замовлення</div>21321323</div>
                    <div class="col-title date-title">21.12.2018</div>
                   
                    <div class="col-title quantity-title">4</div>
                    <div class="col-title summ-title">2598 грн.</div>
                    <div class="col-title arrow">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.50495 5.35567L0.205241 1.16507C-0.0684138 0.898495 -0.0684138 0.466292 0.205241 0.199849C0.478652 -0.0666167 0.922098 -0.0666167 1.19549 0.199849L5.00007 3.90789L8.80452 0.199957C9.07805 -0.0665086 9.52145 -0.0665086 9.79486 0.199957C10.0684 0.466422 10.0684 0.898603 9.79486 1.16518L5.49508 5.35578C5.35831 5.48901 5.17925 5.55556 5.00009 5.55556C4.82085 5.55556 4.64165 5.48888 4.50495 5.35567Z" fill="#121315"/>
                        </svg>
                    </div>
                </div>
                <div class="hide-block">
                    <div class="info-mob">
                        <div class="info-mob__item">
                            <div class="info-mob__title">Дата замовлення</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">21.12.2018</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Кількість</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">4</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Загальна сума</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">2598 грн.</div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/product/slider/big/1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                            <div class="price-wrap">
                                <div class="price">
                                    1 490 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        2 шт
                                    </div>
                                    <div class="all-price">
                                        2 980 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-order">
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Самовывоз из Новой почты</div>   
                        </div>     
                        <div class="detail-order__item">
                            <div class="detail-order__title">Адрес доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">г. Харьков, отделение №3</div>   
                        </div>   
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ оплаты:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Наличный расчет</div>   
                        </div>    
                        <div class="detail-order__item all-summ">
                            <div class="detail-order__title">Загальна сума:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">4080 грн.</div>   
                        </div>   
                        <a href="#" class="btn btn__green"><span>Повторить заказ</span></a>           
                    </div>
                </div>
            </div>

            <div class="row-history">
                <div class="title-block">
                    <div class="col-title number-title"><div class="mob-only">№ замовлення</div>21321323</div>
                    <div class="col-title date-title">21.12.2018</div>
                   
                    <div class="col-title quantity-title">2</div>
                    <div class="col-title summ-title">4080 грн.</div>
                    <div class="col-title arrow">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.50495 5.35567L0.205241 1.16507C-0.0684138 0.898495 -0.0684138 0.466292 0.205241 0.199849C0.478652 -0.0666167 0.922098 -0.0666167 1.19549 0.199849L5.00007 3.90789L8.80452 0.199957C9.07805 -0.0665086 9.52145 -0.0665086 9.79486 0.199957C10.0684 0.466422 10.0684 0.898603 9.79486 1.16518L5.49508 5.35578C5.35831 5.48901 5.17925 5.55556 5.00009 5.55556C4.82085 5.55556 4.64165 5.48888 4.50495 5.35567Z" fill="#121315"/>
                        </svg>
                    </div>
                </div>
                <div class="hide-block">
                    <div class="info-mob">
                        <div class="info-mob__item">
                            <div class="info-mob__title">Дата замовлення</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">21.12.2018</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Кількість</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">4</div>
                        </div>
                        <div class="info-mob__item">
                            <div class="info-mob__title">Загальна сума</div>
                            <div class="info-mob__dot"></div>
                            <div class="info-mob__value">2598 грн.</div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/product/slider/big/1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                            <div class="price-wrap">
                                <div class="price">
                                    1 490 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        2 шт
                                    </div>
                                    <div class="all-price">
                                        2 980 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="photo">
                            <img src="./img/cat1/4.png" alt="">
                        </div>
                        <div class="info">
                            <div class="article">Код: C5-0615</div>
                            <a href="#" class="name">Набір свердел по металу Р6М5 пласт бокс 1,5-6,5</a>
                            <div class="price-wrap">
                                <div class="price">
                                    220 грн
                                </div>
                                <div class="r-section">
                                    <div class="summ-quantity">
                                        5 шт
                                    </div>
                                    <div class="all-price">
                                        1 100 грн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-order">
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Самовывоз из Новой почты</div>   
                        </div>     
                        <div class="detail-order__item">
                            <div class="detail-order__title">Адрес доставки: </div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">г. Харьков, отделение №3</div>   
                        </div>   
                        <div class="detail-order__item">
                            <div class="detail-order__title">Способ оплаты:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">Наличный расчет</div>   
                        </div>     
                        <div class="detail-order__item all-summ">
                            <div class="detail-order__title">Загальна сума:</div>
                            <div class="detail-order__dot"></div>
                            <div class="detail-order__value">4080 грн.</div>   
                        </div>   
                        <a href="#" class="btn btn__green"><span>Повторить заказ</span></a>             
                    </div>
                </div>
            </div>

          

            <div class="linked-accounts mob-only">
                <p>Связанные аккаунты</p>
                <div class="linked-accounts__item">
                    <div class="icon">
                        <img src="./img/icons/fb.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Facebook</div>
                        <a href="#" class="link">Зв'язатися з нами</a>
                    </div>
                </div>
                <div class="linked-accounts__item linked">
                    <div class="icon">
                        <img src="./img/icons/google.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Дмитрий Макогон</div>
                        <a href="#" class="link">Отменить связь</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>

