<div class="other-static-page static-page cabinet-page ">
    <div class="uk-container title-page">
        <h1>Особистий кабінет</h1>
    </div>
    <div class="uk-container">
        <div class="l-section sidebar-left">           
            <ul class="sidebar-menu">
                <li><a href="#">Особисті дані</a></li>
                <li ><a href="#">Історія замовлень</a></li>
                <li  class="active"><a href="#">Регистрация инструмента</a></li>
                <li><a href="#">Вихід </a></li>
            </ul>
            <div class="linked-accounts desk-only">
                <p>Связанные аккаунты</p>
                <div class="linked-accounts__item">
                    <div class="icon">
                        <img src="./img/icons/fb.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Facebook</div>
                        <a href="#" class="link">Зв'язатися з нами</a>
                    </div>
                </div>
                <div class="linked-accounts__item linked">
                    <div class="icon">
                        <img src="./img/icons/google.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Дмитрий Макогон</div>
                        <a href="#" class="link">Отменить связь</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-section ">
           <h2>Регистрация инструмента</h2>

           <form class="default-form default-form-flex">

                <div class="title">Регистрируй свой инструмент бренда "APRO" у нас и получай дополнительную гарантию</div>

                <div class="default-form-column">
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Ваше імя <span class="default-form__req">*</span></label>
                        <input type="text" value="Дмитро" class="default-form__input" />
                    </div>
    
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Прізвище <span class="default-form__req">*</span></label>
                        <input type="text" value="Макогон" class="default-form__input" />
                    </div>
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Email <span class="default-form__req">*</span></label>
                        <input type="email" value="dimamakogon1713@gmail.com" class="default-form__input" />
                    </div>
                </div>

                <div class="default-form-column">
                    <div class="default-form__row ">
                        <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
                        <input type="tel" value="38(099) 780 16 55" class="default-form__input" />
                    </div>
    
                    
    
                    <div class="default-form__row default-form__status-error">
                        <label class="default-form__label" for="">Дата покупки <span class="default-form__req">*</span></label>
                        <input type="text" class="default-form__input mask-date" />
                        <span class="default-form__status ">Это поле объязательное</span>
                    </div>
    
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Введите серийный номер инструмента <span class="default-form__req">*</span></label>                
                        <input type="text" class="default-form__input" placeholder=""/>    
                    </div>
        
                </div>

                
        
               
              <div class="default-form__row-button">
                <a  href="#modal-sms-reg" uk-toggle class="btn btn__green"><span>Далее</span></a> 
              </div>
         

            
            </form>

            <div class="already-registered">
                <p class="title">Зарегистрированные инструменты</p>
                <div class="already-registered__item">
                    <div class="photo">
                        <img src="./img/product/slider/big/1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="article">Код: C5-0615</div>
                        <a href="#" class="name">Набір інструментів Apro 251410 1/2 ", 1/4" 110 шт.</a>
                        <div class="garantee-date">
                            <div class="date__item">
                                Дата покупки: <span>22.06.2020</span>
                            </div>
                            <div class="date__item">
                                Дата конца гарантии: <span>30.02.2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="linked-accounts mob-only">
                <p>Связанные аккаунты</p>
                <div class="linked-accounts__item">
                    <div class="icon">
                        <img src="./img/icons/fb.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Facebook</div>
                        <a href="#" class="link">Зв'язатися з нами</a>
                    </div>
                </div>
                <div class="linked-accounts__item linked">
                    <div class="icon">
                        <img src="./img/icons/google.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Дмитрий Макогон</div>
                        <a href="#" class="link">Отменить связь</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>

