<div class="other-static-page static-page cabinet-page">
    <div class="uk-container title-page">
        <h1>Особистий кабінет</h1>
    </div>
    <div class="uk-container">
        <div class="l-section sidebar-left">
            
            <ul class="sidebar-menu">
                <li class="active"><a href="#">Особисті дані</a></li>
                <li ><a href="#">Історія замовлень</a></li>
                <li><a href="#">Регистрация инструмента</a></li>
                <li><a href="#">Вихід </a></li>
            </ul>
            <div class="linked-accounts desk-only">
                <p>Связанные аккаунты</p>
                <div class="linked-accounts__item">
                    <div class="icon">
                        <img src="./img/icons/fb.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Facebook</div>
                        <a href="#" class="link">Зв'язатися з нами</a>
                    </div>
                </div>
                <div class="linked-accounts__item linked">
                    <div class="icon">
                        <img src="./img/icons/google.svg" alt="">                        
                    </div>
                    <div class="info">
                        <div class="name">Дмитрий Макогон</div>
                        <a href="#" class="link">Отменить связь</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-section">
           <h2>Особисті дані</h2>

           <form class="default-form default-form-flex">

            <div class="default-form__row  ">
              <label class="default-form__label"  for="">Ваше імя </label>
              <input type="text"  value="Дмитро" class="default-form__input" />
            </div>

            <div class="default-form__row  ">
                <label class="default-form__label"   for="">Прізвище</label>
                <input type="text" class="default-form__input" value="Макогон" />
            </div>

            <div class="default-form__row  ">
                <label class="default-form__label" for="">По батькові </label>
                <input type="text" class="default-form__input" />
            </div>
           
            <div class="default-form__row ">
              <label class="default-form__label" for="">Телефон </label>
              <input type="tel" class="default-form__input" value="38(099) 780 16 55" />             
            </div>

            <div class="default-form__row  ">
                <label class="default-form__label" for="">Email </label>
                <input type="email" class="default-form__input" />
            </div>          

          

            <div class="default-form__row-select">
                <label class="default-form__label" for="">Дата народження </label>
                <select name="date-cab" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option selected value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                </select>
                <select name="month-cab" id="">
                    <option value="m1">Январь</option>
                    <option value="m2">Февраль</option>
                    <option value="m3">Март</option>
                    <option value="m4">Апрель</option>
                    <option value="m5">Май</option>
                    <option value="m6">Июнь</option>
                    <option value="m7">Июль</option>
                    <option value="m8">Август</option>
                    <option selected value="m9">Сентябрь</option>
                    <option value="m10">Октябрь</option>
                    <option value="m11">Ноябрь</option>
                    <option value="m12">Декабрь</option>
                </select>
                <select name="year-cab" id="">
                    <option value="1990">1990</option>
                    <option selected value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>

                </select>
            </div>

            <div class="default-form__row-button">
                <a  href="#" class="btn btn__green"><span>Зберегти</span></a> 
              </div>
            
          </form>

          <div class="linked-accounts mob-only">
            <p>Связанные аккаунты</p>
            <div class="linked-accounts__item">
                <div class="icon">
                    <img src="./img/icons/fb.svg" alt="">                        
                </div>
                <div class="info">
                    <div class="name">Facebook</div>
                    <a href="#" class="link">Зв'язатися з нами</a>
                </div>
            </div>
            <div class="linked-accounts__item linked">
                <div class="icon">
                    <img src="./img/icons/google.svg" alt="">                        
                </div>
                <div class="info">
                    <div class="name">Дмитрий Макогон</div>
                    <a href="#" class="link">Отменить связь</a>
                </div>
            </div>
          </div>
        </div>

        </div>
    </div>
</div>

