<div class="contact-top">
    <div class="uk-container">
        <div class="l-section">
            <h1>Контакти</h1>
            <div class="contact__item">
                <div class="title">
                    <div class="img"><img src="img/contact/pin.svg" alt=""></div>
                    <div class="name">Адрес:</div>
                </div>
                <div class="detail">
                    <p>61051, Харьковская обл., г.Харьков, ул.Завода "Комсомолец" 40</p>
                </div>
            </div>

            <div class="contact__item">
                <div class="title">
                    <div class="img"><img src="img/contact/phone.svg" alt=""></div>
                    <div class="name">Телефоны:</div>
                </div>
                <div class="detail">
                    <a href="tel:+38 (057) 341-10-23">+38 (057) 341-10-23</a>
                    <a href="tel:+38 (057) 341-10-23">+38 (057) 341-10-23</a>
                    <a href="tel:+38 (057) 341-10-23">+38 (057) 341-10-23</a>
                </div>
            </div>

            <div class="contact__item">
                <div class="title">
                    <div class="img"><img src="img/contact/time.svg" alt=""></div>
                    <div class="name">Графік роботи:</div>
                </div>
                <div class="detail">
                    <p>Пн-Пт с 9:00 до 18:00</p>
                </div>
            </div>

            <div class="contact__item">
                <div class="title">
                    <div class="img"><img src="img/contact/mail.svg" alt=""></div>
                    <div class="name">Email:</div>
                </div>
                <div class="detail">
                    <a href="mailto:sales.ua@aprofixing.com">sales.ua@aprofixing.com</a>
                </div>
            </div>

            <a href="#modal-call-us" uk-toggle class="btn btn__green"><span>Зв'язатися з нами</span></a>
        </div>
        <div class="r-section">
            <div class="map"></div>
            <div id="map" class=""  data-title="Харьков" data-lat="50.04209267" data-lng="36.18866444" data-key="AIzaSyDdS1EtNR8VOq8c8yRrg2783Fn5mVMtdLY"></div>
        </div>
    </div>

    <div class="partners-form-wrap">
        <div class="uk-container">
            <div class="form-wrap-bg">
                <div class="img"><img src="img/contact/partners.png" alt=""></div>
                <div class="form-wrap-partners">
                    <h2 class="title-block">Стать партнером</h2>
                    <p>Мы твердо нацелены на создание длительных партнерских отношений на взаимовыгодных и прозрачных условиях.</p>
                    
                    <form class="default-form">

                        <div class="default-form__row  ">
                        <label class="default-form__label" for="">Ваше імя <span class="default-form__req">*</span></label>
                        <input type="text" class="default-form__input" />
                        </div>
            
                        <div class="default-form__row default-form__status-error ">
                        <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
                        <input type="tel" class="default-form__input" />
                        <span class="default-form__status ">Это поле обязательное</span>
                        </div>

                        <div class="default-form__row ">
                            <label class="default-form__label" for="">Email <span class="default-form__req">*</span></label>
                            <input type="email" class="default-form__input"  placeholder="" />
                        </div>

                        <button class="add-comment">Додати коментар</button>

                        <div class="default-form__row hide-comment">
                            <textarea class="default-form__input"  placeholder="" ></textarea>
                        </div>
            
                        <div class="default-form__row-button">
                        <a  href="#modal-call-ok-two" uk-toggle class="btn btn__green"><span>Відправити</span></a>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

