<!-- begin card-item -->
<div class="card-item {% if item.disabled %} card-item__no {% endif %} {% if hoverCard %} card-item_hover_custom {% endif %}">

  <div class="card-item__inner">

    <!-- begin card-item__stickers -->
    <div class="card-item__stickers">

      {% for item in item.stickers %}

      <div class="">

      <span class="{{item.stickerColor}}">{{item.sticker}}</span>
      </div>
      {% endfor %}
      
    </div>
    <!-- end card-item__stickers -->

    <!-- begin card-item__item -->
    <div class="card-item__img">

      <a href="">
        <img src="{{item.img}}" alt="">
      </a>
      
    </div>
    <!-- end card-item__item -->

    <!-- begin card-item__sku -->
    <div class="card-item__sku">
      Код: <span>Код: C5-0615</span>
      
    </div>
    <!-- end card-item__sku -->

    <!-- begin card-item__title -->
    <div class="card-item__title">
      <a href="">{{item.title}}</a>
    </div>
    <!-- end card-item__title -->

    <!-- begin card-item__response -->
    <div class="card-item__response">

      <!-- begin card-item__rating -->
      <div class="card-item__rating">

        {% for i in range(0, item.rating) -%}
          {{mixins.icon('star', 'is-active')}}
        {% endfor %}

        {% for i in range(0, 5 - item.rating) -%}
          {{mixins.icon('star')}}
        {% endfor %}
        
      </div>
      <!-- end card-item__rating -->

      <!-- begin card-item__reviews -->
      <div class="card-item__reviews">

        <a href="">{{mixins.icon('reviews')}} <span>{{item.reviews}}</span></a>
        
      </div>
      <!-- end card-item__reviews -->
      
    </div>
    <!-- end card-item__response -->

    <!-- begin card-item__price -->
    <div class="card-item__price">

      {% if item.price %}
      <span>{{item.price}} <span>грн</span></span>
      {% endif %}

      {% if item.priceSale %}
        <span class="t-red">{{item.priceSale}} <span>грн</span></span> <span class="t-crossed t-grey">{{item.priceOld}} <span>грн</span></span>
      {% endif %}
      
    </div>
    <!-- end card-item__price -->

    <!-- begin card-item__drop -->
    <div class="card-item__drop">

      <!-- begin card-item__buy -->
      <div class="card-item__buy">

        {% if item.disabled %}
          <a href="#modal-postup"  class="btn btn__yellow" uk-toggle>  {{mixins.icon('mail')}} <span>Сообщить о поступлении</span> </a>
        {% else %}
        <a href="#modal-basket-m" uk-toggle class="btn btn__green"> {{mixins.icon('cart')}} <span>Купити</span> </a>
        {% endif %}
      </div>
      <!-- end card-item__buy -->

      <!-- begin card-item__specifications -->
      <div class="card-item__specifications">

        <div class="card-item__specifications-item">
          Марка стали: <span class="t-medium t-dark">HSS Р6М5</span>
        </div>
        <div class="card-item__specifications-item">
          Минимальный размер (мм): <span class="t-medium t-dark">1,5</span>
        </div>
        <div class="card-item__specifications-item">
          Максимальный размер (мм): <span class="t-medium t-dark">6,5</span>
        </div>
        <div class="card-item__specifications-item">
          Угол заточки: <span class="t-medium t-dark">118°</span>
        </div>
        
      </div>
      <!-- end card-item__specifications -->
      
    </div>
    <!-- end card-item__drop -->

  </div>
  
</div>
<!-- end card-item -->