<!-- begin category-item -->
<a href="" class="category-item">
  <div class="category-item__img">
    <img src="./img/category/{{item.img}}.png" alt="">
  </div>
  <div class="category-item__title">{{item.title}}</div>
</a>
<!-- end category-item -->