<div class="checkout-cart__items">

  {% for i in range(0, 10) %}
  {% include "partials/checkout/_item.html" %}
  {% endfor %}
  

</div>
<div class="checkout-cart__footer">
  <div class="checkout-cart__count">
    <div class="checkout-cart__count-title">6 товаров на сумму:</div>
    <div class="checkout-cart__count-line"></div>
    <div class="checkout-cart__count-price">3790 грн</div>
  </div>
  <div class="checkout-cart__count is-hide js-delivery-item">
    <div class="checkout-cart__count-title">Доставка:</div>
    <div class="checkout-cart__count-line"></div>
    <div class="checkout-cart__count-price">120 грн</div>
  </div>
  
  <div class="checkout-cart__total">
    <div class="checkout-cart__total-title">Загальна сума:</div>
    <div class="checkout-cart__total-line"></div>
    <div class="checkout-cart__total-price">4810 грн</div>
  </div>
  <div class="checkout-cart__btn">
    <a href="checkout-final.html" class="btn btn__green is-hidden js-go-next"> <span>Заказ підтверджую</span> </a>
  </div>
</div>