<!-- begin checkout-steps__item -->
<div class="checkout-steps__item uk-open">

  <!-- begin checkout-steps__head -->
  <div class="checkout-steps__head">
    <div class="checkout-steps__number">1</div>
    <div class="checkout-steps__title">Контактні дані</div>
    <div class="checkout-steps__edit checkout-delivery__comment-title is-hide js-show-step-1">Редактировать</div>
  </div>
  <!-- end checkout-steps__head -->

  <!-- begin checkout-steps__body -->
  <div class="checkout-steps__body">


    <form action="" class="default-form">

      <div class="default-form__row  ">
        <label class="default-form__label" for="">Ваше прізвище <span class="default-form__req">*</span></label>
        <input type="text" class="default-form__input" />
      </div>
  
      <div class="default-form__row  ">
        <label class="default-form__label" for="">Ваше імя <span class="default-form__req">*</span></label>
        <input type="text" class="default-form__input" />
      </div>

      
      <div class="default-form__row default-form__status-error ">
        <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
        <input type="tel" class="default-form__input" />
        <span class="default-form__status ">Это поле объязательное</span>
      </div>

      <div class="default-form__row ">
        <label class="default-form__label" for="">Email</label>
        <input type="email" class="default-form__input"  placeholder="" />
      </div>

     

      <div class="default-form__row-button default-form__row-button__left">
        <a href=""  class="btn btn__green js-show-step-2"><span>Далі</span></a>
      </div>

    </form>
    
  </div>
  <!-- end checkout-steps__body -->
  
</div>
<!-- end checkout-steps__item -->