<!-- begin checkout-steps__item -->
<div class="checkout-steps__item">

  <!-- begin checkout-steps__head -->
  <div class="checkout-steps__head">
    <div class="checkout-steps__number">2</div>
    <div class="checkout-steps__title">Вибір способу доставки та оплати</div>
  </div>
  <!-- end checkout-steps__head -->

  <!-- begin checkout-steps__body -->
  <div class="checkout-steps__body">


    <!-- begin checkout-delivery__item -->
    <div class="checkout-delivery__item">
      <div class="checkout-delivery__title">Спосіб доставки:</div>

      <div class="default-form__row  ">
        <label class="default-form__label" for="">Місто</label>
        <input type="text" class="default-form__input" />
      </div>

      

      <div class="default-form__row default-form__row-choise js-type-delivery">

        <label class="default-form__label-check ">
          <input class="default-form__radio" type="radio" name="type-ch" /><span>Самовывоз</span>
        </label>
        <label class="default-form__label-check">
          <input class="default-form__radio js-courier-label" type="radio" name="type-ch" /><span>Курьером</span>
        </label>
        <label class="default-form__label-check">
          <input class="default-form__radio js-np-label" type="radio" name="type-ch" /><span>Новая почта</span>
        </label>

      </div>

      <div class="default-form__row uk-flex js-np-item is-hide">
        <select class="select-placeholder" name="" id="">
          <option value="" disabled selected>-- Виберіть відділення --</option>
          {% for i in range(0, 10) %}
          <option value="{{i}}">Відділення - {{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="default-form__row  js-courier-item is-hide">
        <label class="default-form__label" for="">Улица</label>
        <input type="text" class="default-form__input" />
      </div>
      <div class="default-form__row  js-courier-item is-hide">
        <label class="default-form__label" for="">Дом</label>
        <input type="text" class="default-form__input" />
      </div>
      <div class="default-form__row default-form__row-text js-courier-item is-hide">
        <div class="default-form__text">Доставка курьером возможна при условии, что заказ и услуги перевозчика уже оплачены. Посылки весом менее 30 кг - подъем по этажам бесплатный. Необходимые для получения заказа документы: паспорт или права плательщика</div>
      </div>

    </div>
    <!-- end checkout-delivery__item -->

    <!-- begin checkout-delivery__item -->
    <div class="checkout-delivery__item">
      <div class="checkout-delivery__title">Спосіб оплати:</div>
      <div class="default-form__row default-form__row-choise">

        <label class="default-form__label-check">
          <input class="default-form__radio" type="radio" name="type-pl" /><span>Наличными в магазине</span>
        </label>
        <label class="default-form__label-check">
          <input class="default-form__radio" type="radio" name="type-pl" /><span>Наложенный платеж</span>
        </label>
        <label class="default-form__label-check">
          <input class="default-form__radio" type="radio" name="type-pl" /><span>Оплата по счету</span>
        </label>

      </div>
      <div class="default-form__row default-form__row-text">
        <div class="default-form__text">Номер лицевого счета вышлют после подтверждения заказа менеджером</div>
      </div>
      

    </div>
    <!-- end checkout-delivery__item -->

    <!-- begin checkout-delivery__item -->
    <div class="checkout-delivery__item">

      <div class="checkout-delivery__comment">
        <span class="checkout-delivery__comment-title js-toggle-comment" uk-toggle="target: .js-hidden-textarea; animation: uk-animation-fade">Додати коментар до замовлення</span>
        <textarea name=""  class="checkout-delivery__textarea default-form__textarea js-hidden-textarea " aria-hidden="true" hidden></textarea>
      </div>

      
    </div>
    <!-- end checkout-delivery__item -->
  </div>
  <!-- end checkout-steps__body -->
  
</div>
<!-- end checkout-steps__item -->