.drop__inner-numbers
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  padding: 24px 25px !important
  .call-us__number
    display: flex
    margin-bottom: 9px
    text-align: center
    &-text
      margin-bottom: 0
      margin-top: 6px
  

.call-us
  .call-us__popup
    margin-top: 3px
  &__number
    font-size: 15px
    color: $black
    text-decoration: none
    
    +rb
    &:hover
      text-decoration: none
      color: $black
    
    a
      color: $black
      &:hover
        text-decoration: none
        color: $black

.call-us__popup
  color: $grey
  font-size: 13px
  a
    color: $grey
    border-bottom-color: $grey
    border-bottom-width: 1px
    border-bottom-style: dashed
    cursor: pointer
    &:hover
      text-decoration: none
      color: $grey