.drop-cart
  &__dropdown
    // display: block !important
    // opacity: 1 !important
    max-width: 381px
  &__item
    display: flex
    flex-wrap: wrap
    padding: 20px 0
    border-bottom: 1px solid rgba($grey, 0.1)
    &:last-of-type
      border-bottom: none
  &__img
    overflow: hidden
    width: 65px
    height: 65px
    a
      display: flex
      width: 100%
      height: 100%
      img
        width: 100%
        height: 100%
        object-fit: cover
  &__side
    padding-left: 14px
    display: flex
    flex-wrap: wrap
    flex: 1
  &__title
    color: $grey
    font-size: 13px
    line-height: 15px
    margin-bottom: 18px
    width: 100%
    a
      &:hover
        color: $grey
      span
        display: flex
        width: 100%
  &__config
    display: flex
    flex-wrap: wrap
    +rm
    font-size: 14px
    line-height: 16px
    color: $black
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    &-item
      width: 33.332%
      display: flex
      justify-content: center
      &:first-of-type
        justify-content: flex-start
      &:last-of-type
        justify-content: flex-end
  &__all
    display: flex
    flex-wrap: wrap
    align-items: baseline
    width: 100%
    justify-content: flex-end
    .t-grey
      opacity: 0.7
      margin-right: 8px
  &__bittons
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 20px
    .btn
      width: calc(50% - 5px)
      flex: 1 0 calc(50% - 5px)
      max-width: calc(50% - 5px)