.category-dropdown
  &__button
    min-width: 180px
    width: 10.53vw
    +rm
    font-size: 15px !important
    line-height: 18px !important
    max-width: 210px
    svg
      width: 9px
      height: 5px
      margin-left: 14px
      transition: transform .2s ease
    &.uk-open
      svg
        position: relative
        transform: rotate(180deg)
        transition: transform .2s ease