.dropdown-categories
  background: #FFFFFF
  box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.08) !important
  border-radius: 0 0 4px 4px
  max-width: 1170px
  height: 599px
  max-height: 90vh
  left: 50% !important
  transform: translateX(-50%) !important
  width: 100%
  padding-top: 0
  &__list
    height: 100%
    overflow-y: auto
    padding-left: 0
    &-item
      color: $grey
      font-size: 13px
      display: flex
      flex-wrap: wrap
      align-items: center
      min-height: 50px
      padding-left: 12px
      padding-right: 20px
      cursor: pointer
      border-bottom: 1px solid  #E7ECEF
      .chevron-right
        margin-left: auto
        svg
          fill: $grey
          opacity: 0.4
      &.uk-active
        color: $black
        background: #F3F4F5
        .chevron-right
          svg
            fill: $black
            opacity: 1
    &-inner
      margin-top: 0 !important
    &-wrapper
      height: 100%
      border-left: 1px solid  #E7ECEF
      &:not(.uk-active)
        display: none
      
  &__text
    flex: 1
  &__icon
    width: 32px
    display: flex
    margin-right: 7px
    svg
      fill: $black
    .icon-menu-nut
      width: 29px
      height: 26px
    .icon-menu-wrench
      width: 26px
      height: 26px
    .icon-menu-screwdriver
      width: 32px
      height: 26px
    .icon-menu-disk
      width: 26px
      height: 26px
  
  &__item
    margin-bottom: 40px
    &-link
      display: flex
      flex-wrap: wrap
      text-decoration: none
      &:hover
        text-decoration: none
    &-img
      width: 122px
      height: 121px
      margin: 0 auto
      img
        width: 100%
        height: 100%
        object-fit: cover
    &-text
      font-size: 14px
      color: $black
      text-align: center
      display: flex
      width: 100%
      justify-content: center
      margin-top: 28px
  &__content
    height: 100%
    overflow-y: auto
    border-left: 1px solid  #E7ECEF
    &:not(.uk-active)
      display: none
  &__inner
    height: 100%
  .uk-width-1-3\@m
    +rmin($breakpoint-medium-w)
      width: 292px

  .uk-container-s
    height: 100%
    > .js-grid
      height: 100%
      > div
        height: 100% 