.info-cart
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-left: 20px
  +r($mobsmall)
    margin-left: 0
  &__icon
    position: relative
    svg
      width: 36px
      height: 30px
      fill: $black
      +r($mobsmall)
        width: 26px
        height: 22px
  &__count
    position: absolute
    right: 0
    top: 0
    transform: translate(50%, -50%)
    width: 16px
    height: 16px
    background: $red
    color: $white
    font-size: 10px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    line-height: 1
  &__side
    flex: 1
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding-left: 13px
  &__title
    @extend .t-grey
    @extend .t-small
  &__price
    font-size: 15px
    color: $black
    +rb