.top-search
  display: flex
  flex-wrap: wrap
  position: relative
  height: 48px
  top: -1px
  flex: 1
  overflow: hidden
  border-radius: 6px
  margin: 0 16px
  +r($mobile)
    flex: 1 0 100%
    width: 100%
    max-width: 100%
    order: 4
    margin: 0
    margin-top: 18px
  +r($mobsmall)
    height: 38px
  &__input
    border-radius: 6px
    background: #F3F4F5
    max-width: calc(100% - 2px)
    flex: 1 0 calc(100% - 2px)
    width: calc(100% - 2px)
    height: calc(100% - 2px)
    padding-left: 53px
    padding-right: 105px
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4305 13.0018L10.2093 9.53631C11.0376 8.51788 11.4913 7.23648 11.4913 5.90249C11.4913 2.78576 9.03995 0.25 6.02692 0.25C3.01389 0.25 0.5625 2.78576 0.5625 5.90249C0.5625 9.01923 3.01389 11.555 6.02692 11.555C7.15805 11.555 8.23597 11.2021 9.15756 10.5321L12.4032 14.0239C12.5388 14.1696 12.7213 14.25 12.9168 14.25C13.1019 14.25 13.2775 14.177 13.4108 14.0443C13.694 13.7624 13.703 13.295 13.4305 13.0018ZM6.02692 1.72456C8.25403 1.72456 10.0658 3.59873 10.0658 5.90249C10.0658 8.20625 8.25403 10.0804 6.02692 10.0804C3.79981 10.0804 1.988 8.20625 1.988 5.90249C1.988 3.59873 3.79981 1.72456 6.02692 1.72456Z' fill='%23CCD0D5'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 24px 50%
    +rm
    font-size: 15px
    line-height: 18px
    position: relative
    top: 1px
    left: 1px
    z-index: 5
    transition: all .2s ease
    box-sizing: border-box
    &::placeholder
      color: rgba($grey,.5)
      +rd
      font-size: 13px
  &__border
    position: absolute
    width: 100%
    height: 100%
    background: #F3F4F5
    transition: all .2s ease
    border-radius: 6px
  &__button
    border-radius: 6px
    height: calc(100% - 2px)
    width: 90px
    position: absolute !important
    right: 1px
    top: 1px
    color: $white
    font-size: 15px
    line-height: 1
    +rm
    z-index: 6
    opacity: 0
    transition: all .2s ease
    padding-bottom: 13px !important
  &:hover
    .top-search__input
      background-color: $white
    .top-search__border
      background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
    .top-search__button
      opacity: 1