<!-- begin call-us -->
<div class="call-us is-desktop">

  <div class="call-us__numbers">
    <span class="call-us__number">
      <a href="tel:+380573411023">0 800 307 207</a> {{mixins.icon('chevron-b')}}
    </span>
    <!-- begin .js-dropdown-nav -->
    <div class="main-nav_drop js-dropdown-main">
      <div class="drop__inner drop__inner-numbers">
<!-- 
        <a href="tel:+380573411023" class="call-us__number">+38 (057) 341-10-23</a>
        <a href="tel:+380573411023" class="call-us__number">+38 (057) 341-10-23</a> -->


        <span class="t-grey call-us__info">с 8:00 до 21:00 (Пн - Вс)</span>
        <span class="call-us__number call-us__number-text">Безкоштовно по Україні</span>
        
      </div>


    </div>
    <!-- end .js-dropdown-nav -->
    <div class="call-us__popup ">
      <a class="js-call-us-popup" href="#modal-call-us" uk-toggle>Зв'язатися з нами</a> </div>
    
  </div>
  
</div>
<!-- end call-us --> 