<!-- begin category-dropdown -->
<div class="category-dropdown is-desktop">

  <div class="category-dropdown__button btn btn__bordered js-show-drop-cat">
    <span>Каталог товарів</span>
    {{mixins.icon('chevron-b')}}
  </div>

  
{% include "partials/header/_drop-cat.html" %}
  
</div>
<!-- end category-dropdown -->