<!-- begin dropdown-categories -->
<div class="dropdown-categories js-dropdown-cat-main ">

  <div class="uk-container-s">

    <!-- begin uk-grid-collapse  uk-grid-->
    <div class="uk-grid-collapse js-grid" uk-grid>

      <div class="uk-width-1-5@m uk-width-1-1@s">
        
        <!-- begin dropdown-categories__list -->
        <ul class="dropdown-categories__list js-dropdown-categories">

          {% for item in header.dropnav %}
          <!-- begin dropdown-categories__list-item -->
          <li class="dropdown-categories__list-item js-dropnav-categories__select" data-cat-lable="{{item.lable}}">

            <span class="dropdown-categories__icon">{{mixins.icon(item.icon)}}</span><span class="dropdown-categories__text">{{item.text}}</span>
            <span class="chevron-right">{{mixins.icon('chevron-b')}}</span>
            
          </li>
          <!-- end dropdown-categories__list-item -->
          {% endfor %}
          
        </ul>
        <!-- end dropdown-categories__list -->

        

         
        
      </div>
      


      <div class="uk-width-expand js-boundary-dropdown uk-grid-collapse" uk-grid >

      

        {% for i in range(0, 4) -%}
        <div class="dropdown-categories__list-wrapper uk-width-1-1 uk-grid-collapse js-dropdown-categories-inner-wrapper" uk-grid >
          
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <!-- begin dropdown-categories__list -->
            {% if i === 3 %}
            <ul class="dropdown-categories__list-inner dropdown-categories__list js-dropdown-categories-inner">

              
              
              <!-- begin dropdown-categories__list-item -->
              <li class="dropdown-categories__list-item js-dropnav-categories__select" data-cat-lable="{{item.lable}}">

                <span class="dropdown-categories__text">1111</span>
                <span class="chevron-right">111111</span>
                
              </li>
              <!-- end dropdown-categories__list-item -->
           
              
            </ul>
            <!-- end dropdown-categories__list -->
            {% else %}
            <ul class="dropdown-categories__list-inner dropdown-categories__list js-dropdown-categories-inner">

              
              
              {% for item in header.dropnav %}
              <!-- begin dropdown-categories__list-item -->
              <li class="dropdown-categories__list-item js-dropnav-categories__select" data-cat-lable="{{item.lable}}">

                <span class="dropdown-categories__text">{{i+1}} - {{item.text}}</span>
                <span class="chevron-right">{{mixins.icon('chevron-b')}}</span>
                
              </li>
              <!-- end dropdown-categories__list-item -->
              {% endfor %}
            
           
              
            </ul>
            <!-- end dropdown-categories__list -->
            {% endif %}
          

            

            
            
          </div>


          <div class="dropdown-categories__inner js-boundary-dropdown-inner uk-width-expand">
            {% if i === 3 %}

            <div class="dropdown-categories__content uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-1@s js-dropnav-categories js-grid" uk-grid data-cat-item="cat1sda">
asdasdsad
              {% for i in range(0, 3) -%}
                {% for item in item.dropnavMenu %}
  
                  <!-- begin dropdown-categories__item -->
                  <div class="dropdown-categories__item">
  
                    <a href="" class="dropdown-categories__item-link">
                      <span class="dropdown-categories__item-img">
                        <img src="./img/cat-drop/{{item.img}}.jpg" alt="">
                      </span>
                      <span class="dropdown-categories__item-text">{{item.text}}</span>
                    </a>
                    
                  </div>
                  <!-- end dropdown-categories__item -->
  
                {% endfor %}
            {% endfor %}
  
            </div>

            {% else %}

           
          {% for item in header.dropnavdrop  %}

          <!-- begin dropnav-content -->

          <div class="dropdown-categories__content uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-1@s js-dropnav-categories js-grid" uk-grid data-cat-item="{{item.lable}}">

            {% for i in range(0, 3) -%}
              {% for item in item.dropnavMenu %}

                <!-- begin dropdown-categories__item -->
                <div class="dropdown-categories__item">

                  <a href="" class="dropdown-categories__item-link">
                    <span class="dropdown-categories__item-img">
                      <img src="./img/cat-drop/{{item.img}}.jpg" alt="">
                    </span>
                    <span class="dropdown-categories__item-text">{{item.text}}</span>
                  </a>
                  
                </div>
                <!-- end dropdown-categories__item -->

              {% endfor %}
          {% endfor %}

          </div>

          {% endfor %}

          {% endif %}

          </div>

        </div>
        {% endfor %}

      </div>
      
    </div>
    <!-- end uk-grid-collapse  uk-grid-->

  </div>
  
</div>
<!-- end dropdown-categories -->