<!-- begin info-cart -->
<div class="info-cart ">


    <!-- begin info-cart__icon -->
    <a  href="#modal-basket-m" uk-toggle class="info-cart__icon is-mobile">
      <span class="info-cart__count">12</span>
      {{mixins.icon('cart')}}
    </a>
    <!-- end info-cart__icon -->

  <!-- begin info-cart__icon -->
  <div class="info-cart__icon is-desktop">
    <span class="info-cart__count">12</span>
    {{mixins.icon('cart')}}
  </div>
  <!-- end info-cart__icon -->
  

  <!-- begin info-cart__side -->
  <div class="info-cart__side is-desktop">

    <span class="info-cart__title">Кошик</span><span class="info-cart__price">3 790 грн</span>
    
  </div>
  <!-- end info-cart__side -->
  
</div>
<!-- end info-cart -->

<!-- begin info-cart__dropdown  -->
<div class="drop-cart__dropdown js-dropdown-main uk-dropdown__no-treangle is-desktop" uk-dropdown="pos: bottom-right">
  <div class="drop__inner drop__inner--gap">

    <!-- begin drop__inner--header -->
    <div class="drop__inner--header">

      <span class="drop__inner__big">Корзина</span>
      <span class="t-grey t-small">У вас в корзине 12 товаров</span>
      
    </div>
    <!-- end drop__inner--header -->

    <!-- begin drop__inner--body -->
    <div class="drop__inner--body">

      {% for item in header.cartdrop %}
      <div class="drop-cart__item">
        <!-- begin drop-cart__img -->
        <div class="drop-cart__img">
          <a href=""><img src="./img/cart-drop/{{item.img}}" alt=""></a>
        </div>
        <!-- end drop-cart__img -->

        <!-- begin drop-cart__side -->
        <div class="drop-cart__side">

          <div class="drop-cart__title">
            <a class="t-grey" href=""> <span>{{item.title}}</span><span>{{item.title1}}</span> </a>
          </div>
        
          <div class="drop-cart__config">
            <span class="drop-cart__config-item">{{item.c1 | safe}}</span>
            <span class="drop-cart__config-item">{{item.c2}}</span>
            <span class="drop-cart__config-item">{{item.c3 | safe}}</span>
          </div>


          
        </div>
        <!-- end drop-cart__side -->

      </div>
      {% endfor %}
      
    </div>
    <!-- end drop__inner--body -->

    <!-- begin drop__inner--footer -->
    <div class="drop__inner--footer">

      <div class="drop-cart__all">
        <span class="t-grey t-small">Загальна сума:</span>
        <span class="drop__inner__big">4 810 грн</span>
      </div>

      <div class="drop-cart__bittons">
        <a href="" class="btn btn__light-grey"> <span>Перейти в корзину</span> </a><a href="" class="btn btn__green">  <span>Оформить заказ</span> </a>
      </div>
      
    </div>
    <!-- end drop__inner--footer -->



  </div>
</div>
<!-- end info-cart__dropdown -->