<!-- begin top-search -->
<div class="top-search">

  <input class="top-search__input" type="text" placeholder="Пошук по коду, моделі" />
  <div class="top-search__border"></div>
  <button class="top-search__button btn btn__green" type="submit"> <span>Пошук</span> </button>
  
</div>
<!-- end top-search -->