.banner-slider
  overflow: hidden
  position: relative
  margin-bottom: 0 !important
  height: 27.690700vw
  +r(478)
    height: 44.27vw
  &__item
    height: 27.690700vw
    +r(478)
      height: 44.27vw
    img
      width: 100%
      height: 100%
      object-fit: cover
  .swiper-pagination
    position: absolute
    z-index: 5
    display: flex
    justify-content: center
    align-items: center
    bottom: 35px
    +r(478)
      bottom: 12px
    .swiper-pagination-bullet
      width: 8px
      height: 8px
      margin: 0 7px
      border: 2px solid rgba($white,0)
      background: rgba($white, 1)
      
      border-radius: 50%
      opacity: 0.5
      // button
      //   width: 8px
      //   height: 8px
        
      //   border-radius: 50%
      //   background: rgba($white, .5)
      //   box-sizing: border-box
      //   padding: 0
      //   font-size: 0
      &.swiper-pagination-bullet-active
        width: 10px
        height: 10px
        border: 2px solid rgba($white,1)
        opacity: 1
  .swiper-button-next
    width: 16px
    height: 28px
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.97973 28L-2.86102e-06 24.7333L9.79054 14L-6.67572e-06 3.26667L2.97972 0L15.75 14L2.97973 28Z' fill='white'/%3E%3C/svg%3E%0A")
    right: 5.224660vw
    z-index: 5
    &::after
      display: none
    +r(478)
      display: none
  .swiper-button-prev
    width: 16px
    height: 28px
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7703 28L15.75 24.7333L5.95946 14L15.75 3.26667L12.7703 0L0 14L12.7703 28Z' fill='white'/%3E%3C/svg%3E%0A")
    left: 5.224660vw
    z-index: 5
    &::after
      display: none
    +r(478)
      display: none