.breadcrumb
    padding-left: 0
    padding-top: 30px
    padding-bottom: 30px
    +r(960)
        display: flex
        white-space: nowrap
        overflow-x: auto
        padding-bottom: 20px
    .breadcrumb-item
        padding-right: 14px
        margin-right: 10px
        position: relative
        &::after            
            content: ''
            position: absolute
            right: 0
            top: calc(50% - 4px)
            background-image: url(../img/product/icon/arrow-right.svg)
            background-repeat: no-repeat
            background-position: center
            width: 8px
            height: 8px 
            // opacity: 0.7
        &:last-child
            &::after
                display: none
        &:not(:first-child)
            a
                color: rgba(#4C5458, 1)
        a
            color: rgba(#4C5458, 1)
            +r(767)
        color: rgba(#4C5458, 1)
        &.active
            color: rgba(#4C5458, 0.5)
