.btn
  color: $grey
  font-size: 13px
  display: flex
  align-items: center
  justify-content: center
  padding: 13px 10px 16px 10px
  border-radius: 4px
  overflow: hidden
  box-sizing: border-box
  &:hover
    text-decoration: none
    color: $grey
  span
    position: relative
    z-index: 5
  svg
    position: relative
    z-index: 5
    margin-right: 8px
    width: 20px
    height: 17px
    display: inline-flex
  &__bordered
    background: $white
    border: 1px solid rgba($grey,0.3)
    color: $black
    cursor: pointer
    &:hover
      color: $black
  &__light-grey
    background: #F8F8F9
  &__green
    position: relative
    color: $white
    &::before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: linear-gradient(90deg, #55969A 0%, #1FBA59 100%)
      transition: opacity .18s linear
    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      transition: opacity .18s linear
      background: linear-gradient(90deg, #1FBA59 0%, #55969A 100%)
      opacity: 0
    &:hover
      color: $white
      &::before
        // opacity: 0
        // transition: opacity .18s linear
      &::after
        opacity: 1
        transition: opacity .18s linear
    svg
      fill: $white
  &__yellow
    position: relative
    color: $white
    &::before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: linear-gradient(90deg, #E2814E 0%, #FFA116 100%)
      transition: opacity .18s linear
    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      transition: opacity .18s linear
      background: linear-gradient(90deg, #FFA116 0%, #E2814E 100%)
      opacity: 0
    &:hover
      color: $white
      &::before
        // opacity: 0
        // transition: opacity .18s linear
      &::after
        opacity: 1
        transition: opacity .18s linear
    svg
      fill: $white
  &__no-gap
    padding: 0 !important
  &__width-expand
    display: flex
    width: 100%
    justify-content: center

  &__gerey-h
    padding-bottom: 13px
    
    background: #f8f8f9
    border-radius: 6px
    font-size: 14px
    font-family: 'rb',sans-serif
    font-weight: 400
    font-display: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    height: 44px
    padding-left: 19px
    padding-right: 19px
    white-space: nowrap
    -webkit-transition: all .3s
    -o-transition: all .3s
    transition: all .3s
    &:hover
      background: #4c5458
      color: #fff
      -webkit-transition: all .3s
      -o-transition: all .3s
      transition: all .3s
  &__middle
    width: auto
    padding-left: 40px !important
    padding-right: 40px !important