.card-slider
  padding: 100px
  padding-left: 0
  padding-right: 0
  
  // padding-left: calc((100vw - 1190px) / 2)
  // padding-right: calc((100vw - 1190px) / 2)
  max-width: 1170px
  
  margin: -100px 0
  margin-left: auto 
  margin-right: auto
  
  &.is-hover
    padding-bottom: 287px
    margin-bottom: -287px
    +r($mobile)
      padding-bottom: 0
      margin-bottom: 0
  +r($mobile)
    padding: 0
    margin: 0
    padding-left: 0px
    padding-right: 0px
  &__scrollbar
    opacity: 0
    visibility: hidden
    background: transparent
    .swiper-scrollbar-drag
      height: 3px
      background: #4C5458
      opacity: 0.2
      +r($mobile)
        top: 22px
    +r($mobile)
      opacity: 1
      visibility: visible
      width: 100%
      height: 3px
  &__nav
    margin-left: auto
    display: flex
    align-items: center
    > span
      width: 51px
      height: 51px
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid rgba($grey,.2)
      border-radius: 50%
      margin-left: 5px
      position: relative
      z-index: 5
      cursor: pointer
    svg
      width: 6px
      height: 10px

  &__wrapper
    &:hover
      z-index: 100
      position: relative
    
    .swiper-slide
      // opacity: 0
      transition: opacity .18s ease-out
      pointer-events: none
      +r($mobile1)
        width: 158px
      +r(478)
        width: 50vw
        // opacity: 1
      &.swiper-slide-visible
        // opacity: 1
        pointer-events: auto