.card-item
  height: 462px
  &:hover
    position: relative
    z-index: 5
  &_hover_custom
    &:hover
      .card-item__inner
        transform: translateY(-100px)
        +r(480)
          transform: translateY(0px)
  +r($mobile)
    height: auto
  +r($mobile1)
    width: 100%
  &__no
    .card-item__img
      opacity: 0.5
    .card-item__stickers
      display: none
    .card-item__price
      color: $grey
  &__inner
    background: rgba($white,0)
    box-shadow: 0px 2px 100px rgba(0, 0, 0, 0)
    border-radius: 4px
    position: relative
    padding: 16px
    
    overflow: visible
    +r($mobile)
      padding: 0
      padding-left: 10px
      padding-right: 10px
    &:hover
      background: rgba($white,1)
      box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.08)
      +r($mobile)
        background: transparent
        box-shadow: 0px 2px 100px rgba(0, 0, 0, 0)
      .card-item__drop
        display: block
  &__stickers
    position: absolute
    top: 16px
    left: 16px
    +r($mobile)
      top: 10px
      left: 10px
    &-orange
      background: #F47C0C
    &-red
      background: $red
    &-green
      background: $green
    span
      font-size: 11px
      +exb
      color: $white
      padding: 5px 10px
      padding-bottom: 6px
      text-transform: uppercase
    div
      width: 100%
      max-width: 100%
      flex: 1 0 100%
      position: relative
      margin-bottom: 4px
      +r($mobsmall)
        height: 28px
        margin-bottom: 0
  &__img
    width: 100%
    height: 250px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 40px
    +r($mobile)
      margin-bottom: 20px
      height: 200px
    +r($mobile1)
      height: 158px
    a
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: contain

  &__sku
    font-size: 11px
    line-height: 13px
    color: #4C5458
    opacity: 0.5
    margin-bottom: 9px
  &__title
    font-size: 15px
    line-height: 20px
    margin-bottom: 9px
    
    a
      color: $black
      &:hover
        text-decoration: none
  &__rating
    display: flex
    flex-wrap: wrap
    .icon-star
      fill: #E1E1E1
      width: 12px
      height: 12px
      margin-right: 2px
      &.is-active
        fill: #F47C0C
  &__reviews
    margin-left: 6px
    a
      &:hover
        text-decoration: none
    span
      +rm
      color: $grey
      font-size: 12px
      line-height: 14px
    svg
      fill: #485860
      opacity: 0.7
  &__response
    display: flex
    flex-wrap: wrap
    width: 100%
    align-items: center
    margin-bottom: 28px
    +r($mobile)
      margin-bottom: 23px
  &__price
    font-size: 19px
    line-height: 1
    color: $black
    +rm
    +r(478)
      display: flex
      justify-content: space-between
      font-size: 15px
    .t-crossed
      font-size: 15px
      +rd
      opacity: 0.6
      margin-left: 15px
      +r(478)
        margin-left: 0
        font-size: 13px
        white-space: nowrap
  &__specifications
    color: $grey
    font-size: 12px
    +rd
    +r($mobile)
      display: none
    &-item
      margin-bottom: 6px
      &:last-of-type
        margin-bottom: 0
      span
        +rm
  &__drop
    padding-top: 22px
    padding-bottom: 7px
    display: none
    +r($mobile)
      display: block
  .btn
    font-size: 15px
    +rm
    line-height: 18px
    align-items: center
    margin-bottom: 21px
    +r($mobile)
      font-size: 14px
      height: 36px
      margin-bottom: 0
    &.btn__yellow
      +r($mobile)
        padding-left: 0
        padding-right: 0
        font-size: 12px
      +r(478)
        font-size: 11px
        svg 
          display: none
    span
      top: 1px
      text-align: center