.default-tabs
  &__nav
    display: flex
    flex-wrap: wrap
    align-items: center
    &-item
      color: rgba($grey,.5)
      +exm
      font-size: 20px
      line-height: 120%
      margin-left: 52px
      border-bottom: 2px solid transparent
      padding-bottom: 3px
      cursor: pointer
      &:first-of-type
        margin-left: 0
      &.uk-active
        color: $black
        border-color: $red
      +r($mobile)
        font-size: 16px
        margin-left: 29px
        &:first-of-type
          margin-left: 0
      
  &__body
  &__item
    margin-top: 0 !important
    &:not(.uk-active)
      display: none
    .news-item
      +r($mobsmall)
        &:last-of-type
          display: none !important