.out
  select
  // display: block !important
    display: none
      + .nice-select
        .list
          +r(480)
            display: none !important
.mobile-modals
  +rmin(481)
    display: none !important
.nice-select
  +r(480)
    // position: static
  &.open
    +r(480)
      z-index: 20
      &::before
        // content: ''
        position: absolute
        left: 0
        top: 0
        width: 100vw
        height: 100vh
        background: #000000
        opacity: 0.6
      .list
        transform: translate(-50%, -50%) scale(1)
  .current
    &.placeholder
      color: rgba($grey, 0.8)
      font-size: 13px
      line-height: 15px
      +rd
  .list
    +r(480)
      left: 50%
      top: 50%
      // transform: translate(-50%, -50%)
      width: 83.73vw
      border-radius: 0
      border: none
      z-index: 20
      opacity: 1
      pointer-events: auto !important
      .option
        padding-top: 12px
        padding-bottom: 12px
        font-size: 12px
        line-height: 14px
        color: $grey
        opacity: 0.7
        +rm
        border-bottom: 1px solid rgba(84, 98, 105, 0.1)
        padding-right: 33px
        padding-left: 20px
        display: flex
        align-items: center
        position: relative
        &.selected
          color: #000000
          opacity: 1
          &::after
            width: 13px
            height: 8px
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.15 4.4C0.05 4.32 0 4.2 0 4.12C0 4.04 0.05 3.92 0.15 3.84L0.85 3.28C1.05 3.12 1.35 3.12 1.55 3.28L1.6 3.32L4.35 5.68C4.45 5.76 4.6 5.76 4.7 5.68L11.4 0.12H11.45C11.65 -0.04 11.95 -0.04 12.15 0.12L12.85 0.68C13.05 0.84 13.05 1.08 12.85 1.24L4.85 7.88C4.75 7.96 4.65 8 4.5 8C4.35 8 4.25 7.96 4.15 7.88L0.25 4.52L0.15 4.4Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-2.51606e-08' y1='3.99994' x2='13' y2='3.99994' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2355969A'/%3E%3Cstop offset='1' stop-color='%231FBA59'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
            background-color: transparent
            right: 20px
            left: unset
            top: 50%
            transform: translateY(-50%)
          &.focus
            color: #000000
            opacity: 1

  &__inline
    height: auto
    padding: 0
    margin: 0
    width: 100%
    border: none
    .current
      display: none !important
    &.open
      padding: 0
      margin: 0
      width: 100%
      border: none
    &::after
      display: none !important
    .list
      width: 100%
      margin: 0
      padding: 0
      position: static
      transform: translate(0%, 0%) scale(1) !important

.select-placeholder
  .disabled
    display: none !important