.uk-dropdown
  box-shadow: none !important
  padding: 0
  margin: 0
  background: transparent
  padding-top: 7px
  display: none
  position: absolute
  top: -10000px
  &__no-treangle
    padding-top: 20px
    box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.1)
    .drop__inner
      border-top-left-radius: 0
      border-top-right-radius: 0
      &::before
        display: none !important
      &::after
        top: -3px
        width: 123px
        content: ''
        right: 0
        height: 3px
        position: absolute
        background: $red

.drop__inner
  border-radius: 4px
  background: $white
  padding: 24px 23px 28px 26px
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.15)
  position: relative
  &::before
    content: ''
    position: absolute
    top: -7px
    left: 50%
    transform: translateX(-50%)
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='7' viewBox='0 0 17 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 0L17 7H0L8.5 0Z' fill='white'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: center
    width: 17px
    height: 7px
  &--gap
    padding: 0
    
  &--header
    padding: 18px 30px
    border-bottom: 1px solid rgba($grey, 0.1)
  &--body
    padding: 0px 30px
    border-bottom: 1px solid rgba($grey, 0.1)
    max-height: 318px
    overflow-y: auto
  &--footer
    padding: 30px
    padding-top: 16px
  &__big
    +rm
    font-size: 16px
    line-height: 19px
    + span
      opacity: 0.7
      margin-left: 15px