.default-form
  &__infotext
    margin-bottom: 20px
  
  &__row
    margin-bottom: 30px
    position: relative
    +r($mobsmall)
      margin-bottom: 24px
      &:last-of-type
        margin-bottom: 0
    &:last-of-type
      margin-bottom: 0
    &-text
      margin-top: -15px
    &-choise
      display: flex
      flex-wrap: wrap
      flex-direction: column
      width: 100%
      label
        display: flex
        align-items: center
        + label
          margin-top: 16px
    &-button
      width: 100%
      display: flex
      justify-content: center
      padding-top: 20px
      flex-wrap: wrap
      &__left
        justify-content: flex-start
      &__type-2
        padding-top: 0
      .btn
        padding: 0 80px
        height: 54px
        display: flex
        align-items: center
        justify-content: center
        font-size: 16px
        line-height: 19px
        +rm
        +r($mobsmall)
          height: 46px
        &.uk-close
          +r(580)
            top: auto
    .nice-select
      width: 100%
      display: flex
      align-items: center
      height: 50px
  &__text
    font-size: 12px
    +rm
    color: $grey
  &__label
    font-size: 13px
    line-height: 15px
    color: #485860
    opacity: 0.7
    margin-bottom: 12px
    width: 100%
    display: block
    &-check
      font-size: 15px
      line-height: 20px
      color: $black
      cursor: pointer
      span
        margin-left: 10px
  &__checkbox
    display: inline-block
    height: 20px
    width: 20px
    overflow: hidden
    margin-top: -3px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    background-color: #FFFFFF
    border: 1px solid #D3DBE8
    box-sizing: border-box
    border-radius: 2px
    transition: .2s ease-in-out
    transition-property: background-color,border
    cursor: pointer
    &:checked
      border-color: $red
      background-color: $red
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.88285L4.10933 9L12 1.11716L10.8672 0L4.10933 6.74996L1.11715 3.75782L0 4.88285Z' fill='white'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: center center
  &__radio
    display: inline-block
    height: 24px
    width: 24px
    border-radius: 50%
    overflow: hidden
    margin-top: -3px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    background-color: #FFFFFF
    border: 1px solid #C5D4DB
    box-sizing: border-box
    transition: .2s ease-in-out
    transition-property: background-color,border
    cursor: pointer
    &:checked
      border-color: $red
      background-color: $white
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='5' transform='matrix(1 0 0 -1 5 5)' fill='%23FF0000'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: center center
    + span
      color: $grey
      margin-left: 10px
  &__input
    height: 50px
    font-size: 15px
    line-height: 18px
    color: #000000
    +rm
    background: #FFFFFF
    border: 1px solid #D3DBE8
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    padding: 0 25px
    &::placeholder
      color: #4C5458
      opacity: 0.3
  &__textarea
    max-height: 150px
    min-height: 150px
    height: 150px
    font-size: 15px
    line-height: 18px
    color: #000000
    +rm
    background: #FFFFFF
    border: 1px solid #D3DBE8
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    min-width: 100%
    padding: 20px 25px
    &::placeholder
      color: #4C5458
      opacity: 0.3
  &__status
    // position: absolute
    // bottom: -4px
    // left: 0
    width: 100%
    font-size: 12px
    line-height: 14px
    color: #FF0000
    opacity: 0.7
    &.grey
      color: $grey
      opacity: 0.7
    // transform: translateY(100%)
    &-error
      input
        border-color: $red
      .default-form__status 
        color: $red
      .nice-select
        border-color: $red
  &__separator
    position: relative
    color: rgba($grey,0.5)
    display: flex
    justify-content: center
    width: 100%
    padding: 30px 0
    &::before
      content: ''
      width: 100%
      height: 1px
      background-color: rgba($grey, 0.1)
      position: absolute
      top: 50%
      left: 0

    span
      background: $white
      padding: 0 18px
      position: relative
      z-index: 5
      font-size: 15px

  &__req
    color: $red
