.lg-outer,
.uk-lightbox
    &-toolbar
        background: transparent
    &-button
        background: transparent
    .lg-outer .lg-toogle-thumb,
    #lg-counter,
    .lg-download
        display: none
    .lg-close,
    .uk-close
        background-image: url(../img/product/icon/close.svg)
        background-repeat: no-repeat
        background-position: center
        border: 1px solid #4d4d4d
        border-radius: 50%
        margin: 30px 30px 0 0
        &::after
            display: none
        +r(767)
            margin-top: 5%
    .lg-actions .lg-next, 
    .lg-actions .lg-prev        
        
        background-position: center      
        background: transparent
        width: 40px
        height: 40px
        &::before,            
        &::after
            display: none
    
    .lg-actions .lg-prev,
    .uk-slidenav-previous
        background-image: url(../img/product/icon/arrow-left-white.svg)
        background-repeat: no-repeat
        left: 15%
        +r(1024)
            left: 0
            margin-left: 0
            padding-left: 0
            width: 30px
        +r(767)
            display: none
    .lg-actions .lg-next,
    .uk-slidenav-next
        background-image: url(../img/product/icon/arrow-right-white.svg)
        background-repeat: no-repeat
        right: 15%
        +r(1024)
            right: 0
            margin-right: 0
            padding-right: 0
            width: 30px
        +r(767)
            display: none
    .uk-lightbox-button
        background-repeat: no-repeat
        background-position: center
        svg
            display: none

.lg-backdrop
     background: rgba(0, 0, 0, 0.6)
.lg-outer .lg-image
    +r(767)
        max-width: 93%
.uk-lightbox-items>*>*
    +r(767)
        max-width: 85vw
.lg-outer .lg-thumb-outer,
.lg-sub-html, .lg-toolbar
    background: transparent

.lg-outer .lg-toogle-thumb
    display: none
.lg-outer .lg-thumb
    width: 100% !important
    display: flex
    justify-content: center
    align-items: center
    transform: none !important

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item
    width: 8px !important
    height: 8px !important
    background: #ffffff
    opacity: 0.5
    margin-right: 10px !important
    border-radius: 50%
    border: 0
.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item.active
    opacity: 1
    width: 10px !important 
    height: 10px !important
    border: 0
    img
        display: none

.lg-outer .lg-img-wrap, .lg-outer .lg-item
    +r(767)
        width: 98%