.block-expand
  width: 100%

.uk-grid-ex-small
  margin-left: -11px
  +r(480)
    margin-left: -5px
  > * 
    padding-left: 11px
    +r(480)
      padding-left: 5px
  .uk-grid-margin
    margin-top: 10px
    +r(480)
      margin-top: 5px

.max-width-1-2
  max-width: 50% !important