.icon-chevron-b
  width: 8px
  height: 5px
  fill: $black

.chevron-right
  svg
    transform: rotate(-90deg)
    position: relative

.chevron-left
  svg
    transform: rotate(90deg)
    position: relative

.icon-btn
  display: flex
  align-items: center
  + span
    margin-left: 10px