.main-nav
  display: flex
  align-items: center
  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: 0
    padding-left: 0
  &__item
    padding: 0 20px
    position: relative
    &::after
      content: ''
      width: 1px
      height: 15px
      background: rgba($white, 0.15)
      display: flex
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
    &:first-of-type
      padding-left: 0
    &:last-of-type
      padding-right: 0
      &::after
        display: none
  &__link
    .icon-chevron-b
      width: 6px
      height: 4px
      fill: $white
  &_drop-list
    margin: 0
    padding: 0
    min-width: 160px
    &__item
      margin-bottom: 18px
      &:last-of-type
        margin-bottom: 0
    &__link
      font-size: 13px
      color: $grey !important
      &.is-active
        color: $black !important
        position: relative
        &::after
          content: ''
          position: absolute
          left: 0
          bottom: -5px
          width: 20px
          height: 2px
          background: $red
      