.modal-default
  padding: 20px
  +r(mobsmall)
    top: 56px
  &__no-gap
    padding: 0
    .modal-default__inner
      padding: 0
      margin: 0
  &__status
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 11px
  &__inner
    padding: 40px 75px
    +r($mobsmall)
      padding-left: 0
      padding-right: 0
      padding-top: 14px
      padding-bottom: 18px
    .share-link
      display: flex
      justify-content: flex-start
      align-items: center
      padding-left: 0
      margin-bottom: 0
      overflow: hidden
      transition: width 0.5s ease-in-out      
      &__item
        margin-right: 12px      
        a
          display: flex
          justify-content: center
          align-items: center
          min-width: 54px
          min-height: 54px
          border: 1px solid rgba(76, 84, 88, 0.3)
          border-radius: 50%
          transition: all 0.3s easy
          &:hover
            border-color: #1FBA59
            background: #fff
            transition: all 0.3s easy
  &__title
    font-size: 28px
    line-height: 32px
    +exm
    color: #000000
    +rmin($mobsmall)
      padding: 0 30px
    +r($mobsmall)
      font-size: 22px
      line-height: 24px
    &-gap
      margin-bottom: 27px
      +r($mobsmall)
        + .modal-default__subtitle
          margin-top: -13px
  &__subtitle
    font-size: 15px
    line-height: 20px
    color: #4C5458
    opacity: 0.6
    + form
      margin-top: 30px
      +r($mobsmall)
        margin-top: 24px
  &__header
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    position: relative
    padding: 30px 60px
    border-bottom: 1px solid rgba(#4C5458, .1)
    +r($mobile1)
      padding: 20px 18px
    .modal-default__title
      padding: 0
      margin: 0
    .uk-close
      right: 20px
      top: 20px
      +r($mobile1)
        width: 34px
        height: 34px
        position: static
        margin-left: auto
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5092 15.6446C15.141 15.2684 15.141 14.6585 15.5092 14.2824C15.8774 13.9062 16.4744 13.9062 16.8426 14.2824L25.7238 23.3556C26.0921 23.7318 26.0921 24.3417 25.7238 24.7179C25.3556 25.094 24.7587 25.094 24.3904 24.7179L15.5092 15.6446Z' fill='%234C5458'/%3E%3Cpath d='M16.6096 24.7176C16.2413 25.0938 15.6444 25.0938 15.2762 24.7176C14.9079 24.3415 14.9079 23.7316 15.2762 23.3554L24.1574 14.2821C24.5256 13.906 25.1226 13.906 25.4908 14.2821C25.859 14.6583 25.859 15.2682 25.4908 15.6444L16.6096 24.7176Z' fill='%234C5458'/%3E%3Ccircle opacity='0.3' cx='20' cy='20' r='19.5' stroke='%234C5458'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-size: contain
  &__body
    padding-left: 20px
    padding-right: 20px
  &__footer
    background: #F8F8F9
    border-radius: 4px
    padding: 24px 65px
    padding-bottom: 41px
    +r($mobile1)
      padding: 41px 24px
    &-text
      +rmin($mobile1)
        flex: 1
    &-call
      +rmin($mobile1)
        flex: 1
    .t-s-medium
      margin-bottom: 13px
    &-call
      display: flex
      flex-wrap: wrap
      +r($mobile1)
        margin-top: 39px
      &__form
        width: auto
        display: inline-flex
        border: 1px solid rgba(76,84,88,.3)
        border-radius: 4px
        max-width: 100% 
        position: relative
        &.is-error
          border: 1px solid red
        .default-form__status
          display: none
          position: absolute
          bottom: -4px
          transform: translateY(100%)
        input
          background: url(../img/product/icon/phone.svg)
          background-repeat: no-repeat
          background-position: 20px center
          padding-left: 46px
          padding-right: 25px
          font-size: 15px
          color: #06070c
          box-sizing: border-box
          &:invalid
            box-shadow: none
            outline: none
          +r($mobile1)
            max-width: calc(100% - 124px)
        .btn__gerey-h
          +r($mobile1)
            flex: 1 0 124px
            max-width: 124px
            width: 124px
            height: 44px
            padding: 0
            display: flex
            align-items: center
            justify-content: center
            color: $black
  &__full
    
    > div
      padding: 0
      background: $white
      .modal-default__inner
        padding: 0
        +r($mobile1)
          height: 100vh
    +r($mobile1)
      padding: 0

  .default-form__row-button
    .modal-reg-btn
      > div
        max-width: 50% 


.uk-close
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5092 15.6446C15.141 15.2684 15.141 14.6585 15.5092 14.2824C15.8774 13.9062 16.4744 13.9062 16.8426 14.2824L25.7238 23.3556C26.0921 23.7318 26.0921 24.3417 25.7238 24.7179C25.3556 25.094 24.7587 25.094 24.3904 24.7179L15.5092 15.6446Z' fill='%234C5458'/%3E%3Cpath d='M16.6096 24.7176C16.2413 25.0938 15.6444 25.0938 15.2762 24.7176C14.9079 24.3415 14.9079 23.7316 15.2762 23.3554L24.1574 14.2821C24.5256 13.906 25.1226 13.906 25.4908 14.2821C25.859 14.6583 25.859 15.2682 25.4908 15.6444L16.6096 24.7176Z' fill='%234C5458'/%3E%3Ccircle opacity='0.3' cx='20' cy='20' r='19.5' stroke='%234C5458'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  width: 40px
  height: 40px
  top: 20px
  right: 20px
  +r($mobsmall)
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8665 15.2948C15.6885 15.113 15.6885 14.8139 15.8665 14.6321C16.0386 14.4563 16.3132 14.4563 16.4853 14.6321L19.8002 18.0187L19.1665 18.6662L15.8665 15.2948ZM19.8662 19.381L20.4999 18.7335L21.1336 19.381L20.4999 20.0284L19.8662 19.381ZM21.8333 18.6662L21.1995 18.0187L24.5147 14.6319C24.6868 14.456 24.9614 14.456 25.1335 14.6319C25.3115 14.8137 25.3115 15.1128 25.1335 15.2946L21.8333 18.6662ZM21.1995 20.7432L21.8333 20.0958L25.3665 23.7054C25.5445 23.8872 25.5445 24.1863 25.3665 24.3681C25.1944 24.544 24.9199 24.544 24.7478 24.3681L21.1995 20.7432ZM19.1665 20.0958L19.8002 20.7432L16.2522 24.3679C16.0801 24.5437 15.8056 24.5437 15.6335 24.3679C15.4555 24.1861 15.4555 23.887 15.6335 23.7052L19.1665 20.0958Z' fill='white' stroke='white'/%3E%3Ccircle opacity='0.3' cx='20' cy='20' r='20' fill='white'/%3E%3C/svg%3E%0A")
    top: -56px
    right: 0
  svg
    display: none !important



.modal-basket
  &__price-all
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding-top: 31px
    padding-bottom: 35px
    +rmin($mobile1)
      justify-content: flex-end
    &__title
      font-size: 15px
      line-height: 20px
      color: #4C5458
      opacity: 0.7
      +rmin($mobile1)
        margin-right: 27px
    &__count
      font-size: 19px
      line-height: 19px
      text-align: right
      color: #000000
      +rm
  &__buttons
    margin-bottom: 40px
    +rmin($mobile1)
      display: flex
      flex-wrap: wrap-reverse
      justify-content: space-between
    .btn
      height: 50px
      +rmin($mobile1)
        width: calc(50% - 5px)
        max-width: calc(50% - 5px)
        flex: 1 0 calc(50% - 5px)
      &__green
        font-size: 16px
        margin-bottom: 9px
        +rmin($mobile1)
          margin-bottom: 0
      &__light-grey
        font-size: 15px
        svg
          width: 6px
          height: 9px
          margin-right: 10px
          fill: $grey
  &__item
    display: flex
    flex-wrap: wrap
    padding: 26px 0
    border-bottom: 1px solid rgba(#4C5458,.1)
    &-price
      .card-item__price
        +r(478)
          margin-bottom: 0 !important
    &-count
      display: flex
      flex-wrap: wrap
      width: 92px
      height: 34px
      border: 2px solid rgba(#ABB9BF,.3)
      box-sizing: border-box
      border-radius: 4px
      
      margin-left: auto
      margin-right: 69px
      +r(478)
        margin-right: auto
        margin-left: 0
      &__item
        display: flex
        flex-wrap: wrap

        > *
          max-width: 33%
          width: 33%
          flex: 1 0 33%
          display: flex
          justify-content: center
          align-items: center
        input
          text-align: center
          color: $black
          font-size: 15px
          +rb
          -moz-appearance: textfield
          &::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0
          &::-webkit-outer-spin-button
            -webkit-appearance: none
            margin: 0
    &-side
      
      .card-item__sku
        margin-bottom: 14px
      .card-item__title
        padding-right: 25px
        margin-bottom: 14px
        +rmin($mobile1)
          margin-bottom: 28px
        a
          color: $grey
      .card-item__price
        color: $grey
        margin-bottom: 17px
      &-2
        display: flex
        flex-wrap: wrap
        align-items: center
        width: 100%
        flex: 1 0 100%
        max-width: 100%
        .card-item__price
          +r(478)
            width: 100%
            flex: 1 0 100%
            max-width: 100%
            &:first-of-type
              
              margin-bottom: 19px

      &__all
        padding-left: 20px
        flex: 1
        display: flex
        flex-wrap: wrap
        > div
          width: 100%
          flex: 1 0 100%
          max-width: 100% 
          +rmin($mobile1)
            // flex: 1
    &-close
      display: flex
      align-items: center
      padding-right: 15px
    &-img
      width: 80px
      display: flex
      align-items: center
      
      a
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        img
          object-fit: contain


#soc-share-mob
  .modal-default
    padding-left: 35px

.hide-desktop-modal
  +rmin(481)
    display: none !important

.uk-modal-big
  max-width: 900px !important
  width: 100% !important
  .modal-default__header
    +rmin($mobile1)
      padding-left: 0
      padding-right: 0
      width: calc(100% - 120px)
      margin: 0 auto
      position: static
  .modal-default__body
    +rmin($mobile1)
      padding-left: 60px
      padding-right: 60px
  .modal-default__footer
    +rmin($mobile1)
      display: flex
      flex-wrap: wrap
      align-items: flex-end