.pagination-wrap
    display: flex
    justify-content: center
    align-items: center
    margin-top: 40px
    // margin-bottom: 130px
    +r(970)
        margin-bottom: 80px
    .uk-pagination
        li
            width: 60px
            height: 60px            
            border-radius: 4px 
            margin-right: 9px
            display: flex
            justify-content: center
            align-items: center
            +r(767)
                width: 38px
                height: 38px
            +r(360)
                width: 30px
                height: 30px
            &:last-child
                margin-right: 0
            a
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                width: 100%
                box-sizing: border-box
                color: #000
                font-size: 15px
                border-radius: 4px 
                border: 1px solid #E4E4E4
                +rb
                &:hover
                    border-color: #4C5458
                +r(767)
                    font-size: 12px
                    line-height: 1
            span
                padding: 0
                line-height: 1
                margin: 0
                font-size: 16px
                color: #000
                +rb
            &:last-child,                
            &.uk-first-column
                border: 0
                a
                    border: 0
                    color: #4C5458
                    opacity: 0.3
                    &:hover
                        opacity: 1
            &.uk-active
                a
                    background: $black
                    color: $white