<div class="tabs-wrap">
    <div class="uk-container">

        <div class="tabs-product">


            <ul uk-tab class="tabs-nav">
                <li class="tabs-nav__item"><a href="#">Описание</a></li>
                <li class="tabs-nav__item"><a href="#">Характеристики</a></li>
                <li class="tabs-nav__item tabs-nav__item-video"><a href="#">Видеообзор</a></li>
                <li class="tabs-nav__item tabs-nav__item-review"><a href="#">Отзывы (13)</a></li>
                <li class="tabs-nav__item"><a href="#">Документы</a></li>
            </ul>
            
            <ul class="uk-switcher uk-margin tabs-content">
                <li class="tabs-content__item tabs-content__item-info">
                    <div class="tabs-detail-row">
                        <div class="descript">
                            <h2>Сверхстойкий противоударный пластиковый кейс2</h2>
                            <p>Выдерживает вес до 80 кг. Оснащен двумя надежными металлическими замками. Эргономичная ручка способствует удобной транспортировке.
                            </p>
                        </div>
                        <div class="img">
                            <img src="img/product/slider/big/6.jpg" alt="">
                        </div>
                    </div>
                    <div class="tabs-detail-row">
                        <div class="descript">
                            <h2>Все под рукой</h2>
                            <p>Комплектация набора включает в себя 110 единиц инструментов, что обеспечивает выполнение подавляющего большинства работ в автомастерской. Вы найдете все, что нужно для качественного ремонта - от насадок бит до торцевых головок E-типа.</p>
                        </div>
                        <div class="img">
                            <img src="img/product/slider/big/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="tabs-detail-row">
                        <div class="descript">
                            <h2>Сверхстойкий противоударный пластиковый кейс</h2>
                            <p>Выдерживает вес до 80 кг. Оснащен двумя надежными металлическими замками. Эргономичная ручка способствует удобной транспортировке.
                            </p>
                        </div>
                        <div class="img">
                            <img src="img/product/slider/big/5.jpg" alt="">
                        </div>
                    </div>
                    <div class="tabs-detail-row">
                        <div class="descript">
                            <h2>Инновационные головки
                                Super Lock</h2>
                            <p>Набор укомплектован инновационными головками Super Lock. За счет формы головки, крутящий момент при работе припадает на стенку гайки, а не на ее грань. Благодаря таким торцевым головкам при работе исключается деформация гайки или болта. Двухслойное никелевое покрытие добавляет головкам антикоррозионные свойства, высокую твердость и прочность. В комплекте 6 головок Super Lock (8,10,13,15,17,19 мм)</p>
                        </div>
                        <div class="img">
                            <img src="img/product/slider/big/4.jpg" alt="">
                        </div>
                    </div>
                </li> 
                <li class="tabs-content__item tabs-content__item-specifications">
                    <h2>Характеристики <span>Набор насадок торцевых c трещоткой (150 шт.)</span></h2>
                    <table>
                        <tr>
                            <td>НГ-Материал</td>
                            <td>хром-молибденовая сталь</td>
                        </tr>
                        <tr>
                            <td>Удлинитель</td>
                            <td>1/2": 125, 250мм; 1/4": 50, 100мм</td>
                        </tr>
                        <tr>
                            <td>Шарнир карданный</td>
                            <td>1/2"; 1/4"</td>
                        </tr>
                        <tr>
                            <td>Вороток:</td>
                            <td>Т-образный 1/2", 115 мм 1/4"</td>
                        </tr>
                        <tr>
                            <td>Биты 1/2"</td>
                            <td>ТХ: 40, 45, 50, 55, 60; PD: 3, 4; PZ: 3, 4; FD: 8, 10, 12;
                                НЕХ: 7, 8, 10, 12, 14 мм</td>
                        </tr>
                        <tr>
                            <td>Битодержатель</td>
                            <td>1/2"</td>
                        </tr>
                        <tr>
                            <td>Ключи шестигранные</td>
                            <td>1,27, 1,5, 2, 2,5мм</td>
                        </tr>
                        <tr>
                            <td>НГ-Тип упаковки</td>
                            <td>Противоударный кейс</td>
                        </tr>
                        <tr>
                            <td>Зубья в трещотке</td>
                            <td>90</td>
                        </tr>
                    </table>
                </li>
                <li class="tabs-content__item tabs-content__item-video">

                    <h2>Видеообзор <span>Набор насадок торцевых c трещоткой (150 шт.)</span></h2>

                    <iframe class="video-product"   width="560" height="315" src="https://www.youtube.com/embed/JUDG9f4bDJk" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe>

                    <!--
                    <div class="video-wrapper video_wrapper video_wrapper_full js-videoWrapper">
                        <div class="video-cover">
                           <img src="img/product/ideo-bg.jpg" alt="">
                        </div>
                        <button id="play" class="play-btn videoPoster js-videoPoster"></button>
                    </div>
                        -->
                </li>
                <li class="tabs-content__item tabs-content__item-review">
                    <h2>Отзывы <span>Набор насадок торцевых c трещоткой (150 шт.)</span></h2>
                    <div class="review-title">Если Вы хотите оставить комментарий, пожалуйста, <a href="#">авторизируйтесь</a></div>

                    <div class="review-form-wrapper">
                        <div class="star-row">
                            <div class="title-form">Ваша оценка</div>
                            <div class="star">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                            </div>
                        </div>
                        <div class="title-form">Ваш отзыв</div>
                        <textarea name="review-text" cols="30" rows="10"></textarea>
                        <button type="submit" class="btn btn__green"><span>Оставить отзыв</span></button>
                    </div>

                    <div class="none-review">Еще никто не написал отзыв про этот товар. Будьте первым!</div> 

                    <div class="review-block">
                        <div class="review-block__item">
                            <div class="top-info">
                                <div class="l-section">
                                    <div class="photo">
                                        <img src="img/product/user.png" alt="">                                        
                                    </div>
                                    <div class="name-wrap">
                                        <div class="rating-wrap">
                                            <ul>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>                   
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                            </ul>
                                        </div>
                                        <div class="name">Иван Сидоренко</div>
                                    </div>
                                </div>
                                <div class="r-section">
                                    <div class="date">21.05.2020</div>
                                </div>
                            </div>
                            <div class="text-review">
                                Забрал на днях в холостую проверил работает неплохо. Кнопка реверса работает туговато.
                            </div>
                            <div class="nav-review">
                                <a href="#" class="nav-reply">
                                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                    </svg>
                                    <span>Ответить</span>
                                </a>
                                <div class="number-responses red">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#FF0000"/>
                                    </svg>
                                    <span>3 ответа</span>    
                                </div>
                                <div class="responses-wrap">
                                    <div class="review-block__item manager">
                                        <div class="top-info">
                                            <div class="l-section">
                                                <div class="photo">
                                                    <img src="img/product/a-logo.png" alt="">                                        
                                                </div>
                                                <div class="name-wrap">                                                    
                                                    <div class="name">Менеджер компании</div>
                                                    <div class="text-review">
                                                        Не переживайте, после обкатки инструмента кнопка реверса будет работать более плавно.
                                                    </div>
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="r-section">
                                                <div class="date">21.05.2020</div>
                                            </div>
                                        </div>
                                        <div class="nav-review">
                                            <a href="#" class="nav-reply">
                                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                                </svg>
                                                <span>Ответить</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="review-block__item">
                                        <div class="top-info">
                                            <div class="l-section">
                                                <div class="photo">
                                                    <img src="img/product/user.png" alt="">                                        
                                                </div>
                                                <div class="name-wrap">                                                    
                                                    <div class="name">Иван Сидоренко </div>
                                                    <div class="text-review">
                                                        Забрал на днях в холостую проверил работает неплохо. Кнопка реверса работает туговато.
                                                    </div>
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="r-section">
                                                <div class="date">21.05.2020</div>
                                            </div>
                                        </div>
                                        <div class="nav-review">
                                            <a href="#" class="nav-reply">
                                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                                </svg>
                                                <span>Ответить</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="review-block__item manager">
                                        <div class="top-info">
                                            <div class="l-section">
                                                <div class="photo">
                                                    <img src="img/product/a-logo.png" alt="">                                        
                                                </div>
                                                <div class="name-wrap">                                                    
                                                    <div class="name">Менеджер компании</div>
                                                    <div class="text-review">
                                                        Не переживайте, после обкатки инструмента кнопка реверса будет работать более плавно.
                                                    </div>
                                                </div>
                                              
                                               
                                            </div>
                                            <div class="r-section">
                                                <div class="date">21.05.2020</div>
                                            </div>
                                        </div>
                                        <div class="nav-review">
                                            <a href="#" class="nav-reply">
                                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                                </svg>
                                                <span>Ответить</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review-block__item">
                            <div class="top-info">
                                <div class="l-section">
                                    <div class="photo">
                                        <img src="img/product/user.png" alt="">                                        
                                    </div>
                                    <div class="name-wrap">
                                        <div class="rating-wrap">
                                            <ul>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>                   
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                            </ul>
                                        </div>
                                        <div class="name">Людмила Борщевська</div>
                                    </div>
                                </div>
                                <div class="r-section">
                                    <div class="date">21.05.2020</div>
                                </div>
                            </div>
                            <div class="text-review">
                                Хотелось бы большие наборы с ключами по типу Dnipro-M ULTRA CR-V с трещеткой! Пускай дороже но все же .
                            </div>
                            <div class="nav-review">
                                <a href="#" class="nav-reply">
                                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                    </svg>
                                    <span>Ответить</span>
                                </a>
                                <div class="number-responses">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#FF0000"/>
                                    </svg>
                                    <span>1 ответа</span>    
                                </div>
                                <div class="responses-wrap">     </div>
                            </div>
                        </div>

                        <div class="review-block__item">
                            <div class="top-info">
                                <div class="l-section">
                                    <div class="photo">
                                        <img src="img/product/user.png" alt="">                                        
                                    </div>
                                    <div class="name-wrap">
                                        <div class="rating-wrap">
                                            <ul>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>                   
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                            </ul>
                                        </div>
                                        <div class="name">Павло Волянюк</div>
                                    </div>
                                </div>
                                <div class="r-section">
                                    <div class="date">21.05.2020</div>
                                </div>
                            </div>
                            <div class="text-review">
                                Придбав за рекомендацією колег по роботі. Чудове обслуговування персоналу. Якісне виготовлення інструментів та кейсу. Як на практиці, покаже час. Але в майбутньому однозначно звернусь.
                            </div>
                            <div class="nav-review">
                                <a href="#" class="nav-reply">
                                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                    </svg>
                                    <span>Ответить</span>
                                </a>
                                <div class="number-responses">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#FF0000"/>
                                    </svg>
                                    <span>1 ответа</span>    
                                </div>
                                <div class="responses-wrap"> </div>

                                <div class="reply-to-review">
                                    <div class="review-form-wrapper">
                                        <div class="star-row">
                                          <div class="title-form">Ваше повідомлення</div>
                                          <div class="title-form num-symbol">0/800</div>
                                        </div>
                                        <textarea name="review-text" cols="30" rows="10"></textarea>
                                        <div class="nav-row">
                                            <button type="submit" class="btn btn__green"><span>Залишити відгук</span></button>
                                            <button type="reset" class="reset-btn">Отменить</button>
                                        </div>
                                        
                                      </div>
                                </div>

                            </div>
                        </div>

                        <div class="review-block__item">
                            <div class="top-info">
                                <div class="l-section">
                                    <div class="photo">
                                        <img src="img/product/user.png" alt="">                                        
                                    </div>
                                    <div class="name-wrap">
                                        <div class="rating-wrap">
                                            <ul>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>                   
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                              <li class="color">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                                                </svg>
                                              </li>
                                            </ul>
                                        </div>
                                        <div class="name">Людмила Борщевська</div>
                                    </div>
                                </div>
                                <div class="r-section">
                                    <div class="date">21.05.2020</div>
                                </div>
                            </div>
                            <div class="text-review">
                                Доброго дня. Користуюсь Вашим інструментом постійно, і вже усіх друзів і рідних на ДніпроМ підсадив. А ще, дуже хотілося б побачити в асортименті набори головок, які не так часто вживані, але в сучасних авто дійсно необхідні.
                                Наприклад такі як Е, звичайні 12 гранні та дюймові (з'явилась така необхідність зі збільшенням кількості американських авто). Було б круто побачити або просто набор різних "нестандартних" головок, або хоча б їх на планках. Дякуву.
                            </div>
                            <div class="nav-review ">
                                <a href="#" class="nav-reply">
                                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.19514 5.75296L6.19166 0.18252C6.61138 -0.207382 7.32906 0.0687612 7.32906 0.620177V3.09876C11.1453 3.24612 14.5114 5.65995 15.5781 9.0952C15.9344 10.2419 16.0233 11.1856 15.9952 12.2013C15.9916 12.3205 15.9907 12.355 15.9907 12.38C15.9907 13.0089 15.0982 13.237 14.7519 12.6966C14.0096 11.538 13.1665 10.6427 12.243 9.98099C10.5732 8.78471 8.83487 8.43827 7.32909 8.57817V11.7611C7.32909 12.3125 6.61141 12.5886 6.19169 12.1987L0.195171 6.62828C-0.065052 6.38657 -0.065052 5.99467 0.19514 5.75296ZM5.99652 10.2668V8.04743C5.99652 7.76389 6.20393 7.51662 6.49988 7.44728C6.58096 7.42827 6.71563 7.40338 6.89834 7.37965C8.78568 7.13435 10.9783 7.5116 13.0568 9.00076C13.5681 9.36708 14.055 9.79278 14.5149 10.2804L14.5047 10.2308C14.4516 9.97669 14.3836 9.71427 14.2979 9.43833C13.3468 6.37581 10.2366 4.2622 6.79246 4.33117C6.73425 4.33212 6.71276 4.33256 6.68581 4.33343C6.30906 4.3455 5.99655 4.06506 5.99655 3.71485V2.11442L1.60857 6.19062L5.99652 10.2668Z" fill="#4C5458"/>
                                    </svg>
                                    <span>Ответить</span>
                                </a>
                                <div class="number-responses hide">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#FF0000"/>
                                    </svg>
                                    <span></span>    
                                </div>
                                <div class="responses-wrap"> </div>
                            </div>
                        </div>

                        <a href="#" class="more-btn">Показать еще 5 отзывов</a>
                    </div>

                </li>
                <li class="tabs-content__item tabs-content__item-document">
                    <h2>Документы <span> Набор насадок торцевых c трещоткой (150 шт.)</span></h2>
                    <div class="document-list">
                        <div class="document-list__item">
                            <div class="info">
                                <div class="img">
                                    <img src="img/product/document1.jpg" alt="">
                                </div>
                                <div class="name">Буклет APRO.pdf</div>
                                <div class="size">pdf, 790 КБ</div>
                                <a href="#" class="download">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.50001 10.2143L10.6786 6.03573L9.28574 4.64288L7.42861 6.50001V0H5.57148V6.50001L3.71435 4.64288L2.3215 6.03573L6.50001 10.2143Z" fill="#FF0000"/>
                                        <path d="M0 11.1429H13V13H0V11.1429Z" fill="#FF0000"/>
                                    </svg>
                                    <span>Скачать</span>    
                                </a>
                            </div>
                        </div>
                        <div class="document-list__item">
                            <div class="info">
                                <div class="img">
                                    <img src="img/product/document2.jpg" alt="">
                                </div>
                                <div class="name">Буклет APRO.pdf</div>
                                <div class="size">pdf, 790 КБ</div>
                                <a href="#" class="download">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.50001 10.2143L10.6786 6.03573L9.28574 4.64288L7.42861 6.50001V0H5.57148V6.50001L3.71435 4.64288L2.3215 6.03573L6.50001 10.2143Z" fill="#FF0000"/>
                                        <path d="M0 11.1429H13V13H0V11.1429Z" fill="#FF0000"/>
                                    </svg>
                                    <span>Скачать</span>    
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>            

        </div>




     
    </div>
</div>