<div class="top-product-detail">
  <div class="uk-container uk-flex uk-flex-between top-product-container">
      <div class="l-section slider-top">
          <div class="slider-nav-wrap">    
              
              <button class="slick-prev prev"></button>
      
              <div class="slick-nav js-slick-nav">
              
                <a  href="javascript:void(0)">                        
                  <img alt="" src="img/product/slider/preview/1.jpg">
                </a>

                <a  href="javascript:void(0)">                        
                  <img alt="" src="img/product/slider/preview/2.jpg">
                </a>
      
                <a  href="javascript:void(0)">                        
                   <img alt="" src="img/product/slider/preview/3.jpg">
                </a>
      
                <a href="javascript:void(0)">                        
                 <img alt="" src="img/product/slider/preview/4.jpg">
                </a>  
    
                <a href="javascript:void(0)">                        
                  <img alt="" src="img/product/slider/preview/5.jpg">
                </a>

                <a  href="javascript:void(0)">                        
                  <img alt="" src="img/product/slider/preview/6.jpg">
                </a>

                <a  href="javascript:void(0)">                        
                  <img alt="" src="img/product/slider/preview/1.jpg">
                </a>
  
              </div>   
              
              <button class="slick-next next"></button>

              <a href="#" class="play-video">
                <span class="icon">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 4L1.27146e-07 8L4.76837e-07 -3.49691e-07L8 4Z" fill="#FF0000"/>
                    </svg>                      
                  </span>
                  <span class="name">Видео</span>
              </a>

              
          </div>


          <div class="slid-big_wrap">
              <div class="label-wrap">
                <div class="label label-red">акция</div>
                <div class="label label-red">-15%</div>
              </div>
              <div class="share-slid">
                <div class="icon"><img src="img/product/icon/share-red.svg" alt=""></div>
                <div class="descript">
                  <div class="top-info">
                    Предложение действует до:
                    <span class="red">02/03/2020</span>
                  </div>
                  <div class="botton-info">или до окончания запасов товара.</div>
                </div>
              </div>
              <ul class="js-slid-big"  >                   
                <li >  
                    <a href="img/product/slider/big/1.jpg">              
                      <img alt="" src="img/product/slider/big/1.jpg">
                  </a>  
                </li>

               <li > 
                    <a href="img/product/slider/big/2.jpg" >                  
                      <img alt="" src="img/product/slider/big/2.jpg">
                  </a>
                </li>

                <li> 
                    <a href="img/product/slider/big/3.jpg" >                 
                      <img alt="" src="img/product/slider/big/3.jpg">
                  </a>
                </li>
            
                <li > 
                    <a href="img/product/slider/big/4.jpg">                  
                      <img alt="" src="img/product/slider/big/4.jpg">
                  </a>
                </li>
            
                <li > 
                    <a href="img/product/slider/big/5.jpg">                  
                      <img alt="" src="img/product/slider/big/5.jpg">
                  </a>
                </li>

                <li > 
                    <a href="img/product/slider/big/6.jpg" >                  
                      <img alt="" src="img/product/slider/big/6.jpg">
                  </a>
                </li>
                <li >  
                  <a href="img/product/slider/big/1.jpg">              
                    <img alt="" src="img/product/slider/big/1.jpg">
                </a>  
              </li>

             
               
            
              </ul>
          </div>


      </div>
      <div class="r-section">
        <div class="review-article-wrap">
          <div class="rating-wrap">
            <ul>
              <li class="color">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                </svg>                   
              </li>
              <li class="color">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                </svg>
              </li>
              <li class="color">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                </svg>
              </li>
              <li class="color">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                </svg>
              </li>
              <li class="">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.294 0.818237L10.8567 6.01143L16.588 6.84416L12.441 10.8865L13.4197 16.5944L8.294 13.8995L3.16799 16.5944L4.14702 10.8865L0 6.84416L5.731 6.01143L8.294 0.818237Z" fill="#F47C0C"/>
                </svg>
              </li>
            </ul>
            <a href="#" class="top-review js-top-review">
              <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.7" d="M5.6875 1.625C7.92837 1.625 9.75 3.44662 9.75 5.6875C9.75 7.92837 7.92837 9.75 5.6875 9.75C5.40028 9.75 5.08909 9.70734 4.73688 9.62162L4.04503 9.45019L3.4515 9.84344L3.26584 9.96572L3.26747 9.68784L3.27072 9.01672L2.79947 8.53897C2.04222 7.77116 1.625 6.75878 1.625 5.6875C1.625 3.44662 3.44662 1.625 5.6875 1.625ZM5.6875 0C2.54719 0 0 2.54719 0 5.6875C0 7.24425 0.628469 8.65191 1.64247 9.68012L1.625 13L4.34809 11.1987C4.77994 11.3051 5.22397 11.375 5.6875 11.375C8.82781 11.375 11.375 8.82781 11.375 5.6875C11.375 2.54719 8.82781 0 5.6875 0Z" fill="#485860"/>
              </svg>
              <span>13 Відгука</span>
            </a>
          </div>
          <div class="product__code">
            Код: C5-0615
          </div>
        </div>
        <h1 class="product__name">
          Набор насадок торцевых c трещоткой (150 шт.)
        </h1>

        <div class="product-size">
          <ul class="product-size-list">
            <li class="product-size-item active"><a href="#">46 ед.</a></li>
            <li class="product-size-item"><a href="#">94 ед.</a></li>
            <li class="product-size-item"><a href="#">110 ед.</a></li>
            <li class="product-size-item"><a href="#">150 ед.</a></li>
            <li class="product-size-item"><a href="#">94 ед.</a></li>
            <li class="product-size-item"><a href="#">110 ед.</a></li>
            <li class="product-size-item"><a href="#">150 ед.</a></li>
            <li class="product-size-item"><a href="#">94 ед.</a></li>
            <li class="product-size-item"><a href="#">110 ед.</a></li>
            <li class="product-size-item"><a href="#">150 ед.</a></li>
            <li class="product-size-item"><a href="#">94 ед.</a></li>
            <li class="product-size-item"><a href="#">110 ед.</a></li>
            <li class="product-size-item"><a href="#">150 ед.</a></li>
            <li class="product-size-item"><a href="#">94 ед.</a></li>
            <li class="product-size-item"><a href="#">110 ед.</a></li>
            <li class="product-size-item"><a href="#">150 ед.</a></li> 

          <!--  <li class="product-size-item view-all"><a href="#">Еще </a></li> -->
          </ul>
          <div class="product-size-item view-all">
              <a href="#"><span class="open">Еще</span> <span class="close">Скрыть</span> </a>
            </div>
        </div>



        <div class="product__statuses product__statuses-green">
          <div class="icon">
            <img src="img/product/icon/ok-green.svg" alt="">
          </div>
          <div class="status">Есть в наличии</div>
        </div>
        <div class="product__statuses product__statuses-grey">
          <div class="icon">
          </div>
          <div class="status">Нет в наличии</div>
        </div>

        <div class="price-wrap">
          <div class="price">1 429  грн</div>
        </div>

        <div class="price-wrap share-price">
          <div class="price">1 429  грн</div>
          <div class="old-price">1 462  грн</div>
        </div>

        <div class="buy-wrap">
          <a href="#" class="buy-link buy-link-green">
            <span class="icon"><img src="img/product/icon/busket.svg" alt=""></span>
            <span class="text">Купити</span>
          </a>

          <div class="share-wrap">
            <button class="other-view">
              <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4886 14.1667C14.4886 12.8953 13.4966 11.8645 12.2728 11.8645C11.0489 11.8645 10.0569 12.8953 10.0569 14.1667C10.0569 15.438 11.0489 16.4688 12.2728 16.4688C13.4966 16.4688 14.4886 15.438 14.4886 14.1667Z" fill="#4C5458"/>
                <path d="M12.2728 11.3333C10.7686 11.3333 9.54552 12.6041 9.54552 14.1667C9.54552 15.7292 10.7686 17 12.2728 17C13.7769 17 15 15.7292 15 14.1667C15 12.6041 13.7769 11.3333 12.2728 11.3333ZM12.2728 15.9375C11.3326 15.9375 10.5683 15.1427 10.5683 14.1667C10.5683 13.1906 11.3326 12.3958 12.2728 12.3958C13.213 12.3958 13.9773 13.1906 13.9773 14.1667C13.9773 15.1427 13.213 15.9375 12.2728 15.9375Z" fill="#4C5458"/>
                <path d="M14.4886 2.83329C14.4886 1.56197 13.4966 0.53125 12.2728 0.53125C11.0489 0.53125 10.0569 1.56197 10.0569 2.83329C10.0569 4.10474 11.0489 5.13546 12.2728 5.13546C13.4966 5.13546 14.4886 4.10474 14.4886 2.83329Z" fill="#4C5458"/>
                <path d="M12.2728 0C10.7686 0 9.54552 1.2708 9.54552 2.83329C9.54552 4.39591 10.7686 5.66671 12.2728 5.66671C13.7769 5.66671 15 4.39591 15 2.83329C15 1.2708 13.7769 0 12.2728 0ZM12.2728 4.60421C11.3326 4.60421 10.5683 3.80941 10.5683 2.83329C10.5683 1.8573 11.3326 1.0625 12.2728 1.0625C13.213 1.0625 13.9773 1.8573 13.9773 2.83329C13.9773 3.80941 13.213 4.60421 12.2728 4.60421Z" fill="#4C5458"/>
                <path d="M4.94324 8.5C4.94324 7.22855 3.95109 6.19796 2.72724 6.19796C1.50351 6.19796 0.511365 7.22855 0.511365 8.5C0.511365 9.77145 1.50351 10.802 2.72724 10.802C3.95109 10.802 4.94324 9.77145 4.94324 8.5Z" fill="#4C5458"/>
                <path d="M2.72724 5.66671C1.22323 5.66671 0 6.93738 0 8.5C0 10.0626 1.22323 11.3333 2.72724 11.3333C4.23137 11.3333 5.4546 10.0626 5.4546 8.5C5.4546 6.93738 4.23137 5.66671 2.72724 5.66671ZM2.72724 10.2708C1.78703 10.2708 1.02273 9.47612 1.02273 8.5C1.02273 7.52388 1.78703 6.72921 2.72724 6.72921C3.66757 6.72921 4.43187 7.52388 4.43187 8.5C4.43187 9.47612 3.66757 10.2708 2.72724 10.2708Z" fill="#4C5458"/>
                <path d="M4.33711 8.83994C4.09978 8.83994 3.86932 8.96822 3.74385 9.19765C3.55771 9.53695 3.67232 9.96976 3.99891 10.1639L10.3254 13.9109C10.652 14.1058 11.0686 13.9867 11.2555 13.6461C11.4417 13.3068 11.3271 12.874 11.0005 12.6798L4.67382 8.93281C4.56745 8.86977 4.4516 8.83994 4.33711 8.83994Z" fill="#4C5458"/>
                <path d="M10.663 2.99619C10.5484 2.99619 10.4325 3.02602 10.3262 3.08906L3.99953 6.83608C3.67294 7.02946 3.55846 7.46227 3.7446 7.80235C3.93 8.14229 4.34723 8.262 4.67457 8.06719L11.0012 4.32017C11.3278 4.12679 11.4423 3.69398 11.2561 3.3539C11.1301 3.12447 10.8996 2.99619 10.663 2.99619Z" fill="#4C5458"/>
              </svg>
            </button>
            <ul class="share-link">
              <li class="share-link__item"><a href="# "><img src="img/product/icon/facebook.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/tw.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/viber.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/telegr.svg" alt=""></a></li>              
            </ul>

            <a class="share-view-mob" href="#soc-share-mob" uk-toggle >
              <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4886 14.1667C14.4886 12.8953 13.4966 11.8645 12.2728 11.8645C11.0489 11.8645 10.0569 12.8953 10.0569 14.1667C10.0569 15.438 11.0489 16.4688 12.2728 16.4688C13.4966 16.4688 14.4886 15.438 14.4886 14.1667Z" fill="#4C5458"/>
                <path d="M12.2728 11.3333C10.7686 11.3333 9.54552 12.6041 9.54552 14.1667C9.54552 15.7292 10.7686 17 12.2728 17C13.7769 17 15 15.7292 15 14.1667C15 12.6041 13.7769 11.3333 12.2728 11.3333ZM12.2728 15.9375C11.3326 15.9375 10.5683 15.1427 10.5683 14.1667C10.5683 13.1906 11.3326 12.3958 12.2728 12.3958C13.213 12.3958 13.9773 13.1906 13.9773 14.1667C13.9773 15.1427 13.213 15.9375 12.2728 15.9375Z" fill="#4C5458"/>
                <path d="M14.4886 2.83329C14.4886 1.56197 13.4966 0.53125 12.2728 0.53125C11.0489 0.53125 10.0569 1.56197 10.0569 2.83329C10.0569 4.10474 11.0489 5.13546 12.2728 5.13546C13.4966 5.13546 14.4886 4.10474 14.4886 2.83329Z" fill="#4C5458"/>
                <path d="M12.2728 0C10.7686 0 9.54552 1.2708 9.54552 2.83329C9.54552 4.39591 10.7686 5.66671 12.2728 5.66671C13.7769 5.66671 15 4.39591 15 2.83329C15 1.2708 13.7769 0 12.2728 0ZM12.2728 4.60421C11.3326 4.60421 10.5683 3.80941 10.5683 2.83329C10.5683 1.8573 11.3326 1.0625 12.2728 1.0625C13.213 1.0625 13.9773 1.8573 13.9773 2.83329C13.9773 3.80941 13.213 4.60421 12.2728 4.60421Z" fill="#4C5458"/>
                <path d="M4.94324 8.5C4.94324 7.22855 3.95109 6.19796 2.72724 6.19796C1.50351 6.19796 0.511365 7.22855 0.511365 8.5C0.511365 9.77145 1.50351 10.802 2.72724 10.802C3.95109 10.802 4.94324 9.77145 4.94324 8.5Z" fill="#4C5458"/>
                <path d="M2.72724 5.66671C1.22323 5.66671 0 6.93738 0 8.5C0 10.0626 1.22323 11.3333 2.72724 11.3333C4.23137 11.3333 5.4546 10.0626 5.4546 8.5C5.4546 6.93738 4.23137 5.66671 2.72724 5.66671ZM2.72724 10.2708C1.78703 10.2708 1.02273 9.47612 1.02273 8.5C1.02273 7.52388 1.78703 6.72921 2.72724 6.72921C3.66757 6.72921 4.43187 7.52388 4.43187 8.5C4.43187 9.47612 3.66757 10.2708 2.72724 10.2708Z" fill="#4C5458"/>
                <path d="M4.33711 8.83994C4.09978 8.83994 3.86932 8.96822 3.74385 9.19765C3.55771 9.53695 3.67232 9.96976 3.99891 10.1639L10.3254 13.9109C10.652 14.1058 11.0686 13.9867 11.2555 13.6461C11.4417 13.3068 11.3271 12.874 11.0005 12.6798L4.67382 8.93281C4.56745 8.86977 4.4516 8.83994 4.33711 8.83994Z" fill="#4C5458"/>
                <path d="M10.663 2.99619C10.5484 2.99619 10.4325 3.02602 10.3262 3.08906L3.99953 6.83608C3.67294 7.02946 3.55846 7.46227 3.7446 7.80235C3.93 8.14229 4.34723 8.262 4.67457 8.06719L11.0012 4.32017C11.3278 4.12679 11.4423 3.69398 11.2561 3.3539C11.1301 3.12447 10.8996 2.99619 10.663 2.99619Z" fill="#4C5458"/>
              </svg>
            </a>
          </div>
        
        </div>

          <div class="buy-one-click">
            <form action="#">
              <input type="tel" name="phone" id="" class="mask-phone" placeholder="+38(___) ___-__-__">
              <a href="#modal-call-ok" uk-toggle >Купить в 1 клик</a>
            </form>
          </div>

        <div class="buy-wrap">
          <a href="#modal-mail" uk-toggle class="buy-link buy-link-orange">
            <span class="icon"><img src="img/product/icon/mail.svg" alt=""></span>
            <span class="text">Сообщить о поступлении</span>
          </a>

          <div class="share-wrap">
            <button class="other-view">
              <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4886 14.1667C14.4886 12.8953 13.4966 11.8645 12.2728 11.8645C11.0489 11.8645 10.0569 12.8953 10.0569 14.1667C10.0569 15.438 11.0489 16.4688 12.2728 16.4688C13.4966 16.4688 14.4886 15.438 14.4886 14.1667Z" fill="#4C5458"/>
                <path d="M12.2728 11.3333C10.7686 11.3333 9.54552 12.6041 9.54552 14.1667C9.54552 15.7292 10.7686 17 12.2728 17C13.7769 17 15 15.7292 15 14.1667C15 12.6041 13.7769 11.3333 12.2728 11.3333ZM12.2728 15.9375C11.3326 15.9375 10.5683 15.1427 10.5683 14.1667C10.5683 13.1906 11.3326 12.3958 12.2728 12.3958C13.213 12.3958 13.9773 13.1906 13.9773 14.1667C13.9773 15.1427 13.213 15.9375 12.2728 15.9375Z" fill="#4C5458"/>
                <path d="M14.4886 2.83329C14.4886 1.56197 13.4966 0.53125 12.2728 0.53125C11.0489 0.53125 10.0569 1.56197 10.0569 2.83329C10.0569 4.10474 11.0489 5.13546 12.2728 5.13546C13.4966 5.13546 14.4886 4.10474 14.4886 2.83329Z" fill="#4C5458"/>
                <path d="M12.2728 0C10.7686 0 9.54552 1.2708 9.54552 2.83329C9.54552 4.39591 10.7686 5.66671 12.2728 5.66671C13.7769 5.66671 15 4.39591 15 2.83329C15 1.2708 13.7769 0 12.2728 0ZM12.2728 4.60421C11.3326 4.60421 10.5683 3.80941 10.5683 2.83329C10.5683 1.8573 11.3326 1.0625 12.2728 1.0625C13.213 1.0625 13.9773 1.8573 13.9773 2.83329C13.9773 3.80941 13.213 4.60421 12.2728 4.60421Z" fill="#4C5458"/>
                <path d="M4.94324 8.5C4.94324 7.22855 3.95109 6.19796 2.72724 6.19796C1.50351 6.19796 0.511365 7.22855 0.511365 8.5C0.511365 9.77145 1.50351 10.802 2.72724 10.802C3.95109 10.802 4.94324 9.77145 4.94324 8.5Z" fill="#4C5458"/>
                <path d="M2.72724 5.66671C1.22323 5.66671 0 6.93738 0 8.5C0 10.0626 1.22323 11.3333 2.72724 11.3333C4.23137 11.3333 5.4546 10.0626 5.4546 8.5C5.4546 6.93738 4.23137 5.66671 2.72724 5.66671ZM2.72724 10.2708C1.78703 10.2708 1.02273 9.47612 1.02273 8.5C1.02273 7.52388 1.78703 6.72921 2.72724 6.72921C3.66757 6.72921 4.43187 7.52388 4.43187 8.5C4.43187 9.47612 3.66757 10.2708 2.72724 10.2708Z" fill="#4C5458"/>
                <path d="M4.33711 8.83994C4.09978 8.83994 3.86932 8.96822 3.74385 9.19765C3.55771 9.53695 3.67232 9.96976 3.99891 10.1639L10.3254 13.9109C10.652 14.1058 11.0686 13.9867 11.2555 13.6461C11.4417 13.3068 11.3271 12.874 11.0005 12.6798L4.67382 8.93281C4.56745 8.86977 4.4516 8.83994 4.33711 8.83994Z" fill="#4C5458"/>
                <path d="M10.663 2.99619C10.5484 2.99619 10.4325 3.02602 10.3262 3.08906L3.99953 6.83608C3.67294 7.02946 3.55846 7.46227 3.7446 7.80235C3.93 8.14229 4.34723 8.262 4.67457 8.06719L11.0012 4.32017C11.3278 4.12679 11.4423 3.69398 11.2561 3.3539C11.1301 3.12447 10.8996 2.99619 10.663 2.99619Z" fill="#4C5458"/>
              </svg>
            </button>
            <ul class="share-link">
              <li class="share-link__item"><a href="# "><img src="img/product/icon/facebook.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/tw.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/viber.svg" alt=""></a></li>
              <li class="share-link__item"><a href="# "><img src="img/product/icon/telegr.svg" alt=""></a></li>              
            </ul>

            <a class="share-view-mob" href="#soc-share-mob" uk-toggle>
              <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4886 14.1667C14.4886 12.8953 13.4966 11.8645 12.2728 11.8645C11.0489 11.8645 10.0569 12.8953 10.0569 14.1667C10.0569 15.438 11.0489 16.4688 12.2728 16.4688C13.4966 16.4688 14.4886 15.438 14.4886 14.1667Z" fill="#4C5458"/>
                <path d="M12.2728 11.3333C10.7686 11.3333 9.54552 12.6041 9.54552 14.1667C9.54552 15.7292 10.7686 17 12.2728 17C13.7769 17 15 15.7292 15 14.1667C15 12.6041 13.7769 11.3333 12.2728 11.3333ZM12.2728 15.9375C11.3326 15.9375 10.5683 15.1427 10.5683 14.1667C10.5683 13.1906 11.3326 12.3958 12.2728 12.3958C13.213 12.3958 13.9773 13.1906 13.9773 14.1667C13.9773 15.1427 13.213 15.9375 12.2728 15.9375Z" fill="#4C5458"/>
                <path d="M14.4886 2.83329C14.4886 1.56197 13.4966 0.53125 12.2728 0.53125C11.0489 0.53125 10.0569 1.56197 10.0569 2.83329C10.0569 4.10474 11.0489 5.13546 12.2728 5.13546C13.4966 5.13546 14.4886 4.10474 14.4886 2.83329Z" fill="#4C5458"/>
                <path d="M12.2728 0C10.7686 0 9.54552 1.2708 9.54552 2.83329C9.54552 4.39591 10.7686 5.66671 12.2728 5.66671C13.7769 5.66671 15 4.39591 15 2.83329C15 1.2708 13.7769 0 12.2728 0ZM12.2728 4.60421C11.3326 4.60421 10.5683 3.80941 10.5683 2.83329C10.5683 1.8573 11.3326 1.0625 12.2728 1.0625C13.213 1.0625 13.9773 1.8573 13.9773 2.83329C13.9773 3.80941 13.213 4.60421 12.2728 4.60421Z" fill="#4C5458"/>
                <path d="M4.94324 8.5C4.94324 7.22855 3.95109 6.19796 2.72724 6.19796C1.50351 6.19796 0.511365 7.22855 0.511365 8.5C0.511365 9.77145 1.50351 10.802 2.72724 10.802C3.95109 10.802 4.94324 9.77145 4.94324 8.5Z" fill="#4C5458"/>
                <path d="M2.72724 5.66671C1.22323 5.66671 0 6.93738 0 8.5C0 10.0626 1.22323 11.3333 2.72724 11.3333C4.23137 11.3333 5.4546 10.0626 5.4546 8.5C5.4546 6.93738 4.23137 5.66671 2.72724 5.66671ZM2.72724 10.2708C1.78703 10.2708 1.02273 9.47612 1.02273 8.5C1.02273 7.52388 1.78703 6.72921 2.72724 6.72921C3.66757 6.72921 4.43187 7.52388 4.43187 8.5C4.43187 9.47612 3.66757 10.2708 2.72724 10.2708Z" fill="#4C5458"/>
                <path d="M4.33711 8.83994C4.09978 8.83994 3.86932 8.96822 3.74385 9.19765C3.55771 9.53695 3.67232 9.96976 3.99891 10.1639L10.3254 13.9109C10.652 14.1058 11.0686 13.9867 11.2555 13.6461C11.4417 13.3068 11.3271 12.874 11.0005 12.6798L4.67382 8.93281C4.56745 8.86977 4.4516 8.83994 4.33711 8.83994Z" fill="#4C5458"/>
                <path d="M10.663 2.99619C10.5484 2.99619 10.4325 3.02602 10.3262 3.08906L3.99953 6.83608C3.67294 7.02946 3.55846 7.46227 3.7446 7.80235C3.93 8.14229 4.34723 8.262 4.67457 8.06719L11.0012 4.32017C11.3278 4.12679 11.4423 3.69398 11.2561 3.3539C11.1301 3.12447 10.8996 2.99619 10.663 2.99619Z" fill="#4C5458"/>
              </svg>
            </a>
          </div>
          
        </div>

        <div class="product-about__info">
          <div class="product-about__item">
            <div class="title">
              <div class="icon"><img src="img/product/icon/delivery.svg" alt=""></div>
              <div class="name">Доставка</div>
            </div>
            <ul>
              <li>Наличный расчет</li>
              <li>Доставка на отделение «Новая Почта»</li>
              <li>Доставка курьером «Новая Почта»</li>
            </ul>
          </div>
          <div class="product-about__item">
            <div class="title">
              <div class="icon"><img src="img/product/icon/pay.svg" alt=""></div>
              <div class="name">Оплата</div>
            </div>
            <ul>
              <li>Наличными</li>
              <li>Наложенный платеж
                в отделении</li>
              <li>Безналичный расчет</li>
            </ul>
          </div>
          <div class="product-about__item">
            <div class="title">
              <div class="icon"><img src="img/product/icon/garant.svg" alt=""></div>
              <div class="name">Гарантия</div>
            </div>
            <ul>
              <li>2 года гарантии</li>
              <li>14 дней на возврат</li>
              <li>Официальная гарантия от производителя</li>
            </ul>
          </div>
        </div>

      </div>
  </div>
</div>