<!-- begin card-slider__wrapper -->
<div class="section-block card-slider__wrapper">
  
    <div class="uk-container top-border-block">
  
      <div class="section-block__header">
  
        <div class="section-block__title">С этим товаром покупают</div>  
  
        <div class="card-slider__nav">
          <span class="js-card-slider__nav-prev">{{mixins.icon('chevron-l')}}</span>
          <span class="js-card-slider__nav-next"> {{mixins.icon('chevron-r')}}</span>
        </div>
  
      </div>
  
  
    </div>
      <!-- begin card-slider -->
      <div class="card-slider swiper-container js-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 5) %}
          {% for item in cardSliderTwo %}
            <!-- begin swiper-slide -->
            <div class="swiper-slide">
  
              {% include "components/_card-item.html" %}
              
            </div>
            <!-- end swiper-slide -->
          {% endfor %}
          {% endfor %}
        </div>
        
      </div>
      <!-- end card-slider -->
  
      <div class="uk-container">
      <!-- begin card-slider__scrollbar -->
      <div class="card-slider__scrollbar js-slider-scrollbar swiper-scrollbar">
        
        
      </div>
      <!-- end card-slider__scrollbar -->
      </div>
  
  
    
    
  </div>
  <!-- end card-slider__wrapper -->