<!-- begin category__type-1 -->
<div class="category__type-1 ">

  <div class="uk-container ">

    <div class="uk-grid-ex-small uk-child-width-1-4@m uk-child-width-1-1@s" uk-grid>

    {% for item in category1 %}

    <div class="">
      
      <!-- begin .category__type-1__item -->
      <a class="category__type-1__item category__type-1__item-{{item.type}}">

        <span class="category__type-1__item-img">
          <img src="./img/cat1/{{item.img}}.png" alt="">
        </span>
        <span class="category__type-1__item-text">{{item.text}}</span>

        <div class="category__footer-text category__footer-text-type-{{item.type}}">
          <span>Все товары</span>
        </div>

        <span class="is-mobile">{{mixins.icon('chevron-r')}}</span>

      </a>
      <!-- end .category__type-1__item -->

    </div>


    {% endfor %}

  </div>

  </div>
  
</div>
<!-- end category__type-1 -->