<!-- begin news__wrapper -->
<div class="section-block news__wrapper js-tabs-block">
  
  <div class="uk-container top-border-block ">

    <div class="section-block__header">

      <div class="section-block__title">Блог</div>

      <a href="" class="section-block__more">
     {{mixins.icon('chevron-r')}} <span>Дивитися всі</span>
      </a>

      <!-- begin default-tabs__nav -->
      <div class="default-tabs__nav">

        {% for item in tabsNav %}

        <!-- begin default-tabs__nav-item -->
        <div class="default-tabs__nav-item {% if item.active %} uk-active {% endif %}">
          {{item.text}}
        </div>
        <!-- end default-tabs__nav-item -->

        {% endfor %}
        
      </div>
      <!-- end default-tabs__nav -->

    </div>

    <!-- begin section-block__body -->
    <div class="section-block__body">

      <!-- begin default-tabs__body -->
      <div class="default-tabs__body">



          
          {% for item in tabsItem %}
          <!-- begin default-tabs__item -->
          <div class="default-tabs__item uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid>
            
            {% for item in item.itemBlog %}
            <div class="news-item">
              <div class="news-item__img">
                <a href="">
                  <img src="./img/blog/{{item.img}}.png" alt="">
                </a>
              </div>
              <div class="news-item__title">
                <a href="">
                  {{item.title}}
                </a>
              </div>
            </div>
            {% endfor %}

          </div>
          <!-- end default-tabs__item -->
          {% endfor %}

        
      </div>
      <!-- end default-tabs__body -->
      
    </div>
    <!-- end section-block__body -->


  </div>
   

  
  
</div>
<!-- end news__wrapper -->