<div class="section-block  news__wrapper news__wrapper-page">
    <div class="uk-container  ">
      <div class="section-block__header">
        <h2  class="title-block">Блог</h2>
      </div>
      <!-- begin section-block__body -->
      <div class="section-block__body">
        <!-- begin default-tabs__body -->
        <div class="default-tabs__body" >
          <!-- begin default-tabs__item -->
          <div class="default-tabs__item uk-child-width-1-3@m uk-child-width-1-1@s uk-grid uk-grid-stack uk-active" uk-grid="">
            <div class="news-item uk-first-column">
                <div class="news-item__img">
                  <a href="">
                    <img src="./img/blog/1.png" alt="">
                  </a>
                </div>
                <div class="news-item__title">
                  <a href=""> Компанія APRO відвідала виставку "АГРОФОРУМ 2016" </a>
                </div>
                <div class="news-item__descript"> Ми вдячні за інтерес до нашої компанії та за можливість особисто поспілкуватися... </div>
              </div>
              <div class="news-item">
                <div class="news-item__img">
                  <a href="">
                    <img src="./img/blog/3.png" alt="">
                  </a>
                </div>
                <div class="news-item__title">
                  <a href=""> Найкорисніші лайфкакі з кабельними стяжками APRO для будинку і гаража </a>
                </div>
                <div class="news-item__descript"> Ми вдячні за інтерес до нашої компанії та за можливість особисто поспілкуватися... </div>
              </div>
              <div class="news-item uk-grid-margin uk-first-column">
                <div class="news-item__img">
                  <a href="">
                    <img src="./img/blog/4.png" alt="">
                  </a>
                </div>
                <div class="news-item__title">
                  <a href=""> Компанія APRO відвідала виставку "Elcom Ukraine 2017" </a>
                </div>
                <div class="news-item__descript"> Ми вдячні за інтерес до нашої компанії та за можливість особисто поспілкуватися... </div>
              </div>
        
          </div>
          <!-- end default-tabs__item -->
        </div>
        <!-- end default-tabs__body -->
      </div>
      <!-- end section-block__body -->
    </div>
  </div>