<!-- begin banner-slider -->
<div class="banner-slider js-banner-slider swiper-container">
  <div class="swiper-wrapper">

    {% for i in range(0, 5) %}

    <div class="swiper-slide">
      <!-- begin banner-slider__item -->
      <div class="banner-slider__item">
        <a href="">
          <img src="./img/slider-img.png" alt="">
        </a>
        
      </div>
      <!-- end banner-slider__item -->
    </div>

  {% endfor %}

  </div>

  <!-- If we need pagination -->
  <div class="js-banner-pagination swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  
</div>
<!-- end banner-slider -->