.icon-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1.83em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-chevron-b {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-chevron-l {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-chevron-r {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dots {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-menu-disk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-menu-nut {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-menu-screwdriver {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-menu-wrench {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-reviews {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-share-red {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-ytb {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-сфке {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
