<div class="page-not-found">
    <div class="img-not"><img src="./img/static-page/404.svg" alt=""></div>
    <h2>Сторінка не знайдена</h2>
    <p>Чи не турбуйтеся, спробуйте повернутися на головну або скористатися меню.</p>
    <a href="/" class="btn btn__green"><span>На головну</span></a>
</div>