<div class="about-top" style="background-image: url(./img/about/1.jpg);">    
            
    <div class="uk-container">

        <nav aria-label="breadcrumb">                   
                <ol class="breadcrumb uk-flex uk-flex-start">
                    <li class="breadcrumb-item"><a href="#">Головна</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Про бренд</li>
                </ol>                    
        </nav>       

        <div class="about-top-content">
            <div class="l-section">
                <h1>ТМ Apro Fixing Systems</h1>
                <img src="./img/about/1.jpg" alt="" class="mob-only">
                <p>Торгово-производственная компания APRO признательна Вам за проявленный интерес к продукции ТМ Apro Fixing Systems.  Мы всегда прилагаем максимум усилий, чтобы наши клиенты получали только качественный продукт при высоком уровне сервиса. </p>
            </div>
            <div class="r-section">
                <div class="num__item">
                    <div class="title">с 2013 года</div>
                    <div class="text">Работаем на рынке</div>
                </div>
                <div class="num__item">
                    <div class="title">более 3000</div>
                    <div class="text">Единиц товаров</div>
                </div>
                <div class="num__item">
                    <div class="title">более 1000</div>
                    <div class="text">Сотрудников APRO</div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn__red">
            <span>
                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.75742 6.74815L0.307861 1.46799C-0.102621 1.1321 -0.102621 0.587528 0.307861 0.251809C0.717978 -0.0839372 1.38315 -0.0839372 1.79323 0.251809L7.50011 4.92394L13.2068 0.251945C13.6171 -0.0838008 14.2822 -0.0838008 14.6923 0.251946C15.1026 0.587692 15.1026 1.13224 14.6923 1.46812L8.24263 6.74829C8.03747 6.91616 7.76887 7 7.50014 7C7.23128 7 6.96248 6.916 6.75742 6.74815Z" fill="white"/>
                </svg>
            </span>
        </a>

    </div>

</div>

<div class="about-page">
    <div class="uk-container">
        <div class="our-mission">
            <div class="l-section">
                <div class="title">Наша миссия</div>
                <h2>Лучшие для лучших</h2>
                <p>Торгово-производственная компания APRO признательна Вам за проявленный интерес к продукции ТМ Apro Fixing Systems.  Мы всегда прилагаем максимум усилий, чтобы наши клиенты получали только качественный продукт при высоком уровне сервиса. Мы постоянно инвестируем средства в расширение ассортимента, наращивание товарных запасов, контроль качества, повышение уровня знаний наших специалистов и улучшение сервиса обслуживания клиентов.</p>
            </div>
            <div class="r-section">
                <div class="video-wrapper video_wrapper video_wrapper_full js-videoWrapper">
                    <iframe class="videoIframe js-videoIframe"  id="player" width="560" height="315" src="https://www.youtube.com/embed/JUDG9f4bDJk " frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                    <div class="video-cover">
                       <img src="./img/product/ideo-bg.jpg" alt="">
                    </div>
                    <button id="play" class="play-btn videoPoster js-videoPoster"></button>
                </div>
            </div>
        </div>
        <div class="we-special" style="background-image: url(./img/about/wespec.jpg);">
            <h3>Мы специализируемся на торговле и производстве зажимных приспособлений, крепежей, хозяйственных товаров, инструментов.</h3>
        </div>

        <div class="why-we">
            <h2>почему мы?</h2>
            <div class="why-list">
                <div class="why-list__item">
                    <div class="icon"><img src="./img/about/icon/why1.svg" alt=""></div>
                    <div class="title">Покупая товар у нас, Вы<br> можете сэкономить<br> от 15 до 30%.</div>
                    <div class="descript">При оплате на карту розничных заказав на сумму от 300 грн, доставку оплачиваем мы.</div>
                </div>
                <div class="why-list__item">
                    <div class="icon"><img src="./img/about/icon/why2.svg" alt=""></div>
                    <div class="title">Быстрая обработка<br> заказов и налаженная<br> система доставки</div>
                    <div class="descript">Всегда гарантированное наличие товара на складе.</div>
                </div>
                <div class="why-list__item">
                    <div class="icon"><img src="./img/about/icon/why3.svg" alt=""></div>
                    <div class="title">Гибкая система цен.</div>
                    <div class="descript">Всегда гарантированное наличие товара на складе.</div>
                </div>
                <div class="why-list__item">
                    <div class="icon"><img src="./img/about/icon/why4.svg" alt=""></div>
                    <div class="title">Наличие товара на<br> складе, готового к<br> отгрузке.</div>
                    <div class="descript">Мы регулярно оправдываем доверие наших покупателей.</div>
                </div>
            </div>
        </div>

        <div class="about-garantee">
            <div class="l-section">
                <img src="./img/about/garantee.jpg" alt="">
                <div class="red-block">
                    <div class="more-title">более 1000</div>
                    Сотрудников APRO
                </div>
            </div>
            <div class="r-section">
                <div class="title">Гарантия</div>
                <h2>Повышаем стандарты
                    качества и экономим
                    бюджеты заказчиков</h2>
                <p>Продукция ТМ Аpro Fixing Systems постоянно подвергается испытаниям на соответствие качеству. Тесты проходят не только конечные изделия, но и материалы с оборудованием, на котором они производятся.</p> 
                <p>Проверяется соответствие изготовленных стяжек, хомутов, клеммных колодок, клипс, тросов, цепей и комплектующих к ним заявленным характеристикам: максимальному моменту затяжки, максимальному на разрыв усилию, огнестойкости, а также невосприимчивости к агрессивным средам, коррозии, кислотам. Однако, самое главное испытание наша продукция проходит у конечного потребителя - годами использования. Нам важно, чтобы клиент остался доволен!</p>
            </div>
        </div>
    </div>
</div>
