<div class="blog-detail-page static-page">
    <div class="uk-container">
        <div class="l-section">
            <h1>Найкорисніші лайфкакі з кабельними стяжками APRO для будинку і гаража</h1>
            <img src="img/blog/detail-blog.jpg" alt="">
            <h2>Первая коллекция бренда SoundSleep</h2>
            <p>Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной информации и становимся профессионалами в этой области. Для того, чтобы вы не забивали голову ненужной информацией, я составил этот чек-лист.             </p>
            <p>Он поможет вам не упустить важные нюансы при покупке люстры, бра или настольной лампы. Не буду писать про очевидные и банальные вещи, такие как «люстра должна подходить по стилю», а заострю ваше внимание только на важных пунктах. Поехали!</p>
            <h3>Покупайте всю коллекцию сразу</h3>
            <p>Бывает такое, сначала купили люстру, а бра решили взять через год. Так вот, по возможности покупайте всё сразу. Иногда производители могут изменить оттенок цвета каркаса или абажура, размеры и декоративные элементы. В этом случае возможно несовпадение светильников. Не говоря уже о том, что необходимую вам модель через какое-то время могут просто вывести из производства.</p>
            <h3>Уточняйте высоту.</h3>
            <p>От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.</p>
            <h3>Поинтересуйтесь о абажурах.</h3>
            <p>От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.</p>
            <h2>Чем отличается этот бренд от других:</h2>
            <ol>
                <li>Покупайте всю коллекцию сразу</li>
                <li>Мягкие объятья вместе с полотенцами SoundSleep</li>
                <li>Домашние новинки от Ellen, вдохновленные ранней весной</li>
            </ol>

            <div class="video-wrap">
                <iframe class="video-product"   width="560" height="315" src="https://www.youtube.com/embed/JUDG9f4bDJk" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe>
            </div>

        </div>
        <div class="r-section sidebar">
            <div class="title">Смотрите также</div>
            <div class="preview-list-news">
                <div class="preview-news__item">
                    <a href="#">
                        <span class="img"><img src="./img/blog/preview/1.jpg" alt=""></span>
                        <span class="name">9 незвичайних, але геніальних способів використовувати
                            ваш фен</span>
                    </a>
                </div>
                <div class="preview-news__item">
                    <a href="#">
                        <span class="img"><img src="./img/blog/preview/2.jpg" alt=""></span>
                        <span class="name">9 незвичайних, але геніальних способів використовувати
                            ваш фен</span>
                    </a>
                </div>
                <div class="preview-news__item">
                    <a href="#">
                        <span class="img"><img src="./img/blog/preview/3.jpg" alt=""></span>
                        <span class="name">9 незвичайних, але геніальних способів використовувати
                            ваш фен</span>
                    </a>
                </div>
                <div class="preview-news__item">
                    <a href="#">
                        <span class="img"><img src="./img/blog/preview/4.jpg" alt=""></span>
                        <span class="name">9 незвичайних, але геніальних способів використовувати
                            ваш фен</span>
                    </a>
                </div>
            </div>
            <a href="#" class="view-all">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.02162 0.732666L0 1.78267L3.35676 5.23267L0 8.68267L1.02162 9.73267L5.4 5.23267L1.02162 0.732666Z" fill="#4C5458"/>
                </svg>
                <span>Дивитися всі</span>
            </a>
        </div>
    </div>
</div>