<div class="other-static-page static-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li class="active"><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Обмен и возврат товара</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Сервис </a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Доставка и оплата</h1>
            <img src="./img/static-page/delivery.jpg" alt="">
            <div class="advantages-list">
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/d1.svg" alt="">
                    <div class="title">Более 856 000 выполненных заказов</div>
                    <div class="descript">Мы регулярно оправдываем доверие наших покупателей.</div>
                </div>
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/d2.svg" alt="">
                    <div class="title">Бесплатная доставка
                        по Украине</div>
                    <div class="descript">При оплате на карту розничных заказав на сумму от 300 грн, доставку оплачиваем мы.</div>
                </div>
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/d3.svg" alt="">
                    <div class="title">Собственный склад запчастей</div>
                    <div class="descript">Всегда гарантированное наличие товара на складе.</div>
                </div>
            </div>
            <h2>Доставка</h2>
            <h3>Доставка в отделение «Нова пошта» </h3>
            <p>С помощью доставки «Нова пошта», Вы можете получить товар даже в самых отдаленных уголках Украины. При покупке товаров других продавцов услуга наложенного платежа оплачивается отдельно от доставки.</p>
            <h3>Самовывоз</h3>
            <p>От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.</p>
            <h3>Доставка в отделение «Нова пошта» </h3>
            <p>С помощью доставки «Нова пошта», Вы можете получить товар даже в самых отдаленных уголках Украины. При покупке товаров других продавцов услуга наложенного платежа оплачивается отдельно от доставки.</p>
            <h2>Оплата</h2>
            <h3>Наложенным платежом</h3>
            <p>
                С помощью доставки «Нова пошта», Вы можете получить товар даже в самых отдаленных уголках Украины. При покупке товаров других продавцов услуга наложенного платежа оплачивается отдельно от доставки.</p>
            <h3>Безналичный расчет</h3>
            <p>От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.</p>
            <h3>Оплата на карту ПриватБанк</h3>
            <p>
                С помощью доставки «Нова пошта», Вы можете получить товар даже в самых отдаленных уголках Украины. При покупке товаров других продавцов услуга наложенного платежа оплачивается отдельно от доставки.</p>
        </div>
    </div>
</div>