<div class="other-static-page static-page obmen-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li ><a href="#">Доставка и оплата</a></li>
                <li ><a href="#">Обмен и возврат товара</a></li>
                <li class="active"><a href="#">Гарантии</a></li>
                <li><a href="#">Сервис </a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Гарантии</h1>
            <img src="./img/static-page/garantee.jpg" alt="">
            <h2>Гарантия предоставляется: </h2>
            <h3>Исключительно в пределах гарантийного срока;</h3>
            <h3>Обязательно наличие гарантийного талона, товарного чека, оригинальной упаковки;</h3>
            <h3>При установке были соблюдены инструкции изготовителя транспортного средства. </h3>

            <h2>Подтверждение гарантийного случая происходит в следующей последовательности:</h2>
            <ol>
                <li>Покупатель связывается с менеджером;</li>
                <li>Скачивает и заполняет заявление (ссылка на заявление);</li>
                <li>Отправляет заполненное заявление с фотографиями на почту технического специалиста info@azon.ua                </li>
            </ol>
            <p>Срок рассмотрения заявления составляет 3 рабочих дня, после чего менеджер компании свяжется с Вами.
                В случае подтверждения гарантийного случая, покупатель высылает товар в оригинальной упаковке вместе с заявлением, гарантийным талоном и товарным чеком.</p>
            <h2>Подтверждение гарантийного случая происходит в следующей последовательности:</h2>
            <h3>в течении 14 календарных дней с момента получения товара и оригинала заявления;</h3>
            <h3>в случаи отсутствия на складе необходимого товара, замена производится в течении 2 месяцев с момента получения товара и оригинала заявления.</h3>
        </div>
    </div>
</div>