<div class="other-static-page static-page how-buy-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li ><a href="#">Доставка и оплата</a></li>
                <li ><a href="#">Обмен и возврат товара</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Сервис </a></li>
                <li><a href="#">Сертификаты</a></li>
                <li class="active"><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Как оформить заказ</h1>
           <h2>Как оформить заказ</h2>
           <p>Процесс оформления заказа в интернет-магазине “AZON” является очень простым. Он состоит из двух этапов: формирования корзины и подтверждения покупки.</p>
           <p>Для того, чтобы оформить заказ, в нужном разделе нажмите кнопку «Оформить заказ». или для того чтобы отредактировать ваш заказ нажмите кнопку «Перейти в корзину»</p>
           <img src="img/static-page/how/1.jpg" alt="">
           <p>Кроме того, указать нужное количество товара можно в окне, открывающемся после нажатия на кнопку «Перейти в корзину».</p>
           <img src="img/static-page/how/2.jpg" alt="">
           <p>Перейдя в корзину, Вам нужно будет нажать кнопку «Оформить заказ».</p>
           <img src="img/static-page/how/3.jpg" alt="">
           <p>После чего откроется страница для ввода контактной информации. Укажите свои контактные данные
            и нажмите кнопку «Далее».</p>
            <img src="img/static-page/how/4.jpg" alt="">
            <p>Выбрав подходящие Вам способ и адрес доставки, нажмите на кнопку «Заказ подтверждаю».</p>
            <img src="img/static-page/how/5.jpg" alt="">
            <p>Ваш заказ оформлен, наш менеджер свяжется с Вами в кратчайшие сроки!</p>
            <img src="img/static-page/how/6.jpg" alt="">
        </div>
    </div>
</div>