<div class="other-static-page static-page obmen-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li ><a href="#">Доставка и оплата</a></li>
                <li class="active"><a href="#">Обмен и возврат товара</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Сервис </a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Обмен и возврат товара</h1>
            <img src="./img/static-page/obmen.jpg" alt="">
           <h2>Обмен</h2>
           <h3>14 дней на обмен товара</h3>
           <p>Чтобы Вы были уверены в качестве инструмента, мы даем возможность протестировать его дома. Если он Вас не устраивает, его можно будет обменять на модель, которая лучше отвечает Вашим требованиям.
            Обмен можно совершить даже при наличии следов эксплуатации.</p>
            <h3>60 дней на возврат товара</h3>
            <p>Если товар Вам не понадобился, его можно вернуть на протяжении 60 дней. В таком случае инструмент должен быть:</p>
            <ul>
                <li>новым, без следов использования;</li>
                <li>в полной комплектации;</li>
                <li>упаковка в товарном виде;</li>
                <li>в наличии расчетный документ (чек);</li>
                <li>в наличии документ, который удостоверяющий личность.</li>
            </ul>
            <h3>TRADE-IN</h3>
            <p>Обновляйте старые модели инструмента Dnipro-M на новые со скидкой 15%*.</p>

            <p>*На данную акцию бонусы не начисляются.</p>
            <h2>Общие правила возврата электроинструмента, лестниц, дальномеров, лазерных уровней</h2>
            <p>Возврат товаров в фирменные магазины осуществляется в течении 14 дней от даты продажи.
                Требования к инструменту в случае его возврата:</p>
            <h3>коробка от инструмента, который Вы возвращаете, должна иметь продажный вид;</h3>
            <h3>допускается отсутствие пленки от инструмента;</h3>
            <h3>серийный номер на коробке и инструменте должны совпадать.</h3>
            <p>Полный возврат средств в соответствии с действующим законодательством осуществляется в следующих случаях:</p>
            <ol>
                <li>Покупайте всю коллекцию сразу</li>
                <li>при возврате нерабочего товара с легкими следами эксплуатации, без механических дефектов и повреждений, царапин и в полной комплектации;</li>
                <li>при возврате рабочего товара с видимыми следами эксплуатации, но без механических дефектов и повреждений, без царапин и в полной комплектации.</li>
            </ol>
            <p>При возврате рабочего инструмента с видимыми следами эксплуатации, а также при наличии механических дефектов, повреждений и не в полной комплектации Вы можете получить скидку 25% на приобретение товара из той же группы.</p>
        </div>
    </div>
</div>