<div class="partners-page">    
    <div class="top-partners">
        <div class="uk-container">
            <h1>Предлагаем выгодные
                условия сотрудничества</h1>
            <div class="flex-top">
                <div class="l-section">
                    <h2>Предлагаем выгодные
                        условия сотрудничества</h2>
                    <p>Став нашим партнером, Вы непременно оцените уровень нашей клиентоориентированности, а также компетентность наших специалистов. Мы нацелены на построение долгосрочных партнерских отношений на прозрачных и взаимовыгодных условиях. Ряд производственных предприятий, монтажных и строительных организаций, а также сетевые магазины и крупнейшие национальные дистрибьюторские компании уже оценили преимущества работы с нами.</p>
                </div>
                <div class="r-section">
                    <img src="./img/static-page/partners.jpg" alt="">
                </div>
            </div>
            <div class="num-wrap">
                <div class="num__item">
                    <div class="title">с 2013 года</div>
                    <div class="text">Работаем на рынке</div>
                </div>
                <div class="num__item">
                    <div class="title">более 3000</div>
                    <div class="text">Единиц товаров</div>
                </div>
                <div class="num__item">
                    <div class="title">более 1000</div>
                    <div class="text">Сотрудников APRO</div>
                </div>
                <div class="num__item">
                    <div class="title">с 2013 года</div>
                    <div class="text">Работаем на рынке</div>
                </div>
            </div>
        </div>
    </div>

    <div class="doc-partners">
        <div class="uk-container">
            <div class="l-section">
                <h2>Выгрузка файлов для наших интерент магазинов:</h2>
                <p>Скачивайте файлы в подходящем для вас формате </p>

                <div class="r-section mob-only">
                    <img src="./img/static-page/826.png" alt="">
                    <div class="name">Каталог 2020 APRO.pdf</div>
                    <div class="size">pdf, 790 КБ</div>
                    <a href="#" class="btn btn__gradient">
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.50001 10.2143L10.6786 6.03573L9.28574 4.64288L7.42861 6.50001V0H5.57148V6.50001L3.71435 4.64288L2.3215 6.03573L6.50001 10.2143Z" fill="white"/>
                            <path d="M0 11.1429H13V13H0V11.1429Z" fill="white"/>
                        </svg>
                        <span>Скачать</span>
                    </a>
                </div>

                <div class="doc-list">
                    <a href="#" class="doc-list__item">
                        <div class="info">
                            <div class="icon"><img src="./img/static-page/icon/xml1.svg" alt=""></div>
                            <div class="detail">
                                <div class="name">Выгрузка файлов.xml</div>
                                <div class="size">xml, 790 КБ</div>
                            </div>
                        </div>   
                        <div class="download">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.50002 11.7857L12.3214 6.96431L10.7143 5.35717L8.57147 7.50002V0H6.42863V7.50002L4.28579 5.35717L2.67865 6.96431L7.50002 11.7857Z" fill="#4C5458"/>
                                <path d="M0 12.8572H15V15H0V12.8572Z" fill="#4C5458"/>
                            </svg>                                
                        </div>                     
                    </a>
                    <a href="#" class="doc-list__item">
                        <div class="info">
                            <div class="icon"><img src="./img/static-page/icon/xls.svg" alt=""></div>
                            <div class="detail">
                                <div class="name">Выгрузка файлов.xls</div>
                                <div class="size">xml, 790 КБ</div>
                            </div>
                        </div>  
                        <div class="download">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.50002 11.7857L12.3214 6.96431L10.7143 5.35717L8.57147 7.50002V0H6.42863V7.50002L4.28579 5.35717L2.67865 6.96431L7.50002 11.7857Z" fill="#4C5458"/>
                                <path d="M0 12.8572H15V15H0V12.8572Z" fill="#4C5458"/>
                            </svg>                                
                        </div>                         
                    </a>
                    <div  class="doc-list__item">
                        <div class="info">
                            <div class="icon"><img src="./img/static-page/icon/xml2.svg" alt=""></div>
                            <div class="detail">
                                <div class="name">Online XML.xml</div>
                                <a href="#" class="size">Скопировать ссылку</a>
                            </div>
                        </div>                          
                    </div>
                    <a href="#" class="doc-list__item">
                        <div class="info">
                            <div class="icon"><img src="./img/static-page/icon/zip.svg" alt=""></div>
                            <div class="detail">
                                <div class="name">Архив фото.zip</div>
                                <div class="size">xml, 790 КБ</div>
                            </div>
                        </div>  
                        <div class="download">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.50002 11.7857L12.3214 6.96431L10.7143 5.35717L8.57147 7.50002V0H6.42863V7.50002L4.28579 5.35717L2.67865 6.96431L7.50002 11.7857Z" fill="#4C5458"/>
                                <path d="M0 12.8572H15V15H0V12.8572Z" fill="#4C5458"/>
                            </svg>                                
                        </div>                         
                    </a>
                </div>
            </div>
            <div class="r-section">
                <img src="./img/static-page/826.png" alt="">
                <div class="name">Каталог 2020 APRO.pdf</div>
                <div class="size">pdf, 790 КБ</div>
                <a href="#" class="btn btn__gradient">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.50001 10.2143L10.6786 6.03573L9.28574 4.64288L7.42861 6.50001V0H5.57148V6.50001L3.71435 4.64288L2.3215 6.03573L6.50001 10.2143Z" fill="white"/>
                        <path d="M0 11.1429H13V13H0V11.1429Z" fill="white"/>
                    </svg>
                    <span>Скачать</span>
                </a>
            </div>
        </div>
    </div>

    <div class="order-sertificate">
        <div class="uk-container">
            <div class="l-section">
                <h3>Заказать сертификат продавца</h3>
                <div class="r-section mob-only">
                    <img src="./img/static-page/sertif.jpg" alt="">
                </div>
                <form class="default-form">

                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Название компании <span class="default-form__req">*</span></label>
                        <input type="text" class="default-form__input" />
                    </div>
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Физический адрес <span class="default-form__req">*</span></label>
                        <input type="text" class="default-form__input" />
                    </div>
                    <div class="default-form__row  ">
                        <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
                        <input type="tel" class="default-form__input" />
                    </div>

                    <div class="default-form__row ">
                        <label class="default-form__label" for="">Email <span class="default-form__req">*</span></label>
                        <input type="email" class="default-form__input"  placeholder="" />
                    </div>

        
                    <div class="default-form__row-button">
                    <a  href="#modal-call-ok-two" uk-toggle class="btn btn__green"><span>Відправити</span></a>
                    </div>
                    
                </form>
            </div>
            <div class="r-section">
                <img src="./img/static-page/sertif.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="partners-form-wrap">
        <div class="uk-container">
            <div class="form-wrap-bg">
                <div class="img"><img src="img/contact/partners.png" alt=""></div>
                <div class="form-wrap-partners">
                    <h2 class="title-block">Стать партнером</h2>
                    <p>Мы твердо нацелены на создание длительных партнерских отношений на взаимовыгодных и прозрачных условиях.</p>
                    
                    <form class="default-form">

                        <div class="default-form__row  ">
                        <label class="default-form__label" for="">Ваше імя <span class="default-form__req">*</span></label>
                        <input type="text" class="default-form__input" />
                        </div>
            
                        <div class="default-form__row default-form__status-error ">
                        <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
                        <input type="tel" class="default-form__input" />
                        <span class="default-form__status ">Это поле обязательное</span>
                        </div>

                        <div class="default-form__row ">
                            <label class="default-form__label" for="">Email <span class="default-form__req">*</span></label>
                            <input type="email" class="default-form__input"  placeholder="" />
                        </div>

                        <button class="add-comment">Додати коментар</button>

                        <div class="default-form__row hide-comment">
                            <textarea class="default-form__input"  placeholder="" ></textarea>
                        </div>
            
                        <div class="default-form__row-button">
                        <a  href="#modal-call-ok-two" uk-toggle class="btn btn__green"><span>Відправити</span></a>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>