 <div class="registr-instrument-wrap">
     <div class="uk-container">
         <div class="l-section">
             <h1>Регистрация инструмента</h1>
             <p>Регистрируй свой инструмент бренда "APRO" у нас и получай дополнительную гарантию</p>
             <div class="regist-slider js-regist-slider">
                <div class="img-slid"><img src="./img/static-page/registr.jpg" alt=""></div>
                <div class="img-slid"><img src="./img/product/slider/big/1.jpg" alt=""></div>
                <div class="img-slid"><img src="./img/static-page/registr.jpg" alt=""></div>
                <div class="img-slid"><img src="./img/product/slider/big/1.jpg" alt=""></div>
             </div>
             <div class="small-title">При регистрации инструмента в течении месяца с момента покупки, гарантия составляет 3 года на APRO и 5 лет на серию сварочных аппаратов MMA.</div>
         </div>
         <div class="r-section">
             <div class="title-from">Для получения дополнительного года гарантии необходимо зарегистрировать серийный номер инструмента в форме ниже.</div>
             <form class="default-form">

                <div class="default-form__row  ">
                  <label class="default-form__label" for="">Ваше імя <span class="default-form__req">*</span></label>
                  <input type="text" class="default-form__input" />
                </div>

                <div class="default-form__row  ">
                    <label class="default-form__label" for="">Прізвище <span class="default-form__req">*</span></label>
                    <input type="text" class="default-form__input" />
                  </div>
                  <div class="default-form__row  ">
                    <label class="default-form__label" for="">Email <span class="default-form__req">*</span></label>
                    <input type="email" class="default-form__input" />
                  </div>
      
                <div class="default-form__row default-form__status-error ">
                  <label class="default-form__label" for="">Телефон <span class="default-form__req">*</span></label>
                  <input type="tel" class="default-form__input" />
                  <span class="default-form__status ">Это поле обязательное</span>
                </div>

               

                <div class="default-form__row  default-form__status-error">
                    <label class="default-form__label" for="">Дата покупки <span class="default-form__req">*</span></label>
                    <input type="text" class="default-form__input mask-date" />
                    <span class="default-form__status ">Указана неверная дата</span>
                </div>

                <div class="default-form__row  ">
                    <label class="default-form__label" for="">Введите серийный номер инструмента <span class="default-form__req">*</span></label>
                 
                    <input type="text" class="default-form__input" placeholder=""/>                    
                   
                </div>
      
                <div class="default-form__row-button">
                  <a  href="#modal-sms-reg" uk-toggle class="btn btn__green"><span>Далее</span></a> 
                </div>
                
              </form>
         </div>
     </div>
 </div>