<div class="other-static-page static-page service-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li ><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Обмен и возврат товара</a></li>
                <li><a href="#">Гарантии</a></li>
                <li class="active"><a href="#">Сервис </a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Сервис </h1>
            <img src="./img/static-page/service.jpg" alt="">
            <div class="advantages-list">
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/s1.svg" alt="">
                    <div class="title">Ремонт в сервисном центре от 30 минут до 3 часов</div>
                    <div class="descript">Мы регулярно оправдываем доверие наших покупателей.</div>
                </div>
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/s2.svg" alt="">
                    <div class="title">Мы регулярно оправдываем доверие наших покупателей.</div>
                    <div class="descript">При оплате на карту розничных заказав на сумму от 300 грн, доставку оплачиваем мы.</div>
                </div>
                <div class="advantages-list__item">
                    <img src="./img/static-page/icon/s3.svg" alt="">
                    <div class="title">Более 20-ти сервисных центров по Украине</div>
                    <div class="descript">Всегда гарантированное наличие товара на складе.</div>
                </div>
            </div>
            <h2>Переваги ремонту в сервісному центрі Apro:</h2>
            <h3>Можливість відремонтувати інструмент на місці в найкоротші терміни (від 30 хвилин до 3 годин)</h3>
            <h3>Рекомендації майстра по експлуатації та обслуговуванню</h3>
            <h3>При установке были соблюдены инструкции изготовителя транспортного средства. </h3>
            <h3>Безкоштовна діагностика</h3>
            <h3>Безкоштовна очистка інструменту</h3>
            <h3>Сервісні центри та майстерні в кожній області України</h3>
            <h3>«Обмінний фонд» – отримайте інструмент, аналогічний Вашому, на час ремонту абсолютно безкоштовно.*</h3>
            <h2>Мобільний майстер</h2>
            <p>Для ремонту техніки Ви можете викликати до себе на підприємство нашого мобільного майстра. Для цього потрібно:</p>
            <h3>зателефонувати нам на гарячу лінію і залишити відповідну заявку;</h3>
            <h3>повідомити оператору свою адресу, контактний номер телефону та вид обладнання, якому потрібен ремонт.</h3>
            <p>У разі гарантійного ремонту послуга надається безкоштовно. Для негарантійних випадків вартість послуги - 150 грн.</p>
            <p>Послуга доступна в наступних містах:</p>
            <h3>Вінниця;</h3>
            <h3>Івано-Франківськ;</h3>
            <h3>Київ;</h3>
            <h3>Кропивницький;</h3>
            <h3>Львів;</h3>
            <h3>Миколаїв;</h3>
            <h3>Харків;</h3>
            <p>Виїзд майстра здійснюється тільки для ремонту великогабаритної техніки:</p>
            <h3>всі моделі компресорів (крім моделей об'ємом 24 літра);</h3>
            <h3>бензогенератори;</h3>
            <h3>токарні верстати;</h3>
            <h3>рейсмуси;</h3>

            <h2>Куди звертатися за сервісним обслуговуванням?</h2>
            <ol>
                <li>Майстерня у фірмовому магазині Apro


                    <p>У фірмовому магазині Dnipro-M ремонт пройде швидко та з комфортом. Сервісний майстер, який знаходиться в магазині, діагностує проблему і відремонтує інструмент на місці.                </p>
                    <p> Також в магазині можна протестувати будь-який інструмент, дізнатися про новинки та акції, підібрати аксесуари і витратні матеріали до інструменту.            </p>
                    <p>Список магазинів Dnipro-M, в яких майстер може відремонтувати інструмент в найкоротший термін:</p>
                    <h3>м. Бориспіль, вул. Київський Шлях, 127</h3>
                    <h3>м. Вінниця, Хмельницьке шосе, 107</h3>
                    <h3>м. Вінниця, вул. Молодіжна, 32а</h3>
                </li>
                <li>Фірмовий магазин з пунктом прийому на ремонт.
                    <p>В інших фірмових магазинах Dnipro-M також можна здати інструмент на ремонт. Ремонт здійснюється в строки до 3 робочих днів.</p>
                </li>
                <li>Сервісний центр APRO.

                    <p>Сервісні центри знаходяться у 17-ти містах України. В будь-якому з них Вам відремонтують інструмент в найкоротші терміни.                     </p>
                    <p>Строк ремонту в сервісному центрі:</p>
                    <h3>До 3 годин, скориставшись безкоштовною послугою «Терміновий ремонт».</h3>
                    <h3>До 3 робочих днів у разі складної несправності.</h3>
                </li>
                <li>Пункт прийому на ремонт.
                    <p>Створені для зручності Покупців. У пункті прийому можна здати в ремонт неробочий інструмент. Ремонт займе до 7 робочих днів.</p>
                </li>
            </ol>
            <h2>Як здати інструмент на ремонт:</h2>
            <ol>
                <li>Підготуйте несправний інструмент і оригінальний гарантійний талон</li>
                <li>Знайдіть на карті зручне для Вас місце здачі в ремонт (фірмовий магазин, сервісний центр або пункт прийому).</li>
                <li>Принесіть інструмент в сервісний центр.</li>
                <li>Заберіть відремонтований інструмент в найкоротші терміни:</li>
            </ol>
            <h2>Карта сервісних центрів</h2>
            <div class="service-map">


                <div class="address-list-mob">
                    <select>
                        <option data-display="БОРИСПІЛЬ">БОРИСПІЛЬ</option>
                        <option value="1">ВІННИЦЯ</option>
                        <option value="2">КИЇВ</option>
                        <option value="3">КИЇВ</option>
                        <option value="4">ВІННИЦЯ</option>
                      </select>
                      <div class="address-value">
                        <div class="address-value__item">
                            <span class="img"><img src="./img/contact/pin.svg" alt=""></span>
                            <span class="value">вул. Київський Шлях, 127</span>
                        </div>
                        <div class="address-value__item">
                            <span class="img"><img src="./img/contact/phone.svg" alt=""></span>
                            <span class="value"><a href="tel:+380573411023">+38 (057) 341-10-23</a></span>
                        </div>
                        <div class="address-value__item">
                            <span class="img"><img src="./img/contact/time.svg" alt=""></span>
                            <span class="value">Пн-Пт с 9:00 до 18:00</span>
                        </div>
                      </div>
                </div>


                <div class="address-list js-map-set-position" data-places-all='[
                ["вул. Київський Шлях, 127", 50.34345391309602, 30.96474771403623, 1],
                ["Хмельницьке шосе, 107", 49.237159872610704, 28.40391484098467, 1],
                ["вул. Новокостянтинівська, 9а ", 50.482923389729876, 30.486293611668586, 1],
                ["вул. Садова, 135 #3-4 (ст. метро «Славутич»)", 50.395300214703, 30.604435247291377, 1],
                ["ВУДДІ ПАБ", 50.48637764755904, 30.472195921579516, 1],
                ["Neznayka Park", 50.518574810535426, 30.230981816074667, 1],
                ["Umansky Museum", 48.74442443095594, 30.218319978364093, 1]
                ]'>
                    <a id="sdsd" href="#" class="address__item active" data-current-place-point="[50.34345391309602, 30.96474771403623]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            БОРИСПІЛЬ
                        </span>
                        <span class="street">вул. Київський Шлях, 127</span>
                    </a>
                    <a href="#" class="address__item" data-current-place-point="[49.237159872610704, 28.40391484098467]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            ВІННИЦЯ
                        </span>
                        <span class="street">Хмельницьке шосе, 107</span>
                    </a>
                    <a href="#" class="address__item" data-current-place-point="[50.482923389729876, 30.486293611668586]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            КИЇВ
                        </span>
                        <span class="street">вул. Новокостянтинівська, 9а </span>
                    </a>
                    <a href="#" class="address__item" data-current-place-point="[50.395300214703, 30.604435247291377]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            ВІННИЦЯ
                        </span>
                        <span class="street">вул. Садова, 135 #3-4 (ст. метро «Славутич»)</span>
                    </a>

                    <a href="#" class="address__item" data-current-place-point="[50.48637764755904, 30.472195921579516]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            УДДІ ПАБ
                        </span>
                        <span class="street">вул. Садова, 135 #3-4 (ст. метро «Славутич»)</span>
                    </a>
                    <a href="#" class="address__item" data-current-place-point="[50.518574810535426, 30.230981816074667]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            Neznayka Park
                        </span>
                        <span class="street">вул. Садова, 135 #3-4 (ст. метро «Славутич»)</span>
                    </a>
                    <a href="#" class="address__item" data-current-place-point="[48.74442443095594, 30.218319978364093]">
                        <span class="city">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04546 2.31771C5.43584 1.4445 6.24262 0.833252 7.17952 0.833252H10.5628L16.002 13H13.3215L12.6968 11.632H7.17952V8.95412H11.4997L9.07936 3.5111H7.17952L2.93742 13H0.256836L5.04546 2.31771Z" fill="black"/>
                            </svg>
                            Umansky Museum
                        </span>
                        <span class="street">вул. Садова, 135 #3-4 (ст. метро «Славутич»)</span>
                    </a>
                   
                </div>
                <div id="map" class="" data-key="AIzaSyDdS1EtNR8VOq8c8yRrg2783Fn5mVMtdLY"></div>
            </div>
        </div>
    </div>
</div>