<div class="other-static-page static-page sertificates-page">
    <div class="uk-container">
        <div class="l-section sidebar-left">
            <ul class="sidebar-menu">
                <li ><a href="#">Доставка и оплата</a></li>
                <li ><a href="#">Обмен и возврат товара</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Сервис </a></li>
                <li class="active"><a href="#">Сертификаты</a></li>
                <li><a href="#">Как купить</a></li>
            </ul>

        </div>
        <div class="r-section">
            <h1>Сертификаты</h1>
            <h2>Более 138 дилерств от мировых брендов</h2>
            <p>Качество наших услуг подтверждено сертификатами дилерства многих брендов</p>
            <div class="sertica-list">
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/1.jpg">
                        <img src="./img/static-page/serticat/1.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/2.jpg">
                        <img src="./img/static-page/serticat/2.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/3.jpg">
                        <img src="./img/static-page/serticat/3.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/4.jpg">
                        <img src="./img/static-page/serticat/4.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/5.jpg">
                        <img src="./img/static-page/serticat/5.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/6.jpg">
                        <img src="./img/static-page/serticat/6.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/7.jpg">
                        <img src="./img/static-page/serticat/7.jpg" alt="" >
                    </a>
                </div>
                <div class="sertica-list__item">
                    <a href="./img/static-page/serticat/big/8.jpg">
                        <img src="./img/static-page/serticat/8.jpg" alt="" >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>