.news-item
  +r($mobile)
    margin-top: 40px !important
    &:first-of-type
      margin-top: 0 !important
  &__img
    width: 100%
    height: 240px
    margin-bottom: 29px
    +r($mobile)
      margin-bottom: 19px
    a
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      img
        width: 100%
        height: 100%
        object-fit: cover
  &__title
    a
      +exm
      font-size: 20px
      line-height: 120%
      color: $black
      +r($mobile)
        font-size: 18px
      &:hover
        text-decoration: none
        color: $black

