.category__type-1
  padding-bottom: 24px
  margin-top: -11px
  position: relative
  z-index: 5
  +r($mobile)
    margin-top: 10px
    margin-bottom: 38px
  + .section-block
    +r($mobile)
      padding-top: 0
  .uk-grid-ex-small
    > div
      +r($mobile)
        margin-top: 10px !important
        &:first-of-type
          margin-top: 0 !important
  &__item
    background: $white
    border-radius: 6px
    overflow: hidden
    padding: 11px
    display: flex
    flex-wrap: wrap
    flex-direction: column
    height: 385px
    position: relative
    transition: all .2s ease-in
    &::before
      width: 100%
      height: 100%
      background: linear-gradient(249.49deg, #F5F7F8 0%, #EFF1F2 100%)
      position: absolute
      left: 0
      top: 0
      content: ''
      opacity: 1
    > *
      position: relative
      z-index: 5
    +r($mobile)
      flex-direction: row
      height: auto
      border-radius: 3px
      align-items: center
      padding-right: 16px
      padding-top: 2px
      padding-bottom: 2px
      height: auto
      min-height: 62px
    &:hover
      text-decoration: none
      transform: translateY(-6px)
      transition: all .2s ease-out
      +r($mobile)
        transform: translateY(0px)
      .category__footer-text
        transform: translateY(11px)
        transition: all .2s ease-out
        +r($mobile)
          transform: translateY(0px)
    &.category__type-1__item-1
      &:hover
        &::before
          background: linear-gradient(249.49deg, #F5EBEB 0%, #EEE3E3 100%)
    &.category__type-1__item-2
      &:hover
        &::before
          // background: linear-gradient(90deg, rgba(#55969A,.2) 0%, rgba(#1FBA59,.2) 48.94%,rgba( #55969A,.2) 100%)
          background: rgba(#007A33,.2)
    &.category__type-1__item-3
      &:hover
        &::before
          // background: linear-gradient(90deg,  rgba(#55969A,.2) 0%, rgba(#46A9C8,.2) 48.94%, rgba(#55969A,.2) 100%)
          background: rgba(#009CDE,.2)
    &.category__type-1__item-4
      &:hover
        &::before
          // background: linear-gradient(90deg, rgba(#55969A,.2) 0%, rgba(#1FBA59,.2) 48.94%, rgba(#55969A,.2) 100%)
          background: rgba(#007A33,.2)
      
    &-img
      width: 100%
      height: 240px
      display: flex
      justify-content: center
      align-items: center
      +r($mobile)
        width: 60px
        height: 100%
      img
        max-width: 100%
        max-height: 100%
        object-fit: contain
    &-text
      font-size: 22px
      color: $black
      text-align: center
      line-height: 24px
      margin-top: 24px
      display: flex
      width: 100%
      justify-content: center
      align-items: center
      padding-left: 25px
      padding-right: 25px
      padding-bottom: 0
      margin-bottom: auto
      min-height: 48px
      +exm
      &:hover
        text-decoration: none
      +r($mobile)
        margin: 0
        font-size: 16px
        padding-left: 13px
        padding-right: 13px
        flex: 1
        width: auto
        justify-content: flex-start
    svg
      width: 6px
      height: 10px
      fill: rgba($grey,.4)


.category
  &__footer-text
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    font-size: 12px
    line-height: 110%
    +rb
    color: $white
    /* or 13px */

    letter-spacing: 0.04em
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    padding-top: 14px
    padding-bottom: 14px
    transform: translateY(100%)
    bottom: 11px
    background: #000
    transition: all .2s ease-in
    +r($mobile)
      font-size: 0
      left: 0
      bottom: unset
      top: 0
      width: 4px
      height: 100% 
      transform: translateY(0%)
    span

    &-type
      &-1
        background: linear-gradient(90deg, #BA2158 0%, #ED2424 48.94%, #BA2158 100%)
      &-2
        background: linear-gradient(90deg, #55969A 0%, #1FBA59 48.94%, #55969A 100%)
      &-3
        background: linear-gradient(90deg, #55969A 0%, #46A9C8 48.94%, #55969A 100%)
      &-4
        background: linear-gradient(90deg, #55969A 0%, #1FBA59 48.94%, #55969A 100%)