.footer
  background: #000000
  padding-top: 54px
  padding-bottom: 92px
  position: relative
  +r(478)
    padding-top: 20px
    padding-bottom: 8px
    .uk-grid
      margin-left: 0
  &::after
    content: ''
    width: 100%
    height: 8px
    display: block
    background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
    position: absolute
    bottom: 0
    left: 0
  &__list
    margin: 0
    padding: 0
    +rmin(479)
      height: auto !important
      display: block !important
    + *
      margin-top: 44px
  &-list
    width: 100%
    &__item
      margin-bottom: 22px
      &:last-of-type
        margin-bottom: 0
      > *
        color: $white
        font-size: 15px
        text-decoration: none
        &:hover
          text-decoration: none
          color: $white
  &__item
    +r(478)
      display: flex
      flex-wrap: wrap
      padding-bottom: 29px
      border-bottom: 1px solid rgba($white,0.1)
      padding-left: 0
      padding-left: 7px
      padding-right: 7px
      &:first-of-type
        order: 3
        margin-top: 45px
        border-bottom: 0
      &:last-of-type
        border-bottom: 0
    .logo-footer
      +r(478)
        display: none
    &-title
      width: 100%
      color: rgba($white,.5)
      font-size: 15px
      text-transform: uppercase
      line-height: 1
      display: flex
      align-items: center
      +exm
      margin-bottom: 22px
      svg
        fill: $white
        font-size: 16px
        opacity: 0.8
        width: 16px
        margin-right: 8px
        &.icon-mail
          width: 17px
          opacity: 0.5
    &-slide
      +r(478)
        margin-bottom: 0
        padding-bottom: 0
        + div
          margin-top: 22px !important
        &:nth-child(1)
          
          
          margin-top: 0 !important
        .footer__item-title
          color: rgba($white,1)
          position: relative
          &::before
            content: ''
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            width: 10px
            height: 6px
            display: flex
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.071946 0.922098 -0.071946 1.19549 0.215836L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718293 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970491 9.79486 1.25839L5.49508 5.78424C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='white'/%3E%3C/svg%3E%0A")
            background-repeat: no-repeat

        .footer-list__item
          margin-bottom: 19px
          &:last-of-type
            margin-bottom: 0
          a
            font-size: 14px
            opacity: 0.5
        .footer__list
          display: none
          padding-bottom: 29px
        &.is-active
          .footer__item-title
            &::before
              transform: translateY(-50%) rotate(180deg)

    &-small-gap
      .footer__item-title
        margin-bottom: 11px
      .footer-list__item
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 0
  &__social
    display: flex
    flex-wrap: wrap
    width: 100%
    a
      margin-right: 33px
      font-size: 18px
      &:last-of-type
        margin-right: 0
    svg
      fill: $white
  .copiright
    font-size: 13px
    color: rgba($white,.7)
    margin-top: 23px
    margin-bottom: 26px
    width: 100%
    +r(478)
      margin-bottom: 0
      margin-top: 40px
      order: 3
      border-top: 1px solid rgba($white,0.1)
      padding-top: 23px
      padding-bottom: 0
  .payment
    margin-top: 50px
    width: 100%
    +r(478)
      margin-top: 40px
    img
      margin-right: 11px
      &:last-of-type
        margin-right: 0
