header
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1)
  z-index: 10
  position: relative
.top-header
  width: 100%
  padding: 6px 0
  font-size: 13px
  background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
  a
    color: $white
    &:hover
      text-decoration: none

.middle-header
  padding: 20px 0
  background: $white

.logo
  
  margin-right: 20px

  +r($mobile)
    margin-right: 0
    width: 115px
    height: 20px

.nav-burger
  svg
    width: 22px
    height: 15px

.auth
  display: flex
  align-items: center
  &-link
    display: flex
    align-items: center
  svg
    width: 13px
    height: 14px
    margin-right: 9px


.lang-switcher
  display: flex
  flex-wrap: wrap

.lang-switch
  font-size: 11px
  text-transform: uppercase
  color: $white
  padding: 4px 9px
  border-radius: 4px
  margin-right: 4px
  +rm
  &:last-of-type
    margin-right: 0
  &.is-active
    background: rgba($white, 0.2)

.middle-header
  +r($mobsmall)
    padding-top: 18px
    padding-bottom: 14px
  .uk-container
    +r($mobile)
      justify-content: space-between
      align-items: center


@import header/_call-us
@import header/_info-cart__side
@import header/drop-cart
@import header/drop-cat
@import header/top-search
@import header/dropdown-categories