.uk-offcanvas-bar
  background: $white
  padding: 0
  left: -331px
  width: 331px


.mobile-nav
  &__catalog
    
    display: none
    &-inner
      width: 100%
      margin: 0
      padding: 0
      .mobile-nav__item-title
        padding-left: 31px
        padding-top: 6px
        padding-bottom: 6px
        svg
          transform: scale(.8)
      .mobile-nav__drop
        padding-left: 35px
  &__top
    background: linear-gradient(90deg, #B33C3E 0%, #875169 21.35%, #66729C 35.42%, #5C8EC3 49.48%, #5893AE 64.06%, #55969F 73.85%, #58958C 82.29%, #5A947C 90.68%, #5B9365 100%)
    padding-top: 25px
    padding-bottom: 28px
    padding-left: 23px
    padding-right: 23px
    display: flex
    flex-wrap: wrap
    font-size: 13px
    align-items: center
    .icon-user
      width: 13px
      height: 15px
    .icon-close
      fill: $white
    .auth
      margin-left: 22px
    .lang-switcher
      margin-left: auto
  &__item
    font-size: 13px
    color: $grey
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    padding-left: 0
    border-bottom: 1px solid #E7ECEF
    margin-top: 0 !important
    .mobile-nav__catalog
      width: 100% !important
    &-content
      width: 100%
      margin: 0
      opacity: 1
      transition: all 1.5s ease
      &[hidden]
        opacity: 0
        transition: all 1.5s ease
      .mobile-nav__item
        justify-content: flex-start
    &.uk-open
      .mobile-nav__item-content
        opacity: 1
        transition: all 1.5s ease
      .mobile-nav__item-title
        background: linear-gradient(249.54deg, #F5F7F8 0%, #EFF1F2 99.78%)
        > .mobile-nav__icon
          svg
            fill: $red
        > .chevron
          svg
            fill: $red !important
        > .chevron
          transform: rotate(-180deg)
    &.uk-active
      background: linear-gradient(249.54deg, #F5F7F8 0%, #EFF1F2 99.78%)
    .chevron
      svg
        width: 8px
        height: 4px
        fill: $grey
    .chevron
      margin-left: auto
    .mobile-nav__icon
      display: flex
      align-items: center
    > .mobile-nav__item-title
      display: flex
      flex-wrap: wrap
      width: 100%
    &-title
      padding-left: 18px
      padding-right: 23px
      padding-top: 14px
      padding-bottom: 14px
      &::before
        display: none
    .icon-menu-nut
      width: 25px
      height: 22px
    .icon-menu-wrench
      width: 22px
      height: 22px
    .icon-menu-screwdriver
      width: 27px
      height: 22px
    .icon-menu-disk
      width: 22px
      height: 22px
  &__text
    font-size: 13px
    color: $grey
    flex: 1
    position: relative
    top: 1px
    display: flex
    align-items: center
    margin-left: 11px
    
  &__catalog
    margin: 0 !important
    
    &-switcher
      font-size: 16px
      color: $black
      +rm
      width: 100%
      display: flex
      flex-wrap: wrap
      align-items: center
      padding: 19px 23px
      background: linear-gradient(249.54deg, #F5F7F8 0%, #EFF1F2 99.78%)
      border-bottom: 1px solid #E7ECEF
      &.is-active
        .chevron
          svg
            transform: rotate(-180deg)
      .chevron
        svg
          width: 9px !important
          height: 5px !important
          fill: $black
      .icon-dots
        fill: $red
        margin-right: 22px
      .chevron
        margin-left: auto
      .mobile-nav__icon
        display: flex
        align-items: center
        .icon-dots
          width: 15px
          height: 15px
      .mobile-nav__text
        flex: 1
        position: relative
        top: 1px
        font-size: 16px
        color: $black
        +rm
        margin-left: 0
  &__drop
    margin: 0
    padding: 0
    padding-left: 20px
    padding-right: 20px
    padding-top: 16px
    padding-bottom: 20px
    width: 100%
    border-top:  1px solid #E7ECEF
    &-item
      font-size: 13px
      color: $black
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
      &__all
        svg
          fill: $grey
          width: 6px
          height: 9px
          margin-right: 8px
        .mobile-nav__drop-link
          color: $grey !important
    &-link
      color: $black !important
    &-doted
      .mobile-nav__drop-link
        position: relative
        display: flex
        flex-wrap: wrap
        align-items: center
        &::before
          content: ''
          width: 3px
          height: 3px
          display: flex
          background: $grey
          border-radius: 50%
          margin-right: 9px
      .mobile-nav__drop-item__all
        .mobile-nav__drop-link
          &::before
            display: none
  &__menu
    margin: 0 !important
    padding: 0
  &__link
    font-size: 15px
    color: $black !important
    padding: 14px 20px
    padding-right: 23px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    &::before
      display: none
  &__item
    &.uk-open
      .mobile-nav__link
        background: linear-gradient(249.54deg, #F5F7F8 0%, #EFF1F2 99.78%)
        
        
        > .icon-chevron-b
          
          transform: rotate(180deg)
          fill: $red !important

      
  &__footer
    padding-top: 37px
    padding-left: 22px
    padding-right: 22px
    padding-bottom: 54px
    .call-us__number
      font-size: 15px
      +rm
      color: $black
      margin-bottom: 10px
      display: flex
      width: 100%
      ~ .t-grey
        display: block
        margin-bottom: 17px
    .js-call-us-popup
      color: $grey
      font-size: 13px
      color: $grey
      border-bottom-color: $grey
      border-bottom-width: 1px
      border-bottom-style: dashed
      cursor: pointer
      &:hover
        text-decoration: none
        color: $grey
  &__social
    display: flex
    flex-wrap: wrap
    margin-top: 45px
    a
      margin-right: 33px
      font-size: 18px
      &:last-of-type
        margin-right: 0
    svg
      fill: $grey