.section-block
  padding: 80px 0
  +r($mobile)
    padding: 50px 0
  &:hover
    position: relative
    z-index: 8
  &__header
    display: flex
    flex-wrap: wrap
    width: 100%
    padding-bottom: 42px
    position: relative
    z-index: 5
    +r($mobile)
      padding-bottom: 18px
    .nice-select
      margin-left: auto
      +r(480)
        width: 100%
        margin-left: 0
        margin-top: 20px
    .default-tabs__nav
      margin-left: auto
      position: relative
      z-index: 5
      +r($mobile)
        margin-left: 0
        width: 100%
        margin-top: 15px
        padding-bottom: 10px
        flex-wrap: nowrap
        overflow-x: auto
    .card-slider__nav
      +r($mobile)
        display: none
  &__title
    font-size: 34px
    line-height: 129%
    +exm
    text-transform: uppercase
    display: flex
    align-items: center
    +r($mobile)
      font-size: 24px
      line-height: 183%
    + .section-block__more
      margin-left: 29px
      +r($mobile)
        margin-left: auto
    + .section-block__title-sub
      width: 100%
      margin-top: 30px
      margin-bottom: 30px
      span
  &__title-sub
    font-size: 15px
    line-height: 20px
    color: #000000
    opacity: 0.6
  &__more
    color: $grey
    display: flex
    align-items: center
    position: relative
    z-index: 5
    svg
      width: 6px
      height: 9px
      
      margin-right: 8px
      display: inline-flex
    svg
      fill: $grey
      width: 6px
      height: 9px
    svg + span
      font-size: 15px
      line-height: 18px
      +r($mobile)
        font-size: 13px
        line-height: 15px
    &:hover
      text-decoration: none
      color: $grey


.top-border-block
  position: relative
  &::before
    content: ''
    width: 100%
    height: 1px
    display: block
    background: rgba($black,0.06)
    position: relative
    top: -80px
    +r($mobile)
      top: -50px
  &.no-top-border
    &::before
      display: none