.seo-text
  padding-bottom: 86px
  &__title
    font-size: 22px
    line-height: 109%

    color: #4C5458
    margin-bottom: 22px
    +ex
  &__body
    color: rgba($black,.6)
    p
      margin-bottom: 22px
      &:last-of-type
        margin-bottom: 0