.social
  &-wrapper
    +r(767)
      padding-top: 20px
  &-item
    &__hmob
      +r(478)
        display: none
    &__top
      background: #FFFFFF
      padding: 11px
      position: relative
      +r(478)
        padding: 6px
      > div
        &:first-of-type
          padding-left: 0 !important
        +r(478)
          width: 50%
          margin-top: 0 !important
          padding-left: 6px
      img
        width: 100% 
        height: 238px
        object-fit: cover
        +r(478)
          height: calc(50vw - 27px)
    &__full
      +r(478)
        width: 100% !important
        height: 229px
        img
          height: 100%
    &__bot
      margin-top: 11px
      width: 100%
      height: 48px
      background: $white
      display: flex
      align-items: center
      justify-content: center
      color: $grey
      +r(478)
        margin-top: 6px
      svg
        margin-right: 8px
      &:hover
        text-decoration: none
        color: $grey
        background: $grey
        color: $white
        transition: all 0.3s
        svg
          path
            fill: $white
            transition: all 0.3s