<div class="mobile-nav__item mobile-nav__catalog-switcher ">
  <span class="mobile-nav__icon">{{mixins.icon('dots')}}</span><span class="mobile-nav__text">Каталог товарів</span>
  <span class="chevron">{{mixins.icon('chevron-b')}}</span>
</div>
<!-- begin mobile-nav__catalog -->
<ul class="mobile-nav__catalog " uk-accordion="animation: false">

  {% for item in header.dropnav %}

  <!-- begin mo -->
  <li class="mobile-nav__item">

    <span class="uk-accordion-title mobile-nav__item-title">
      <span class="mobile-nav__icon">{{mixins.icon(item.icon)}}</span><span class="mobile-nav__text">{{item.text}}</span>
      <span class="chevron">{{mixins.icon('chevron-b')}}</span>
    </span>


    <div class="uk-accordion-content mobile-nav__item-content">
      <!-- begin mobile-nav__catalog -->
      <ul class="mobile-nav__catalog-inner " uk-accordion="transition: 'fade'">

        {% for item in header.dropnav %}

        <!-- begin mo -->
        <li class="mobile-nav__item">

          <span class="uk-accordion-title mobile-nav__item-title">
            <span class="mobile-nav__text">{{item.text}}</span>
            <span class="chevron">{{mixins.icon('chevron-b')}}</span>
          </span>

          <ul class="mobile-nav__drop mobile-nav__drop-doted uk-accordion-content">
            <li class="mobile-nav__drop-item">
              <a href="" class="mobile-nav__drop-link">Крюки S-образные</a>
            </li>
            <li class="mobile-nav__drop-item">
              <a href="" class="mobile-nav__drop-link">Тросы стальные</a>
            </li>
            <li class="mobile-nav__drop-item">
              <a href="" class="mobile-nav__drop-link">Воротки</a>
            </li>
            <li class="mobile-nav__drop-item">
              <a href="" class="mobile-nav__drop-link">Крюки</a>
            </li>
            <li class="mobile-nav__drop-item">
              <a href="" class="mobile-nav__drop-link">Ключи-трещоточные</a>
            </li>
            <li class="mobile-nav__drop-item mobile-nav__drop-item__all">
              <a href="" class="mobile-nav__drop-link">{{mixins.icon('chevron-r')}} Все товары</a>
            </li>
          </ul>

          
        </li>
        <!-- end mo -->

        {% endfor %}
        
      </ul>
      <!-- end mobile-nav__catalog -->
    </div>

    
  </li>
  <!-- end mo -->

  {% endfor %}
  
</ul>
<!-- end mobile-nav__catalog -->